<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>댓글 목록</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" href="../../static/img/main/fabicon.png" type="image/png" sizes="50x50"/>
	<link rel="stylesheet" href="../../static/css/admin/admin-default.css">
    <link rel="stylesheet" href="../../static/css/admin/admin-modal.css">
    <link rel="stylesheet" href="../../static/css/admin/admin-boardList.css">
</head>
<body>
	<section class="header-section">
        <div class="info-title-box info-title-box-flex">
            <div class="logo-box-layout">
                <div class="logo-title-layout">
					<a href="/logout">
						<img class="logo-image" src="/img/header/Logo-main.png" alt="">
					</a>
                </div>
            </div>
            <div>
                <div class="select-name">
					<img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-down-b-128.png" class="depth1-icon">
                    <span>게시판 관리</span>	
                </div>
            </div>
        </div>
    </section>
    <main class="main-section">
        <!-- 임시 사이드바 -->
        <div id="side-bar"></div>
        <!-- 임시 사이드바 끝 -->
        <section class="content-section">
            <div class="container">
				<div class="container-margin">
					<!-- 헤더 -->
					<section class="board-info-box-layout">
						<div class="board-info-box">
							<div class="board-info-title-box">
								<span>댓글 목록</span>
								<div class="delete-box">
									<button class="delete-button">댓글 삭제</button>
								</div>
							</div>
							<div class="info-table">
								<table>
									<thead>
										<tr>
											<th>
                                                <label class="check-label">
												    <input type="checkbox" id="allSelect">
                                                </label>
											</th>
											<th>No</th>
											<th>댓글 내용</th>
											<th>게시글 제목</th>
											<th>작성자 명</th>
											<th>작성 날짜</th>
										</tr>
									</thead>
									<tr>
										<td>
                                            <label class="check-label">
											    <input type="checkbox" name="check">
                                            </label>
										</td>
										<td class="show-modal">1</td>
										<td class="show-modal">첫 댓글이에요~</td>
										<td class="show-modal">이 복지센터 아주 괜찮은거 같아요.</td>
										<td class="show-modal">이순신</td>
										<td class="show-modal">2023.01.11</td>
									</tr>
									<tr>
										<td>
											<label class="check-label">
											    <input type="checkbox" name="check">
                                            </label>
										</td>
										<td class="show-modal">2</td>
										<td class="show-modal">저도 그렇게 생각해요!!</td>
										<td class="show-modal">이 복지센터 아주 괜찮은거 같아요.</td>
										<td class="show-modal">이순신</td>
										<td class="show-modal">2023.01.11</td>
									</tr>
									<tr>
										<td>
											<label class="check-label">
											    <input type="checkbox" name="check">
                                            </label>
										</td>
										<td class="show-modal">3</td>
										<td class="show-modal">저도 그렇게 생각해요!!</td>
										<td class="show-modal">이 복지센터 아주 괜찮은거 같아요.</td>
										<td class="show-modal">이순신</td>
										<td class="show-modal">2023.01.11</td>
									</tr>
									<tr>
										<td>
											<label class="check-label">
											    <input type="checkbox" name="check">
                                            </label>
										</td>
										<td class="show-modal">4</td>
										<td class="show-modal">저도 그렇게 생각해요!!</td>
										<td class="show-modal">혼자서도 만들어 먹을 수 있는 메뉴!!</td>
										<td class="show-modal">이순신</td>
										<td class="show-modal">2023.02.27</td>
									</tr>
									<tr>
										<td>
											<label class="check-label">
											    <input type="checkbox" name="check">
                                            </label>
										</td>
										<td class="show-modal">5</td>
										<td class="show-modal">저도 그렇게 생각해요!!</td>
										<td class="show-modal">혼자서도 만들어 먹을 수 있는 메뉴!!</td>
										<td class="show-modal">이순신</td>
										<td class="show-modal">2023.02.28</td>
									</tr>
									<tr>
										<td>
											<label class="check-label">
											    <input type="checkbox" name="check">
                                            </label>
										</td>
										<td class="show-modal">6</td>
										<td class="show-modal">저도 그렇게 생각해요!!</td>
										<td class="show-modal">혼자서도 만들어 먹을 수 있는 메뉴!!</td>
										<td class="show-modal">이순신</td>
										<td class="show-modal">2023.03.19</td>
									</tr>
									<tr>
										<td>
											<label class="check-label">
											    <input type="checkbox" name="check">
                                            </label>
										</td>
										<td class="show-modal">7</td>
										<td class="show-modal">저도 그렇게 생각해요!!</td>
										<td class="show-modal">혼자서도 만들어 먹을 수 있는 메뉴!!</td>
										<td class="show-modal">이순신</td>
										<td class="show-modal">2023.03.22</td>
									</tr>
									<tr>
										<td>
											<label class="check-label">
											    <input type="checkbox" name="check">
                                            </label>
										</td>
										<td class="show-modal">8</td>
										<td class="show-modal">저도 그렇게 생각해요!!</td>
										<td class="show-modal">혼자서도 만들어 먹을 수 있는 메뉴!!</td>
										<td class="show-modal">이순신</td>
										<td class="show-modal">2023.03.22</td>
									</tr>
									<tr>
										<td>
											<label class="check-label">
											    <input type="checkbox" name="check">
                                            </label>
										</td>
										<td class="show-modal">9</td>
										<td class="show-modal">저도 그렇게 생각해요!!</td>
										<td class="show-modal">혼자서도 만들어 먹을 수 있는 메뉴!!</td>
										<td class="show-modal">이순신</td>
										<td class="show-modal">2023.03.22</td>
									</tr>
									<tr>
										<td>
											<label class="check-label">
											    <input type="checkbox" name="check">
                                            </label>
										</td>
										<td class="show-modal">10</td>
										<td class="show-modal">저도 그렇게 생각해요!!</td>
										<td class="show-modal">혼자서도 만들어 먹을 수 있는 메뉴!!</td>
										<td class="show-modal">이순신</td>
										<td class="show-modal">2023.04.17</td>
									</tr>
								</table>
								<!-- 페이지 버튼 -->
								<div class="page-button-box-layout">
									<div class="page-button-box">
										<!-- 페이지 번호 -->
										<div class="">
											<div class="page-button-margin">
												<div>
													<img src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_left_48px-128.png" class="left-button">
												</div>
											</div>
										</div>
										<div class="page-button-active page-button">
											<div class="page-button-margin">
												<div>
													<span>1</span>
												</div>
											</div>
										</div>
										<div class="page-button">
											<div class="page-button-margin">
												<div>
													<span>2</span>
												</div>
											</div>
										</div>
										<div class="page-button">
											<div class="page-button-margin">
												<div>
													<span>3</span>
												</div>
											</div>
										</div>
										<div class="">
											<div class="page-button-margin">
												<div>
													<img src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_right_48px-128.png" class="right-button">
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- 페이지 버튼 끝 -->
							</div>
						</div>
					</section>
				</div>
			</div>
        </section>
    </main>
    <section class="delete-modal">
		<div class="delete-modal-shape">
			<div class="modal-header">
				<h4>삭제 확인</h4>
			</div>
			<div class="modal-body">
				<p>정말로 삭제하겠습니까?</p>
			</div>
			<div class="modal-footer">
				<span class="confirm-delete">확인</span>
				<span class="cancel-delete">취소</span>
			</div>
		</div>
	</section>
    <section class="modal reply-position">
		<div class="modal-shape reply-shape">
			<div class="modal-header">
				<h4>댓글 상세보기</h4>
				<a class="modal-close">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						data-name="Capa 1"
						id="Capa_1"
						viewBox="0 0 20 19.84"
					>
						<path d="M10.17,10l3.89-3.89a.37.37,0,1,0-.53-.53L9.64,9.43,5.75,5.54a.37.37,0,1,0-.53.53L9.11,10,5.22,13.85a.37.37,0,0,0,0,.53.34.34,0,0,0,.26.11.36.36,0,0,0,.27-.11l3.89-3.89,3.89,3.89a.34.34,0,0,0,.26.11.35.35,0,0,0,.27-.11.37.37,0,0,0,0-.53Z"/>
					</svg>
				</a>
			</div>
			<form class="content-info" action>
				<main class="content-detail">
					<ul class="content-list-wrap">
						<li class="content-list">
							<span>작성자</span>
							<div class="content-input">
								<input type="text" value="지휘관" readonly/>
							</div>
						</li>
                        <li class="content-list">
							<span>작성날짜</span>
							<div class="content-input">
								<input type="text" value="2000.12.04" readonly/>
							</div>
						</li>
						<li class="content-list">
							<span>게시글 제목</span>
							<div class="content-input">
								<input type="text" value="혼자서도 만들어 먹을 수 있는 메뉴!!" readonly/>
							</div>
						</li>
                        <li class="content-list txt-align">
							<span>댓글 내용</span>
							<div class="content-input">
                                <textarea class="content-textarea" name="" readonly>아주 좋은 내용이에요. 정말 마음에 들어요</textarea>
							</div>
						</li>
					</ul>
				</main>
			</form>
		</div>
	</section>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="../../static/js/admin/menuLoad.js"></script>
<script src="../../static/js/admin/event.js"></script>
</html>