<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의사항 상세</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap"
          rel="stylesheet">
    <link rel="icon" href="/img/main/fabicon.png" type="image/png" sizes="50x50"/>
    <link rel="stylesheet" href="/css/admin/admin-default.css">
    <link rel="stylesheet" href="/css/admin/admin-modal.css">
    <link rel="stylesheet" href="/css/admin/admin-detail.css">
    <link rel="stylesheet" href="/css/admin/admin-boardList.css">
    <link rel="stylesheet" href="/css/admin/sidebar.css">
</head>
<body>
<section class="header-section">
    <div class="info-title-box info-title-box-flex">
        <div class="logo-box-layout">
            <div class="logo-title-layout">
                <a href="/logout">
                    <img class="logo-image" src="/img/header/Logo-main.png" alt="">
                </a>
            </div>
        </div>
        <div>
            <div class="select-name">
                <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-down-b-128.png"
                     class="depth1-icon">
                <span>문의내역 관리</span>
            </div>
        </div>
    </div>
</section>
<main class="main-section">
    <section class="side-menu-section" th:replace="~{admin/sidebar.html :: side-bar}"></section>
    <section class="content-section">
        <div class="container">
            <div class="go-list-box">
                <span class="go-list">← 리스트로 돌아가기</span>
            </div>
            <div class="detail-box-wrap">
                <div class="detail-box">
                    <div class="board-info-detail-box">
                        <span>문의내역</span>
                    </div>
                    <div>
                        <div class="inquire-img-wrapper">
                            <div class="inquire-img">
                                <img
                                        src=""
                                />
                            </div>
                            <div class="inquire-img">
                                <img
                                        src=""
                                />
                            </div>
                            <div class="inquire-img">
                                <img
                                        src=""
                                />
                            </div>
                        </div>
                        <ul class="content-list-wrap">
                            <li class="content-list">
                                <span>문의 제목</span>
                                <div class="content-input">
                                    <input type="text" name="inquiryTitle" value="" readonly/>
                                </div>
                            </li>
                            <li class="content-list">
                                <span>작성자</span>
                                <div class="content-input">
                                    <input type="text" name="userId" value="" readonly/>
                                </div>
                            </li>
                            <li class="content-list">
                                <span>등록 날짜</span>
                                <div class="content-input">
                                    <input type="text" name="createdDate" value="" readonly/>
                                </div>
                            </li>
                            <li class="content-list txt-align">
                                <span>문의 내용</span>
                                <div class="content-input">
                                    <textarea class="detail-textarea" name="inquiryContent" readonly></textarea>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="write-inquire">
                    <div class="write-inquire-box">
                        <span>답변하기</span>
                    </div>
                    <div class="answer-wrap">
                        <h5>답변내용</h5>
                        <textarea name="inquiryAnswerContent"></textarea>
                        <div class="file-box-wrap">
                            <div class="file-add-boxes">
                                <div class="div-attach-thumb">
                                    <label>
                                        <div class="btn-attach-thumb">
                                            <i class="ico-plus-xlg">
                                                <svg
                                                        height="26px"
                                                        viewBox="0 0 512 512"
                                                        width="26px"
                                                >
                                                    <g>
                                                        <path
                                                                d="M384,265H264v119h-17V265H128v-17h119V128h17v120h120V265z"
                                                        />
                                                    </g>
                                                </svg>
                                            </i>
                                        </div>
                                        <input
                                                type="file"
                                                name="answerFile"
                                                style="display: none"
                                                accept="image/*"
                                        />
                                    </label>
                                    <span class="cancel-image">x</span>
                                </div>
                            </div>
                            <div class="file-add-boxes">
                                <div class="div-attach-thumb">
                                    <label>
                                        <div class="btn-attach-thumb">
                                            <i class="ico-plus-xlg">
                                                <svg
                                                        height="26px"
                                                        viewBox="0 0 512 512"
                                                        width="26px"
                                                >
                                                    <g>
                                                        <path
                                                                d="M384,265H264v119h-17V265H128v-17h119V128h17v120h120V265z"
                                                        />
                                                    </g>
                                                </svg>
                                            </i>
                                        </div>
                                        <input
                                                type="file"
                                                name="answerFile"
                                                style="display: none"
                                                accept="image/*"
                                        />
                                    </label>
                                    <span class="cancel-image">x</span>
                                </div>
                            </div>
                            <div class="file-add-boxes">
                                <div class="div-attach-thumb">
                                    <label>
                                        <div class="btn-attach-thumb">
                                            <i class="ico-plus-xlg">
                                                <svg
                                                        height="26px"
                                                        viewBox="0 0 512 512"
                                                        width="26px"
                                                >
                                                    <g>
                                                        <path
                                                                d="M384,265H264v119h-17V265H128v-17h119V128h17v120h120V265z"
                                                        />
                                                    </g>
                                                </svg>
                                            </i>
                                        </div>
                                        <input
                                                type="file"
                                                name="answerFile"
                                                style="display: none"
                                                accept="image/*"
                                        />
                                    </label>
                                    <span class="cancel-image">x</span>
                                </div>
                            </div>
                            <p class="text-guide-md">
                                - 파일 3장까지 첨부 가능
                            </p>
                        </div>
                        <div class="button-box">
                            <button type="button" class="regist-button">등록하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<section class="delete-modal">
    <div class="delete-modal-shape">
        <div class="modal-header">
            <h4>삭제 확인</h4>
        </div>
        <div class="modal-body">
            <p>정말로 삭제하겠습니까?</p>
        </div>
        <div class="modal-footer">
            <span class="confirm-delete">확인</span>
            <span class="cancel-delete">취소</span>
        </div>
    </div>
</section>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/admin/sidebar.js"></script>
<script src="/js/CS/common.js"></script>
<script th:inline="javascript">
    const $inquiry = [[${inquiry}]];
    console.log($inquiry);
</script>
<script src="/js/admin/menuLoad.js"></script>
<script src="/js/admin/event.js"></script>
<script src="/js/admin/inquiryDetail.js"></script>
</html>