<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>유통업자 상세</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap"
          rel="stylesheet">
    <link rel="icon" href="/img/main/fabicon.png" type="image/png" sizes="50x50"/>
    <link rel="stylesheet" href="/css/admin/admin-default.css">
    <link rel="stylesheet" href="/css/admin/admin-modal.css">
    <link rel="stylesheet" href="/css/admin/admin-detail.css">
    <link rel="stylesheet" href="/css/admin/admin-boardList.css">
    <link rel="stylesheet" href="/css/admin/sidebar.css">
</head>
<body>
<section class="header-section">
    <div class="info-title-box info-title-box-flex">
        <div class="logo-box-layout">
            <div class="logo-title-layout">
                <a href="/logout">
                <img class="logo-image" src="/img/header/Logo-main.png" alt="">
                </a>
            </div>
        </div>
        <div>
            <div class="select-name">
                <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-down-b-128.png"
                     class="depth1-icon">
                <span>유통업자 관리</span>
            </div>
        </div>
    </div>
</section>
<main class="main-section">
    <section class="side-menu-section" th:replace="~{admin/sidebar.html :: side-bar}"></section>
    <section class="content-section">
        <div class="container">
            <div class="go-list-box">
                <!--<span class="go-list">← 리스트로 돌아가기</span>-->
            </div>
            <div class="detail-box-wrap" th:object="${distributor}">
                <div class="detail-box">
                    <div class="board-info-detail-box">
                        <span>유통업자 정보</span>
                    </div>
                    <div>
                        <div class="content-img-wrapper">
                            <div class="content-img one-img"></div>
                        </div>
                        <ul class="content-list-wrap" th:if="${distributor.id} == ${distributorId}">
                            <li class="content-list">
                                <span>업체명</span>
                                <div class="content-input">
                                    <input type="text" th:value="*{distributorName}" readonly/>
                                </div>
                            </li>
                            <li class="content-list">
                                <span>대표 번호</span>
                                <div class="content-input">
                                    <input type="text" th:value="*{userPhoneNumber}" readonly/>
                                </div>
                            </li>
                            <li class="content-list">
                                <span>대표 이메일</span>
                                <div class="content-input">
                                    <input type="text" th:value="*{userEmail}" readonly/>
                                </div>
                            </li>
                            <li class="content-list">
                                <span>주소</span>
                                <div class="content-input">
                                    <input type="text" th:value="*{address.firstAddress + address.addressDetail}"
                                           readonly/>
                                </div>
                            </li>
                            <li class="content-list">
                                <span>등록날짜</span>
                                <div class="content-input">
                                    <input type="text" th:value="*{#temporals.format(createdDate, 'yyyy-MM-dd')}"
                                           readonly/>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="detail-list">
                    <div class="board-info-detail-box">
                        <span>게제 목록</span>
                    </div>
                    <div class="table-box detail-table">
                        <div class="info-table">
                            <table class="table"></table>
                            <!-- 페이지 버튼 -->
                            <div class="page-button-box-layout"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<section class="delete-modal">
    <div class="delete-modal-shape">
        <div class="modal-header">
            <h4>삭제 확인</h4>
        </div>
        <div class="modal-body">
            <p>정말로 삭제하겠습니까?</p>
        </div>
        <div class="modal-footer">
            <span class="confirm-delete">확인</span>
            <span class="cancel-delete">취소</span>
        </div>
    </div>
</section>
<section class="modal">
    <div class="modal-shape menu-shape">
        <div class="modal-header">
            <h4>메뉴 상세보기</h4>
            <a class="modal-close">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        data-name="Capa 1"
                        id="Capa_1"
                        viewBox="0 0 20 19.84"
                >
                    <path d="M10.17,10l3.89-3.89a.37.37,0,1,0-.53-.53L9.64,9.43,5.75,5.54a.37.37,0,1,0-.53.53L9.11,10,5.22,13.85a.37.37,0,0,0,0,.53.34.34,0,0,0,.26.11.36.36,0,0,0,.27-.11l3.89-3.89,3.89,3.89a.34.34,0,0,0,.26.11.35.35,0,0,0,.27-.11.37.37,0,0,0,0-.53Z"/>
                </svg>
            </a>
        </div>
        <form class="content-info" action>
            <main class="content-detail product__detail__modal"></main><!--// 상품 상세보기 모달-->
        </form>
    </div>
</section>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/admin/menuLoad.js"></script>
<script src="/js/admin/event.js"></script>
<script src="/js/admin/sidebar.js"></script>
<script src="/js/admin/ajax.js"></script>
<script th:inline="javascript">
    const $distributor = [[${distributor}]];
    const $userFile = [[${userFile}]];
</script>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script>
    const $imgAppend = $(".one-img");
    let distributorProfile = "";

    if($userFile != null) {
        distributorProfile = `<img src="/image/display?fileName=${$userFile.filePath}/${$userFile.fileUuid}_${$userFile.fileOrgName}">`
    } else {
        distributorProfile = `<img src="https://us.123rf.com/450wm/mathier/mathier1905/mathier190500002/134557216-%ec%8d%b8%eb%84%a4%ec%9d%bc-%ec%9d%b4%eb%af%b8%ec%a7%80-%ec%97%86%ec%9d%8c-%ed%8f%ac%eb%9f%bc-%eb%b8%94%eb%a1%9c%ea%b7%b8-%eb%b0%8f-%ec%9b%b9%ec%82%ac%ec%9d%b4%ed%8a%b8%ec%9a%a9-%ec%9e%90%eb%a6%ac-%ed%91%9c%ec%8b%9c%ec%9e%90.jpg?ver=6">`;
    }

    $imgAppend.append(distributorProfile);
</script>
<script src="/js/admin/distributor-detail.js"></script>
</html>