<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 목록</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap"
          rel="stylesheet">
    <link rel="icon" href="/img/main/fabicon.png" type="image/png" sizes="50x50"/>
    <link rel="stylesheet" href="/css/admin/admin-default.css">
    <link rel="stylesheet" href="/css/admin/admin-modal.css">
    <link rel="stylesheet" href="/css/admin/admin-boardList.css">
    <link rel="stylesheet" href="/css/admin/sidebar.css">
</head>
<body>
<section class="header-section">
    <div class="info-title-box info-title-box-flex">
        <div class="logo-box-layout">
            <div class="logo-title-layout">
                <a href="/logout">
                    <img class="logo-image" src="/img/header/Logo-main.png" alt="">
                </a>
            </div>
        </div>
        <div>
            <div class="select-name">
                <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-down-b-128.png"
                     class="depth1-icon">
                <span>공지사항 관리</span>
            </div>
        </div>
    </div>
</section>
<main class="main-section">
    <section class="side-menu-section" th:replace="~{admin/sidebar.html :: side-bar}"></section>
    <section class="content-section">
        <div class="container">
            <div class="container-margin">
                <section class="board-info-box-layout">
                    <div class="board-info-box">
                        <div class="board-info-title-box">
                            <span>공지사항 목록</span>
                            <div class="button-wrap">
                                <div class="add-box">
                                    <button class="add-button">공지사항 추가</button>
                                </div>
                                <div class="delete-box">
                                    <button class="delete-button">공지사항 삭제</button>
                                </div>
                            </div>
                        </div>
                        <div class="info-table">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>
                                        <label class="check-label">
                                            <input type="checkbox" id="allSelect">
                                        </label>
                                    </th>
                                    <th>No</th>
                                    <th>제목</th>
                                    <th>내용</th>
                                    <th>작성자</th>
                                    <th>작성 날짜</th>
                                </tr>
                                </thead>
                                <!-- 목록 리스트가 나올 곳 -->
                                <tbody class="notice-list-wrap"></tbody>
                            </table>
                            <!-- 페이지 버튼 놓을 공간-->
                            <div class="paging-wrap"></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</main>
<section class="delete-modal">
    <div class="delete-modal-shape">
        <div class="modal-header">
            <h4>삭제 확인</h4>
        </div>
        <div class="modal-body">
            <p>정말로 삭제하겠습니까?</p>
        </div>
        <div class="modal-footer">
            <span class="confirm-delete">확인</span>
            <span class="cancel-delete">취소</span>
        </div>
    </div>
</section>
<section class="add-modal">
    <div class="modal-shape">
        <div class="modal-header">
            <h4>공지사항 작성</h4>
            <a class="modal-close">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        data-name="Capa 1"
                        id="Capa_2"
                        viewBox="0 0 20 19.84"
                >
                    <path d="M10.17,10l3.89-3.89a.37.37,0,1,0-.53-.53L9.64,9.43,5.75,5.54a.37.37,0,1,0-.53.53L9.11,10,5.22,13.85a.37.37,0,0,0,0,.53.34.34,0,0,0,.26.11.36.36,0,0,0,.27-.11l3.89-3.89,3.89,3.89a.34.34,0,0,0,.26.11.35.35,0,0,0,.27-.11.37.37,0,0,0,0-.53Z"/>
                </svg>
            </a>
        </div>
        <form class="make-notice" action>
            <div class="notice-form-box">
                <h5>공지사항 제목</h5>
                <input type="text" id="noticeTitle" name="noticeTitle" placeholder="제목을 작성해주세요">
                <h5>공지사항 내용</h5>
                <textarea id="noticeContent" name="noticeContent" placeholder="내용을 작성해주세요"></textarea>
            </div>
            <div class="file-box-wrap box-margin">
                <div class="file-add-boxes">
                    <div class="div-attach-thumb">
                        <label>
                            <div class="btn-attach-thumb">
                                <i class="ico-plus-xlg">
                                    <svg
                                            height="26px"
                                            viewBox="0 0 512 512"
                                            width="26px"
                                    >
                                        <g>
                                            <path
                                                    d="M384,265H264v119h-17V265H128v-17h119V128h17v120h120V265z"
                                            />
                                        </g>
                                    </svg>
                                </i>
                            </div>
                            <input
                                    type="file"
                                    name="imgFile"
                                    style="display: none"
                                    accept="image/*"
                            />
                        </label>
                        <span class="cancel-image">x</span>
                    </div>
                </div>
                <div class="file-add-boxes">
                    <div class="div-attach-thumb">
                        <label>
                            <div class="btn-attach-thumb">
                                <i class="ico-plus-xlg">
                                    <svg
                                            height="26px"
                                            viewBox="0 0 512 512"
                                            width="26px"
                                    >
                                        <g>
                                            <path
                                                    d="M384,265H264v119h-17V265H128v-17h119V128h17v120h120V265z"
                                            />
                                        </g>
                                    </svg>
                                </i>
                            </div>
                            <input
                                    type="file"
                                    name="imgFile"
                                    style="display: none"
                                    accept="image/*"
                            />
                        </label>
                        <span class="cancel-image">x</span>
                    </div>
                </div>
                <div class="file-add-boxes">
                    <div class="div-attach-thumb">
                        <label>
                            <div class="btn-attach-thumb">
                                <i class="ico-plus-xlg">
                                    <svg
                                            height="26px"
                                            viewBox="0 0 512 512"
                                            width="26px"
                                    >
                                        <g>
                                            <path
                                                    d="M384,265H264v119h-17V265H128v-17h119V128h17v120h120V265z"
                                            />
                                        </g>
                                    </svg>
                                </i>
                            </div>
                            <input
                                    type="file"
                                    name="imgFile"
                                    style="display: none"
                                    accept="image/*"
                            />
                        </label>
                        <span class="cancel-image">x</span>
                    </div>
                </div>
                <p class="text-guide-md">
                    - 파일 3장까지 첨부 가능
                </p>
            </div>
            <div class="button-box">
                <button type="button" class="regist-button">작성하기</button>
            </div>
        </form>
    </div>
</section>
<section class="modal">
    <div class="modal-shape">
        <div class="modal-header">
            <h4>공지사항 상세보기</h4>
            <a class="modal-close">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        data-name="Capa 1"
                        id="Capa_1"
                        viewBox="0 0 20 19.84"
                >
                    <path d="M10.17,10l3.89-3.89a.37.37,0,1,0-.53-.53L9.64,9.43,5.75,5.54a.37.37,0,1,0-.53.53L9.11,10,5.22,13.85a.37.37,0,0,0,0,.53.34.34,0,0,0,.26.11.36.36,0,0,0,.27-.11l3.89-3.89,3.89,3.89a.34.34,0,0,0,.26.11.35.35,0,0,0,.27-.11.37.37,0,0,0,0-.53Z"/>
                </svg>
            </a>
        </div>
        <form class="content-info" action>
            <main class="content-detail">
                <h5 class="detail-title">공지사항 상세정보</h5>
            </main>
        </form>
    </div>
</section>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/admin/sidebar.js"></script>
<script src="/js/CS/common.js"></script>
<script src="/js/admin/event.js"></script>
<script src="/js/admin/admin-notice.js"></script>
</html>