<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>복지센터 목록</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" href="/img/main/fabicon.png" type="image/png" sizes="50x50"/>
	<link rel="stylesheet" href="/css/admin/admin-default.css">
    <link rel="stylesheet" href="/css/admin/admin-modal.css">
    <link rel="stylesheet" href="/css/admin/admin-boardList.css">
	<link rel="stylesheet" href="/css/admin/sidebar.css">
</head>
<body>
	<section class="header-section">
        <div class="info-title-box info-title-box-flex">
            <div class="logo-box-layout">
                <div class="logo-title-layout">
					<a href="/logout">
						<img class="logo-image" src="/img/header/Logo-main.png" alt="">
					</a>
                </div>
            </div>
            <div>
                <div class="select-name">
					<img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-down-b-128.png" class="depth1-icon">
                    <span>복지센터 관리</span>	
                </div>
            </div>
        </div>
    </section>
    <main class="main-section">
		<section class="side-menu-section" th:replace="~{admin/sidebar.html :: side-bar}"></section>
        <section class="content-section">
            <div class="container">
				<div class="container-margin">
					<section class="board-info-box-layout">
						<div class="board-info-box">
							<div class="board-info-title-box">
								<span>복지센터 목록</span>
								<div class="delete-box">
<!--									<button class="delete-button">센터 삭제</button>-->
								</div>
							</div>
							
							<div class="info-table">
								<table>
									<thead>
										<tr>
											<th>
                                                <label class="check-label">
												    <input type="checkbox" id="allSelect">
                                                </label>
											</th>
											<th>No</th>
											<th>복지관명</th>
											<th>전화번호</th>
											<th>주소</th>
											<th>이메일</th>
										</tr>
									</thead>
									<tr th:each="welfares : ${welfares}" th:object="${welfares}">
										<td>
											<label class="check-label">
											    <input type="checkbox" name="check" class="check__box">
                                            </label>
										</td>
										<td th:text="*{id}" class="toWelfareDetail"></td>
										<td th:text="*{welfareName}" class="toWelfareDetail"></td>
										<td th:text="*{userPhoneNumber}" class="toWelfareDetail"></td>
										<td th:text="*{address.firstAddress}" class="toWelfareDetail"></td>
										<td th:text="*{userEmail}" class="toWelfareDetail"></td>
									</tr>
								</table>
								<!-- 페이지 버튼 -->
								<div th:if="${pageDTO.total != 0}" class="page-button-box-layout">
									<div class="page-button-box">
										<!-- 페이지 번호 -->
										<div class="">
											<div class="page-button-margin">
												<div>
													<a th:if="${pageDTO.prev}" th:href="'javascript:setPage(' + ${pageDTO.startPage - 1} + ')'" ><img src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_left_48px-128.png" class="left-button"></a>
												</div>
											</div>
										</div>
										<th:block th:each="page : ${#numbers.sequence(pageDTO.startPage, pageDTO.endPage)}">
											<div th:if="${pageDTO.pageNum == page}" th:attr="onclick='setPage(' + ${page} + ')'" class="page-button-active page-button">
												<div class="page-button-margin">
													<div>
														<span th:text="${page}"></span>
													</div>
												</div>
											</div>
											<div th:unless="${pageDTO.pageNum == page}" th:attr="onclick='setPage(' + ${page} + ')'" class="page-button">
												<div class="page-button-margin">
													<div>
														<span th:text="${page}"></span>
													</div>
												</div>
											</div>
										</th:block>
										<div class="">
											<div class="page-button-margin">
												<div>
													<a th:if="${pageDTO.next}" th:href="'javascript:setPage(' + ${pageDTO.endPage + 1} + ')'"><img src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_right_48px-128.png" class="right-button"></a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- 페이지 버튼 끝 -->
							</div>
						</div>
					</section>
				</div>
			</div>
        </section>
    </main>
    <section class="delete-modal">
		<div class="delete-modal-shape">
			<div class="modal-header">
				<h4>삭제 확인</h4>
			</div>
			<div class="modal-body">
				<p>정말로 삭제하겠습니까?</p>
			</div>
			<div class="modal-footer">
				<span class="confirm-delete">확인</span>
				<span class="cancel-delete">취소</span>
			</div>
		</div>
	</section>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/admin/menuLoad.js"></script>
<script src="/js/admin/event.js"></script>
<script src="/js/admin/sidebar.js"></script>
<script src="/js/admin/toDetail.js"></script>
<script src="/js/admin/ajax.js"></script>
</html>