<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 목록</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/admin/admin-boardList.css">
</head>
<body>
	<!-- 임시 사이드바 -->
	<div id="side-bar"></div>
	<!-- 임시 사이드바 끝 -->
	<section>
		<div class="info-title-box info-title-box-flex">
			<div class="logo-box-layout"></div>
			<div>
				<div class="select-name">
					<span>회원 관리</span>	
				</div>
			</div>
		</div>
		<div class="wrap"> 
			<div class="container">
				<div class="container-margin">
					<!-- 헤더 -->
					<!-- 내용 섹션 -->
					<section class="board-info-box-layout">
						<div class="board-info-box">
							<div class="board-info-title-box">
								<span>회원 목록</span>
								<div class="delete-box">
									<button class="delete-button">회원 삭제</button>
								</div>
							</div>
							
							<div class="info-table">
								<table>
									<thead>
										<tr>
											<th>
                                                <label class="check-label">
												    <input type="checkbox" id="allSelect">
                                                </label>
											</th>
											<th>No</th>
											<th>이름</th>
											<th>닉네임</th>
											<th>전화번호</th>
											<th>이메일</th>
											<th>생년월일</th>
											<th>평생회원</th>
										</tr>
									</thead>
									<tr>
										<td>
											<label class="check-label">
											    <input type="checkbox" name="check">
                                            </label>
										</td>
										<td>1</td>
										<td>한동석</td>
										<td>멋쟁이</td>
										<td>010-1234-1234</td>
										<td>hds123@gmail.com</td>
										<td>2000.12.04</td>
										<td>평생회원</td>
									</tr>
									<tr>
										<td>
											<label class="check-label">
											    <input type="checkbox" name="check">
                                            </label>
										</td>
										<td>2</td>
										<td>이순신</td>
										<td>장군님</td>
										<td>010-0000-0000</td>
										<td>lss123@naver.com</td>
										<td>1995.02.12</td>
										<td>평생회원</td>
									</tr>
									<tr>
										<td>
											<label class="check-label">
											    <input type="checkbox" name="check">
                                            </label>
										</td>
										<td>3</td>
										<td>홍길동</td>
										<td>서자</td>
										<td>010-0123-0123</td>
										<td>hgd123@naver.com</td>
										<td>1999.04.27</td>
										<td></td>
									</tr>
									<tr>
										<td>
											<label class="check-label">
											    <input type="checkbox" name="check">
                                            </label>
										</td>
										<td>4</td>
										<td>을지문덕</td>
										<td>지휘관</td>
										<td>010-1111-2222</td>
										<td>uzmd123@naver.com</td>
										<td>1991.08.16</td>
										<td></td>
									</tr>
								</table>
								<!-- 페이지 버튼 -->
								<div class="page-button-box-layout">
									<div class="page-button-box">
										<!-- 페이지 번호 -->
										<div class="">
											<div class="page-button-margin">
												<div>
													<img src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_left_48px-128.png" class="left-button">
												</div>
											</div>
										</div>
										<div class="page-button-active page-button">
											<div class="page-button-margin">
												<div>
													<span>1</span>
												</div>
											</div>
										</div>
										<div class="page-button">
											<div class="page-button-margin">
												<div>
													<span>2</span>
												</div>
											</div>
										</div>
										<div class="page-button">
											<div class="page-button-margin">
												<div>
													<span>3</span>
												</div>
											</div>
										</div>
										<div class="">
											<div class="page-button-margin">
												<div>
													<img src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_right_48px-128.png" class="right-button">
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- 페이지 버튼 끝 -->
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="../../static/js/admin/menuLoad.js"></script>
<script src="../../static/js/admin/checkbox.js"></script>
<script src="../../static/js/admin/page.js"></script>
</html>