<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>side-menu</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin/sidebar.css">
</head>
<body>
    <section th:fragment="side-bar" class="side-menu-section">
        <aside class="side-menu">
            <div>
                <ul class="menu-bar">
                    <li class="menu">
                        <div class="menu-flex">
                            <div>
                                <img src="https://cdn2.iconfinder.com/data/icons/picol-vector/32/user_profile-128.png" class="icon">
                            </div>
                            <a th:href="@{/admin/member-list}">
                                <span>회원정보 관리</span>
                            </a>
                        </div>
                    </li>
                    <li class="menu">
                        <div class="menu-flex">
                            <div>
                                <img src="https://cdn2.iconfinder.com/data/icons/boxicons-solid-vol-1/24/bxs-building-house-128.png" class="icon">
                            </div> 
                            <a th:href="@{/admin/welfare-list}">
                                <span>복지센터 관리</span>  
                            </a>
                        </div>
                    </li>
                    <li class="menu">
                        <div class="menu-flex">
                            <div>
                                <img src="https://cdn0.iconfinder.com/data/icons/elasto-online-store/26/00-ELASTOFONT-STORE-READY_delivery-128.png" class="icon">
                            </div> 
                            <a th:href="@{/admin/distributor-list}">
                                <span>유통업자 관리</span>  
                            </a>
                        </div>
                    </li>
                    <li class="menu">
                        <div class="menu-flex">
                            <div>
                                <img src="https://cdn0.iconfinder.com/data/icons/stationery-48/128/board-cork-bulletin-notice-message-128.png" class="icon">
                            </div> 
                            <span>게시판 관리</span>
                            <div class="triangle-button">
                                <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-down-b-128.png" class="icon triangle-icon triangle">
                            </div>
                        </div>
                        <ul class="menus1 menus" style="display: none;">
                            <li class="select-menu">
                                <a th:href="@{/admin/reviewBoard-list}">
                                    <span>리뷰 게시물</span>
                                </a>
                            </li>
                            <li class="select-menu">
                                <a th:href="@{/admin/recipeBoard-list}">
                                    <span>레시피 게시물</span>
                                </a>
                            </li>
                            <li class="select-menu">
                                <a th:href="@{/admin/donationBoard-list}">
                                    <span>기부 게시물</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu">
                        <div class="menu-flex">
                            <div>
                                <img src="https://cdn2.iconfinder.com/data/icons/ecommerce-gliph/48/ecommerce_commerce_Cs_customer_service_person_ask_informant-128.png" class="icon">
                            </div>
                            <span>고객센터</span>
                            <div class="triangle-button">
                                <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-down-b-128.png" class="icon triangle-icon triangle">
                            </div>
                        </div>
                        <ul class="menus2 menus" style="display:none;">
                            <li class="select-menu">
                                <a href="">
                                    <span>문의사항 관리</span>
                                </a>
                            </li>
                            <li class="select-menu">
                                <a th:href="@{/admin/admin-noticeList}">
                                    <span>공지사항 관리</span>
                                </a>
                            </li>
                        </ul>	
                    </li>
                    <li class="menu">
                        <div class="menu-flex">
                            <div>
                                <img src="https://cdn2.iconfinder.com/data/icons/e-commerce-line-4-1/1024/product4-128.png" class="icon">
                            </div> 
                            <a th:href="@{/admin/payment-list}">
                                <span>결제 관리</span>  
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
    </section>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/admin/sidebar.js"></script>
</html>