<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>랭킹닭컴</title>
        <link rel="icon" href="../../static/img/main/fabicon.png" type="image/png" sizes="50x50"/>
        <link rel="stylesheet" href="../../../static/css/global/global.css" />
        <link rel="stylesheet" href="../../../static/css/main/mobile/main.css" />
    </head>
    <body>
        <header class="header-stage"></header>
        <main class="wrap-main">
            <section class="container banner-container">
                <!-- 메인 배너 -->
                <div class="banner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="move-arrow">
                    <!-- 배너의 카운트 -->
                    <span class="banner-count"></span>
                </div>
            </section>
            <div class="category-menu">
                <ul class="menu-list">
                    <!-- [Dev] 20220422 수정 -->
                    <li>
                        <a href="/product/list?depth1=R402">
                            <i class="fast-forward-icon"
                                ><img
                                    src="https://www.rankingdak.com/resources/mobile/images/icon/category-ico-family2.png"
                            /></i>
                            <span class="txt">가정의달</span>
                        </a>
                    </li>
                    <li>
                        <a href="/promotion/exhibit/hiddenList?exhibitionCd=EX202204150000000014">
                            <i class="fast-forward-icon"
                                ><img
                                    src="https://www.rankingdak.com/resources/mobile/images/icon/category-ico-family2.png"
                            /></i>
                            <span class="txt">신상품</span>
                        </a>
                    </li>
                    <li>
                        <a href="/display/gift">
                            <i class="fast-forward-icon"
                                ><img
                                    src="https://www.rankingdak.com/resources/mobile/images/icon/category-ico-family2.png"
                            /></i>
                            <span class="txt">선물하기</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fast-forward-icon"
                                ><img
                                    src="https://www.rankingdak.com/resources/mobile/images/icon/category-ico-family2.png"
                            /></i>
                            <span class="txt">닭가슴살</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fast-forward-icon"
                                ><img
                                    src="https://www.rankingdak.com/resources/mobile/images/icon/category-ico-family2.png"
                            /></i>
                            <span class="txt">즉석 간편식</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="mid-banner">
                <a href="javascript:void(0)">
                    <img
                        src="https://www.rankingdak.com/resources/mobile/images/img/sliding-banner-right_20230307.jpg"
                    />
                </a>
            </div>
            <article class="main-article">
                <div class="inner-flex article-title-area">
                    <h3 class="left-item1 article-title">MD Pick! 추천 상품</h3>
                </div>
                <div class="prd-slide-area">
                    <div class="swiper-container">
                        <ul class="swiper-wrapper" data-position="0" data-curpos="0">
                            <li class="swiper-slide swiper-slide-active">
                                <div class="bnr-item">
                                    <div class="img">
                                        <img
                                            src="https://file.rankingdak.com/image/RANK/BANNER/AR_IMG_9/20230425/IMG1682GKA382506116.jpg"
                                        />
                                    </div>
                                    <em class="tit text-elp2">소스 닭가슴살계의 끝판왕👑</em>
                                    <span class="desc text-elps">한입 소스 닭가슴살</span>
                                    <a
                                        href="/product/view?productCd=F000002335"
                                        class="btn-blank"
                                    ></a>
                                </div>
                            </li>
                            <!--// swiper-slide -->
                            <li class="swiper-slide swiper-slide-active">
                                <div class="bnr-item">
                                    <div class="img">
                                        <img
                                            src="https://file.rankingdak.com/image/RANK/BANNER/AR_IMG_5/20230421/IMG1682tbz052996668.jpg"
                                        />
                                    </div>
                                    <em class="tit text-elp2">제대로 된 식단 관리의 필수식</em>
                                    <span class="desc text-elps">저염 스팀 닭가슴살</span>
                                    <a href="/product/view?productCd=25929" class="btn-blank"></a>
                                </div>
                            </li>
                            <!--// swiper-slide -->
                            <li class="swiper-slide swiper-slide-active">
                                <div class="bnr-item">
                                    <div class="img">
                                        <img
                                            src="https://file.rankingdak.com/image/RANK/BANNER/AR_IMG_10/20230331/IMG1680ZAf252510921.jpg"
                                        />
                                    </div>
                                    <em class="tit text-elp2">괴물도 깜작 놀랄 푸짐한 용량😲</em>
                                    <span class="desc text-elps">닭가슴살 몬스터 볶음밥</span>
                                    <a href="/product/view?productCd=24931" class="btn-blank"></a>
                                </div>
                            </li>
                            <li class="swiper-slide swiper-slide-active">
                                <div class="bnr-item">
                                    <div class="img">
                                        <img
                                            src="https://file.rankingdak.com/image/RANK/BANNER/AR_IMG_10/20230331/IMG1680ZAf252510921.jpg"
                                        />
                                    </div>
                                    <em class="tit text-elp2">괴물도 깜작 놀랄 푸짐한 용량😲</em>
                                    <span class="desc text-elps">닭가슴살 몬스터 볶음밥</span>
                                    <a href="/product/view?productCd=24931" class="btn-blank"></a>
                                </div>
                            </li>
                        </ul>
                        <!--// swiper-wrapper -->
                        <span
                            class="swiper-notification"
                            aria-live="assertive"
                            aria-atomic="true"
                        ></span>
                    </div>
                </div>
                <!--// swiper-container -->
            </article>
            <article class="main-article">
                <div class="inner-flex article-title-area">
                    <h3 class="left-item1 article-title">MD Pick! 추천 상품</h3>
                </div>
                <div class="prd-slide-area">
                    <div class="swiper-container">
                        <ul class="swiper-wrapper" data-position="0" data-curpos="0">
                            <li class="swiper-slide swiper-slide-active">
                                <div class="bnr-item">
                                    <div class="img">
                                        <img
                                            src="https://file.rankingdak.com/image/RANK/BANNER/AR_IMG_9/20230425/IMG1682GKA382506116.jpg"
                                        />
                                    </div>
                                    <em class="tit text-elp2">소스 닭가슴살계의 끝판왕👑</em>
                                    <span class="desc text-elps">한입 소스 닭가슴살</span>
                                    <a
                                        href="/product/view?productCd=F000002335"
                                        class="btn-blank"
                                    ></a>
                                </div>
                            </li>
                            <!--// swiper-slide -->
                            <li class="swiper-slide swiper-slide-active">
                                <div class="bnr-item">
                                    <div class="img">
                                        <img
                                            src="https://file.rankingdak.com/image/RANK/BANNER/AR_IMG_5/20230421/IMG1682tbz052996668.jpg"
                                        />
                                    </div>
                                    <em class="tit text-elp2">제대로 된 식단 관리의 필수식</em>
                                    <span class="desc text-elps">저염 스팀 닭가슴살</span>
                                    <a href="/product/view?productCd=25929" class="btn-blank"></a>
                                </div>
                            </li>
                            <!--// swiper-slide -->
                            <li class="swiper-slide swiper-slide-active">
                                <div class="bnr-item">
                                    <div class="img">
                                        <img
                                            src="https://file.rankingdak.com/image/RANK/BANNER/AR_IMG_10/20230331/IMG1680ZAf252510921.jpg"
                                        />
                                    </div>
                                    <em class="tit text-elp2">괴물도 깜작 놀랄 푸짐한 용량😲</em>
                                    <span class="desc text-elps">닭가슴살 몬스터 볶음밥</span>
                                    <a href="/product/view?productCd=24931" class="btn-blank"></a>
                                </div>
                            </li>
                            <li class="swiper-slide swiper-slide-active">
                                <div class="bnr-item">
                                    <div class="img">
                                        <img
                                            src="https://file.rankingdak.com/image/RANK/BANNER/AR_IMG_10/20230331/IMG1680ZAf252510921.jpg"
                                        />
                                    </div>
                                    <em class="tit text-elp2">괴물도 깜작 놀랄 푸짐한 용량😲</em>
                                    <span class="desc text-elps">닭가슴살 몬스터 볶음밥</span>
                                    <a href="/product/view?productCd=24931" class="btn-blank"></a>
                                </div>
                            </li>
                        </ul>
                        <!--// swiper-wrapper -->
                        <span
                            class="swiper-notification"
                            aria-live="assertive"
                            aria-atomic="true"
                        ></span>
                    </div>
                </div>
                <!--// swiper-container -->
            </article>
            <article class="main-article best-brand-list">
                <div class="inner-flex article-title-area">
                    <h3 class="left-item1 article-title">복지관 기부 관련</h3>
                </div>
                <div class="prd-slide-area bsb-main-slide">
                    <div class="swiper-container welfare-donation-list">
                        <ul class="swiper-wrapper" data-position="0" data-curpos="0">
                            <li class="swiper-slide swiper-slide-active">
                                <a href="javascript:void(0)" class="goView">
                                    <div class="bsb-item-img-wrap">
                                        <img
                                            src="https://file.rankingdak.com/image/RANK/PRODUCT/BRAND_MO/20220410/IMG1649zlg592997206.jpg"
                                        />
                                    </div>
                                    <div class="bsb-item-txt">
                                        <strong>맛있닭</strong>Life is Delicious!
                                    </div>
                                </a>
                            </li>
                            <li class="swiper-slide swiper-slide-next">
                                <a href="javascript:void(0)" class="goView">
                                    <div class="bsb-item-img-wrap">
                                        <img
                                            data-src="https://file.rankingdak.com/image/RANK/PRODUCT/BRAND_MO/20220329/IMG1648tGp549593465.jpg"
                                            alt="잇메이트"
                                            src="https://file.rankingdak.com/image/RANK/PRODUCT/BRAND_MO/20220329/IMG1648tGp549593465.jpg"
                                        />
                                    </div>
                                    <div class="bsb-item-txt">
                                        <strong>잇메이트</strong>매일 손이 가는 나만의 식단친구!
                                    </div>
                                </a>
                            </li>
                            <li class="swiper-slide">
                                <a href="javascript:void(0)" class="goView">
                                    <div class="bsb-item-img-wrap">
                                        <img
                                            data-src="https://file.rankingdak.com/image/RANK/PRODUCT/BRAND_MO/20230322/IMG1679yFU449095118.jpg"
                                            alt="러브잇"
                                            src="https://file.rankingdak.com/image/RANK/PRODUCT/BRAND_MO/20230322/IMG1679yFU449095118.jpg"
                                        />
                                    </div>
                                    <div class="bsb-item-txt">
                                        <strong>러브잇</strong>We Love to Eat!
                                    </div>
                                </a>
                            </li>
                            <li class="swiper-slide">
                                <a href="javascript:void(0)" class="goView">
                                    <div class="bsb-item-img-wrap">
                                        <img
                                            data-src="https://file.rankingdak.com/image/RANK/PRODUCT/BRAND_MO/20220513/IMG1652GWQ424594603.jpg"
                                            alt="한끼통살"
                                            src="https://file.rankingdak.com/image/RANK/PRODUCT/BRAND_MO/20220513/IMG1652GWQ424594603.jpg"
                                        />
                                    </div>
                                    <div class="bsb-item-txt">
                                        <strong>한끼통살</strong>입맛을 저격할 특제 소스를 품은
                                        닭가슴살
                                    </div>
                                </a>
                            </li>
                            <li class="swiper-slide">
                                <a href="javascript:void(0)" class="goView" data-target="B000065">
                                    <div class="bsb-item-img-wrap">
                                        <img
                                            src="https://file.rankingdak.com/image/RANK/PRODUCT/BRAND_MO/20220819/IMG1660KUi895372377.jpg"
                                        />
                                    </div>
                                    <div class="bsb-item-txt">
                                        <strong>닥터유</strong>닥터유만의 완벽한 영양설계
                                    </div>
                                </a>
                            </li>
                            <li class="swiper-slide">
                                <a href="javascript:void(0)" class="goView">
                                    <div class="bsb-item-img-wrap">
                                        <img
                                            src="https://file.rankingdak.com/image/RANK/PRODUCT/BRAND_MO/20220411/IMG1649ASO641150274.jpg"
                                        />
                                    </div>
                                    <div class="bsb-item-txt">
                                        <strong>탉</strong>맛있고, 재미있게, 건강하게, 탉과 함께
                                    </div>
                                </a>
                            </li>
                            <li class="swiper-slide">
                                <a href="javascript:void(0)" class="goView">
                                    <div class="bsb-item-img-wrap">
                                        <img
                                            src="https://file.rankingdak.com/image/RANK/PRODUCT/BRAND_MO/20221115/IMG1668ZLx474005575.jpg"
                                        />
                                    </div>
                                    <div class="bsb-item-txt">
                                        <strong>풀무원</strong>바른 먹거리 풀무원
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <span class="swiper-notification"></span>
                    </div>
                </div>
            </article>
            <div class=".footer-stage"></div>
        </main>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(".header-stage").load("../../../templates/component/mobile/header.html");
        $(".footer-stage").load("../../../templates/component/mobile/footer.html");
    </script>
    <script src="../../../static/js/main/banner.js"></script>
    <script src="../../../static/js/main/mobile/main.js"></script>
    <!-- 추후 타임리프 fragment로 변경 -->
</html>
