<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>랭킹닭컴</title>
        <link rel="stylesheet" href="../../../static/css/global/global.css" />
        <link rel="stylesheet" href="../../../static/css/main/mobile/main.css" />
    </head>
    <body>
        <header class="header-stage"></header>
        <main class="wrap-main">
            <section class="container banner-container">
                <!-- 메인 배너 -->
                <div class="banner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="move-arrow">
                    <!-- 배너의 카운트 -->
                    <span class="banner-count"></span>
                </div>
            </section>
            <div class="category-menu">
                <ul class="menu-list">
                    <!-- [Dev] 20220422 수정 -->
                    <li>
                        <a href="/product/list?depth1=R402">
                            <i class="fast-forward-icon"
                                ><img
                                    src="https://www.rankingdak.com/resources/mobile/images/icon/category-ico-family2.png"
                            /></i>
                            <span class="txt">가정의달</span>
                        </a>
                    </li>
                    <li>
                        <a href="/promotion/exhibit/hiddenList?exhibitionCd=EX202204150000000014">
                            <i class="fast-forward-icon"
                                ><img
                                    src="https://www.rankingdak.com/resources/mobile/images/icon/category-ico-family2.png"
                            /></i>
                            <span class="txt">신상품</span>
                        </a>
                    </li>
                    <li>
                        <a href="/display/gift">
                            <i class="fast-forward-icon"
                                ><img
                                    src="https://www.rankingdak.com/resources/mobile/images/icon/category-ico-family2.png"
                            /></i>
                            <span class="txt">선물하기</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fast-forward-icon"
                                ><img
                                    src="https://www.rankingdak.com/resources/mobile/images/icon/category-ico-family2.png"
                            /></i>
                            <span class="txt">닭가슴살</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fast-forward-icon"
                                ><img
                                    src="https://www.rankingdak.com/resources/mobile/images/icon/category-ico-family2.png"
                            /></i>
                            <span class="txt">즉석 간편식</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="mid-banner">
                <a href="javascript:void(0)">
                    <img
                        src="https://www.rankingdak.com/resources/mobile/images/img/sliding-banner-right_20230307.jpg"
                    />
                </a>
            </div>
            <article class="main-article">
                <div class="inner-flex article-title-area">
                    <h3 class="left-item1 article-title">MD Pick! 추천 상품</h3>
                </div>
                <div class="prd-slide-area">
                    <div class="swiper-container">
                        <ul class="swiper-wrapper">
                            <li class="swiper-slide swiper-slide-active">
                                <div class="bnr-item">
                                    <div class="img">
                                        <img
                                            class="lozad"
                                            data-src="https://file.rankingdak.com/image/RANK/BANNER/AR_IMG_9/20230425/IMG1682GKA382506116.jpg"
                                            alt="소스 닭가슴살계의 끝판왕👑"
                                            width="148"
                                            height="148"
                                            src="https://file.rankingdak.com/image/RANK/BANNER/AR_IMG_9/20230425/IMG1682GKA382506116.jpg"
                                            data-loaded="true"
                                        />
                                    </div>
                                    <em class="tit text-elp2">소스 닭가슴살계의 끝판왕👑</em>
                                    <span class="desc text-elps">한입 소스 닭가슴살</span>
                                    <a
                                        href="/product/view?productCd=F000002335"
                                        class="btn-blank"
                                    ></a>
                                </div>
                            </li>
                            <!--// swiper-slide -->
                            <li class="swiper-slide swiper-slide-next">
                                <div class="bnr-item">
                                    <div class="img">
                                        <img
                                            class="lozad"
                                            data-src="https://file.rankingdak.com/image/RANK/BANNER/AR_IMG_5/20230421/IMG1682tbz052996668.jpg"
                                            alt="제대로 된 식단 관리의 필수식"
                                            width="148"
                                            height="148"
                                            src="https://file.rankingdak.com/image/RANK/BANNER/AR_IMG_5/20230421/IMG1682tbz052996668.jpg"
                                            data-loaded="true"
                                        />
                                    </div>
                                    <em class="tit text-elp2">제대로 된 식단 관리의 필수식</em>
                                    <span class="desc text-elps">저염 스팀 닭가슴살</span>
                                    <a href="/product/view?productCd=25929" class="btn-blank"></a>
                                </div>
                            </li>
                            <!--// swiper-slide -->
                            <li class="swiper-slide">
                                <div class="bnr-item">
                                    <div class="img">
                                        <img
                                            class="lozad"
                                            data-src="https://file.rankingdak.com/image/RANK/BANNER/AR_IMG_10/20230331/IMG1680ZAf252510921.jpg"
                                            alt="괴물도 깜작 놀랄 푸짐한 용량😲"
                                            width="148"
                                            height="148"
                                            src="https://file.rankingdak.com/image/RANK/BANNER/AR_IMG_10/20230331/IMG1680ZAf252510921.jpg"
                                            data-loaded="true"
                                        />
                                    </div>
                                    <em class="tit text-elp2">괴물도 깜작 놀랄 푸짐한 용량😲</em>
                                    <span class="desc text-elps">닭가슴살 몬스터 볶음밥</span>
                                    <a href="/product/view?productCd=24931" class="btn-blank"></a>
                                </div>
                            </li>
                            <li class="swiper-slide">
                                <div class="bnr-item">
                                    <div class="img">
                                        <img
                                            class="lozad"
                                            data-src="https://file.rankingdak.com/image/RANK/BANNER/AR_IMG_10/20230331/IMG1680ZAf252510921.jpg"
                                            alt="괴물도 깜작 놀랄 푸짐한 용량😲"
                                            width="148"
                                            height="148"
                                            src="https://file.rankingdak.com/image/RANK/BANNER/AR_IMG_10/20230331/IMG1680ZAf252510921.jpg"
                                            data-loaded="true"
                                        />
                                    </div>
                                    <em class="tit text-elp2">괴물도 깜작 놀랄 푸짐한 용량😲</em>
                                    <span class="desc text-elps">닭가슴살 몬스터 볶음밥</span>
                                    <a href="/product/view?productCd=24931" class="btn-blank"></a>
                                </div>
                            </li>
                        </ul>
                        <!--// swiper-wrapper -->
                        <span
                            class="swiper-notification"
                            aria-live="assertive"
                            aria-atomic="true"
                        ></span>
                    </div>
                </div>
                <!--// swiper-container -->
            </article>
        </main>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../../../static/js/main/banner.js"></script>
    <script src="../../../static/js/main/mobile/main.js"></script>
    <!-- 추후 타임리프 fragment로 변경 -->
    <script>
        $(".header-stage").load("../../../templates/component/mobile/header.html");
        // $(".footer-stage").load("../../templates/component/footer.html");
    </script>
</html>
