html {
    zoom: 90%
}

.wrap {
    position: relative;
    min-width: 1300px;
}

.container {
    position: relative;
    min-height: 700px;
    padding-bottom: 100px;
}

.content-wrap {
    min-height: 700px;
}

.head-mypage ~ .frame-sm {
    margin-top: 45px;
}

.frame-sm {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
}

.frame-right {
    margin-bottom: 50px;
    margin-left: 50px;
}

.frame-cnt-inner {
    width: 820px;
}

.menu-title-area {
    position: relative;
    min-height: 30px;
}

.menu-title-area .title-menu {
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
}

.search-box ~ .board-list, .menu-title-area ~ .board-form, .menu-title-area ~ .board-list, .menu-title-area ~ .coupon-box, .menu-title-area ~ .top-search-box, .menu-title-area ~ .grid-list-wrap {
    margin-top: 5px;
}

/*.page-bottom {*/
/*    position: relative;*/
/*}*/

/*.board-list ~ .page-bottom {*/
/*    margin-top: 30px;*/
/*}*/

/*.pagination {*/
/*    margin-top: 60px;*/
/*    text-align: center;*/
/*}*/

/*.pagination > a {*/
/*    height: 25px;*/
/*    padding: 0 1px;*/
/*    margin: 0 8px 0;*/
/*    color: #999;*/
/*}*/

/*.pagination > a.current, .pagination > a.on {*/
/*    !*border-bottom: 2px solid #FF5938;*!*/
/*    color: #FF5938;*/
/*    font-weight: 700;*/
/*}*/

/*.page-bottom .right-area {*/
/*    position: absolute;*/
/*    bottom: 4px;*/
/*    right: 0;*/
/*}*/

.paging {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    gap: 12px;
    user-select: none;
}

.paging a {
    width: 28px;
    height: 28px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #FF5938;
    border-radius: 3px;
    background-color: #FF5938;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paging #currentPage {
    width: 28px;
    height: 28px;
    background-color: #333;
    color: #fff;
    background-color: #000;
    border-radius: 3px; /* Adjust to your desired roundness */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for page numbers on hover */
.paging a:hover {
    background-color: #345995; /* Darken the color a bit on hover */
    color: #fff;
}

