<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="zoom: 80%">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>기부 상세</title>
        <link rel="icon" href="/img/main/fabicon.png" type="image/png" sizes="50x50"/>
        <link rel="stylesheet" href="/css/global/global.css" />
        <link rel="stylesheet" href="/css/component/header.css" />
        <link rel="stylesheet" href="/css/component/footer.css" />
        <link rel="stylesheet" href="/css/CS/common.css" />
        <link rel="stylesheet" href="/css/welfare/donate-detail.css" />
    </head>
    <body>
    <header class="header-stage" th:insert="~{component/header.html :: header}"></header>
        <section class="container donate-detail">
            <div class="content-wrap frame-sm">
                <div class="page-title-area">
                    <h2 class="title-page">
                        <a href="/user-board/donate-list">기부 게시판</a>
                    </h2>
                </div>
                <div class="frame-wrap" style="zoom: 100%">
                    <div class="frame-right">
                        <div class="frame-cnt-inner">
                            <div class="form-wrap">

                                <!-- 데이터 append -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <div id="check-modal" class="modal">
        <div class="modal-content">
            <p class="modal-title">해당 게시글을 삭제하시겠습니까?<span class="close">&times;</span></p>
            <div class="cart-product-info">
                <div class="modal-btn-wrap">
                    <button class="modal-btn" id="modal-yesBtn" onclick="deleteBoard()">게시글 삭제하기</button>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-stage" th:insert="~{component/footer.html :: footer}"></footer>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/js/main/header.js"></script>
    <script src="/js/common/ajax.js"></script>
    <script th:inline="javascript">
        let donate = [[${donate}]]
        let $welfareId = [[${welfareId}]]
    </script>
    <script src="/js/member/donate-detail.js"></script>
</html>
