<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="zoom: 80%">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>레시피 게시판 상세보기</title>
    <link rel="icon" href="/img/main/fabicon.png" type="image/png" sizes="50x50"/>
    <link rel="stylesheet" href="/css/global/global.css" />
    <link rel="stylesheet" href="/css/component/header.css" />
    <link rel="stylesheet" href="/css/component/footer.css" />
    <link rel="stylesheet" href="/css/member/board-detail.css" />
  </head>
  <body>
    <header class="header-stage" th:insert="~{component/header.html :: header}"></header>
    <section id="whole-container" style="zoom: 80%">
      <div class="page-title-area">
                  <h2 class="title-page">
                      <a href="/user-board/recipe-board-list">레시피 게시판</a>
                  </h2>
              </div>
      <div class="detail-container">

        <!-- 이미지 -->


        <!-- 게시물 상세 -->

      </div>
      <section class="reply-wrap">
        <h3 class="reply-title">댓글</h3>
        <!--  -->
        <div class="reply-write-wrap">
          <div class="reply-writer-info">

            <!-- ================== -->

          </div>
          <div class="write-content-wrap">
            <form>
              <textarea class="write-textarea" placeholder="댓글 남기기"></textarea
              ><button class="write-regist-btn" type="button">
                <span class="regist">등록</span>
              </button>
            </form>
          </div>
        </div>
      </section>
        <div class="review-list-wrap">

          <!-- 댓글 리스트 -->

        </div>
        <div style="padding-bottom: 32px;">
          <button class="more-review">더보기<span>+</span></button>
        </div>
    </section>
    <div id="check-modal" class="modal">
      <div class="modal-content">
        <p class="modal-title">해당 게시글을 삭제하시겠습니까?<span class="close">&times;</span></p>
        <div class="cart-product-info">
          <div class="modal-btn-wrap">
            <button class="modal-btn" id="modal-yesBtn" onclick="deleteBoard()">게시글 삭제하기</button>
          </div>
        </div>
      </div>
    </div>
    <div id="reply-modal" class="modal">
      <div class="modal-content reply-delete-modal">
        <p class="modal-title">댓글을 삭제하시겠습니까?<span class="close">&times;</span></p>
        <div class="modal-btn-wrap replyBtn-wrap">
          <button class="modal-btn" id="reply-deleteBtn" onclick="deleteReply()">댓글 삭제하기</button>
        </div>
      </div>
    </div>
    <footer class="footer-stage" th:insert="~{component/footer.html :: footer}"></footer>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="/js/common/ajax.js"></script>
  <script th:inline="javascript">
    let recipe = [[${recipe}]];
    let isLike = [[${isLike}]];
    const $userId = [[${userId}]];
    const $userRole = [[${userRole}]];
  </script>
  <script src="/js/main/header.js"></script>
  <script src="/js/member/recipe-detail.js"></script>
</html>
