<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="zoom: 80%">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>레시피 게시글 작성하기</title>
    <link rel="icon" href="/img/main/fabicon.png" type="image/png" sizes="50x50"/>
    <link rel="stylesheet" href="/css/global/global.css" />
    <link rel="stylesheet" href="/css/component/header.css" />
    <link rel="stylesheet" href="/css/component/footer.css" />
    <link rel="stylesheet" href="/css/member/member.css" />
    <link rel="stylesheet" href="/css/member/board-insert.css" />
    <link rel="stylesheet" href="/css/member/modal.css"/>
  </head>
  <body>
  <header class="header-stage" th:insert="~{component/header.html :: header}"></header>
  <root style="zoom: 90%">
      <section id="contents" class="container">
        <div class="modal">
          <div class="warn-modal">
            <div id="content-wrap"></div>
          </div>
        </div>
        <div class="content-wrap">
          <div class="frame-sm">
            <form id="counselRegFrm" name="form" method="post">
              <div class="frame-right">
                <div class="frame-cnt-inner">
                  <div class="menu-title-area">
                    <h3 class="title-menu">레시피 작성하기</h3>
                  </div>
                  <!--// menu-title-area -->

                  <div class="board-form type2">
                    <table>
                      <caption>
                        내용 작성
                      </caption>
                      <colgroup>
                        <col style="width: 180px" />
                        <col style="width: auto" />
                      </colgroup>
                      <tbody>
                        <tr>
                          <th class="text-left" scope="row">
                            <div class="in-tb">
                              제목<em class="es"><span class="blind">필수입력</span></em>
                            </div>
                          </th>
                          <td class="text-left">
                            <div class="input-group w-full">
                              <input
                                type="text"
                                name="boardTitle"
                                id="vQuestionTitle"
                                title=""
                                class="input-text"
                                placeholder="제목을 입력해주세요"
                                value=""
                              />
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <th class="text-left" scope="row">
                            <div class="in-tb">
                              내용 <em class="es"><span class="blind">필수입력</span></em>
                            </div>
                          </th>
                          <td class="text-left">
                            <div class="textarea-box-count h230">
                              <textarea
                                id="vQuestionCont"
                                placeholder="내용을 입력하세요"
                                name="boardContent"
                              ></textarea>
                            </div>
                          </td>
                        </tr>
                        <!-- 첨부파일 영역 -->
                        <tr class="attach-file-line">
                          <th class="text-left" scope="row"></th>
                          <td class="text-left">
                            <div class="file-add-boxes">
                              <div class="div-attach-thumb" id="US_RV_IMG1_attachThumb">
                                <button type="button" class="btn-attach-thumb">
                                  <i class="ico-plus-xlg"></i><span class="blind">파일첨부</span>
                                </button>
                                <input
                                  class="input_file"
                                  name="imgFile"
                                  type="file"
                                  accept="image/*"
                                  style="display: none"
                                />
                                <div class="attach-img" style="display: none;">
                                  <img
                                    src=""
                                    style="width: 68px; height: 68px"
                                    id="image"
                                  /><button
                                    type="button"
                                    class="btn-x-xs2 btn_del"
                                  >
                                    <i class="ico-x-white"></i><span class="blind">삭제</span>
                                  </button>
                                </div>
                              </div>
                              <div class="div-attach-thumb" id="US_RV_IMG2_attachThumb">
                                <button type="button" class="btn-attach-thumb">
                                  <i class="ico-plus-xlg"></i><span class="blind">파일첨부</span>
                                </button>
                                <input
                                  class="input_file"
                                  name="imgFile"
                                  type="file"
                                  accept="image/*"
                                  style="display: none"
                                />
                                <div class="attach-img" style="display: none;">
                                  <img
                                    src=""
                                    style="width: 68px; height: 68px"
                                    id="image"
                                  /><button
                                    type="button"
                                    class="btn-x-xs2 btn_del"
                                  >
                                    <i class="ico-x-white"></i><span class="blind">삭제</span>
                                  </button>
                                </div>
                              </div>
                              <div class="div-attach-thumb" id="US_RV_IMG3_attachThumb">
                                <button type="button" class="btn-attach-thumb">
                                  <i class="ico-plus-xlg"></i><span class="blind">파일첨부</span>
                                </button>
                                <input
                                  class="input_file"
                                  name="imgFile"
                                  type="file"
                                  accept="image/*"
                                  style="display: none"
                                />
                                <div class="attach-img" style="display: none;">
                                  <img
                                    src=""
                                    style="width: 68px; height: 68px"
                                    id="image"
                                  /><button
                                    type="button"
                                    class="btn-x-xs2 btn_del"
                                  >
                                    <i class="ico-x-white"></i><span class="blind">삭제</span>
                                  </button>
                                </div>
                              </div>
                              <div class="div-attach-thumb" id="US_RV_IMG1_attachThumb">
                                <button type="button" class="btn-attach-thumb">
                                  <i class="ico-plus-xlg"></i><span class="blind">파일첨부</span>
                                </button>
                                <input
                                  class="input_file"
                                  name="imgFile"
                                  type="file"
                                  accept="image/*"
                                  style="display: none"
                                />
                                <div class="attach-img" style="display: none;">
                                  <img
                                    src=""
                                    style="width: 68px; height: 68px"
                                    id="image"
                                  /><button
                                    type="button"
                                    class="btn-x-xs2 btn_del"
                                  >
                                    <i class="ico-x-white"></i><span class="blind">삭제</span>
                                  </button>
                                </div>
                              </div>
                              <div class="div-attach-thumb" id="US_RV_IMG1_attachThumb">
                                <button type="button" class="btn-attach-thumb">
                                  <i class="ico-plus-xlg"></i><span class="blind">파일첨부</span>
                                </button>
                                <input
                                  class="input_file"
                                  name="imgFile"
                                  type="file"
                                  accept="image/*"
                                  style="display: none"
                                />
                                <div class="attach-img" style="display: none;">
                                  <img
                                    src=""
                                    style="width: 68px; height: 68px"
                                    id="image"
                                  /><button
                                    type="button"
                                    class="btn-x-xs2 btn_del"
                                  >
                                    <i class="ico-x-white"></i><span class="blind">삭제</span>
                                  </button>
                                </div>
                              </div>
                              <div class="div-attach-thumb" id="US_RV_IMG1_attachThumb">
                                <button type="button" class="btn-attach-thumb">
                                  <i class="ico-plus-xlg"></i><span class="blind">파일첨부</span>
                                </button>
                                <input
                                  class="input_file"
                                  name="imgFile"
                                  type="file"
                                  accept="image/*"
                                  style="display: none"
                                />
                                <div class="attach-img" style="display: none;">
                                  <img
                                    src=""
                                    style="width: 68px; height: 68px"
                                    id="image"
                                  /><button
                                    type="button"
                                    class="btn-x-xs2 btn_del"
                                  >
                                    <i class="ico-x-white"></i><span class="blind">삭제</span>
                                  </button>
                                </div>
                              </div>
                              <div class="div-attach-thumb" id="US_RV_IMG1_attachThumb">
                                <button type="button" class="btn-attach-thumb">
                                  <i class="ico-plus-xlg"></i><span class="blind">파일첨부</span>
                                </button>
                                <input
                                  class="input_file"
                                  name="imgFile"
                                  type="file"
                                  accept="image/*"
                                  style="display: none"
                                />
                                <div class="attach-img" style="display: none;">
                                  <img
                                    src=""
                                    style="width: 68px; height: 68px"
                                    id="image"
                                  /><button
                                    type="button"
                                    class="btn-x-xs2 btn_del"
                                  >
                                    <i class="ico-x-white"></i><span class="blind">삭제</span>
                                  </button>
                                </div>
                              </div>
                              <p class="text-guide-md">
                                - 최대 15MB 이하의 JPG, PNG, GIF, BMP 파일 8장까지 첨부 가능합니다.
                              </p>
                            </div>
                          </td>
                        </tr>
                        <!--// 첨부파일 영역 -->
                      </tbody>
                    </table>
                  </div>
                  <!--// board-form -->

                  <div class="btn-bottom-area">
                    <button type="button" class="btn-basic-lg2 btn-grey3">
                      <a href="/user-board/recipe-board-list">
                        <span>취소하기</span>
                      </a>
                    </button>
                    <button type="submit" class="btn-basic-lg2 btn-primary">
                      <span>작성하기</span>
                    </button>
                  </div>
                </div>
                <!--// frame-cnt-inner -->
              </div>
              <!--// frame-right -->
            </form>
          </div>
          <!--// frame-sm -->
        </div>
        <!--// content-wrap -->
      </section>
      <footer></footer>
    </root>
    <footer class="footer-stage" th:insert="~{component/footer.html :: footer}"></footer>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script th:inline="javascript">
    let fileDTOS = null;
    let recipe = [[${recipe}]];
  </script>
  <script src="/js/main/header.js"></script>
  <script src="/js/member/recipe-write.js"></script>
</html>
