<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="zoom: 80%">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>리뷰 게시글 작성하기</title>
    <link rel="icon" href="/img/main/fabicon.png" type="image/png" sizes="50x50"/>
    <link rel="stylesheet" href="/css/global/global.css"/>
    <link rel="stylesheet" href="/css/component/header.css"/>
    <link rel="stylesheet" href="/css/component/footer.css"/>
    <link rel="stylesheet" href="/css/member/member.css"/>
    <link rel="stylesheet" href="/css/member/board-insert.css"/>
    <link rel="stylesheet" href="/css/member/modal.css"/>
</head>
<body>
<header class="header-stage" th:insert="~{component/header.html :: header}"></header>
<root style="zoom: 90%">
    <header></header>
    <section id="contents" class="container">
        <div class="modal">
            <div class="warn-modal">
                <div id="content-wrap"></div>
            </div>
        </div>
        <div class="content-wrap">
            <div class="frame-sm">
                <form
                        method="post"
                        name="form" id="counselRegFrm">
                    <div class="frame-right">
                        <div class="frame-cnt-inner">
                            <div class="menu-title-area">
                                <h3 class="title-menu">리뷰 작성하기</h3>
                            </div>
                            <!--// menu-title-area -->

                            <div class="board-form type2">
                                <table>
                                    <caption>
                                        내용 작성
                                    </caption>
                                    <colgroup>
                                        <col style="width: 180px"/>
                                        <col style="width: auto"/>
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <th class="text-left" scope="row">
                                            <div class="in-tb">
                                                제목<em class="es"><span class="blind">필수입력</span></em>
                                            </div>
                                        </th>
                                        <td class="text-left">
                                            <div class="input-group w-full">
                                                <input
                                                        name="boardTitle"
                                                        type="text"
                                                        id="vQuestionTitle"
                                                        class="input-text"
                                                        placeholder="제목을 입력해주세요"
                                                        value=""
                                                />
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th class="text-left" scope="row" style="padding-top: 0;">
                                            <div class="in-tb">
                                                복지관명<em class="es"><span class="blind">필수입력</span></em>
                                            </div>
                                        </th>
                                        <td class="text-left" style="padding-top: 0;">
                                            <div class="input-group w-full">
                                                <input
                                                        type="text"
                                                        name="welfareName"
                                                        id="vQuestionTitle"
                                                        title=""
                                                        class="input-text"
                                                        placeholder="복지관명을 입력해주세요"
                                                        value=""
                                                        readonly
                                                />
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th class="text-left" scope="row" style="padding-top: 0;">
                                            <div class="in-tb">
                                                별점<em class="es"><span class="blind">필수입력</span></em>
                                            </div>
                                        </th>
                                        <td class="text-left" style="padding-top: 0;">
                                            <div class="input-group w-full">
                                                <em class="rating-point">
                                                    <img class="rating__point one" src="/img/mypage/rating-pull.png">
                                                    <img class="rating__point two" src="/img/mypage/rating-pull.png">
                                                    <img class="rating__point three" src="/img/mypage/rating-pull.png">
                                                    <img class="rating__point four" src="/img/mypage/rating-pull.png">
                                                    <img class="rating__point five" src="/img/mypage/rating-pull.png">
                                                </em>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th class="text-left" scope="row">
                                            <div class="in-tb">
                                                내용 <em class="es"><span class="blind">필수입력</span></em>
                                            </div>
                                        </th>
                                        <td class="text-left">
                                            <div class="textarea-box-count h230">
                              <textarea
                                      name="boardContent"
                                      id="vQuestionCont"
                                      placeholder="내용을 입력하세요"
                              ></textarea>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- 첨부파일 영역 -->
                                    <tr class="attach-file-line">
                                        <th class="text-left" scope="row"></th>
                                        <td class="text-left">
                                            <div class="file-add-boxes">
                                                <div class="div-attach-thumb" id="US_RV_IMG_attachThumb">
                                                    <button type="button" class="btn-attach-thumb">
                                                        <i class="ico-plus-xlg"></i><span class="blind">파일첨부</span>
                                                    </button>
                                                    <input
                                                            class="input_file"
                                                            name="imgFile"
                                                            type="file"
                                                            accept="image/*"
                                                            style="display: none"
                                                    />
                                                    <div class="attach-img" style="display: none;">
                                                        <img
                                                                src=""
                                                                style="width: 68px; height: 68px"
                                                                id="image"
                                                        />
                                                        <button
                                                                type="button"
                                                                class="btn-x-xs2 btn_del"
                                                        >
                                                            <i class="ico-x-white"></i><span class="blind">삭제</span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="div-attach-thumb" id="US_RV_IMG2_attachThumb">
                                                    <button type="button" class="btn-attach-thumb">
                                                        <i class="ico-plus-xlg"></i><span class="blind">파일첨부</span>
                                                    </button>
                                                    <input
                                                            class="input_file"
                                                            name="imgFile"
                                                            type="file"
                                                            accept="image/*"
                                                            style="display: none"
                                                    />
                                                    <div class="attach-img" style="display: none;">
                                                        <img
                                                                src=""
                                                                style="width: 68px; height: 68px"
                                                                id="image"
                                                        />
                                                        <button
                                                                type="button"
                                                                class="btn-x-xs2 btn_del"
                                                        >
                                                            <i class="ico-x-white"></i><span class="blind">삭제</span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="div-attach-thumb" id="US_RV_IMG3_attachThumb">
                                                    <button type="button" class="btn-attach-thumb">
                                                        <i class="ico-plus-xlg"></i><span class="blind">파일첨부</span>
                                                    </button>
                                                    <input
                                                            class="input_file"
                                                            name="imgFile"
                                                            type="file"
                                                            accept="image/*"
                                                            style="display: none"
                                                    />
                                                    <div class="attach-img" style="display: none;">
                                                        <img
                                                                src=""
                                                                style="width: 68px; height: 68px"
                                                                id="image"
                                                        />
                                                        <button
                                                                type="button"
                                                                class="btn-x-xs2 btn_del"
                                                        >
                                                            <i class="ico-x-white"></i><span class="blind">삭제</span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <p class="text-guide-md">
                                                    - 최대 15MB 이하의 JPG, PNG, GIF, BMP 파일 3장까지 첨부 가능합니다.
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    <!--// 첨부파일 영역 -->
                                    </tbody>
                                </table>
                            </div>
                            <!--// board-form -->

                            <div class="btn-bottom-area">
                                <button type="button" class="btn-basic-lg2 btn-grey3">
                                    <a href="/user-board/review-board-list">
                                        <span>취소하기</span>
                                    </a>
                                </button>
                                <button type="submit" class="btn-basic-lg2 btn-primary">
                                    <span>작성하기</span>
                                </button>
                            </div>
                        </div>
                        <!--// frame-cnt-inner -->
                    </div>
                    <!--// frame-right -->
                </form>
            </div>
            <!--// frame-sm -->
        </div>
        <!--// content-wrap -->
    </section>
    <!-- 복지관 검색 모달창 -->
    <section class="search-modal-wrap disNone">
        <div class="layer-pop order-search-pop">
            <div class="layer-inner">
                <div class="layer-head">
                    <h4 class="layer-pop-title">복지관 검색</h4>
                </div>
                <div class="welfare-layer-content">
                    <!-- 검색바 -->
                    <div class="search-box ui-toggle on">
                        <div class="input-group w-full">
                            <input
                                    type="text"
                                    name="welfare-selection"
                                    class="input-text h40"
                                    placeholder="복지관을 검색하세요"
                                    value=""
                            />
                            <span class="input-group-btn">
                                    <button type="button" class="btn-form btn-ex-white w150 find-btn">
                                        <span>복지관 검색</span>
                                    </button>
                                </span>
                        </div>
                    </div>
                    <div id="productPop">
                        <div class="board-list">
                            <table class="API-table">
                                <thead class="thead"></thead>
                                <tbody class="tbody"></tbody>
                            </table>
                            <ul class="select-form-list">
                                <!-- 데이터 없으면 disNone으로 -->
                                <li>
                                    <div class="no-data">
                                        <p class="find-message">내역이 없습니다.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="btn-area">
                    <button type="button" class="btn-basic-md btn-grey3 modalClose">
                        <span>취소</span>
                    </button>
                    <button type="button" class="btn-basic-md btn-black welfareSelect">
                        <span>선택</span>
                    </button>
                </div>
                <!--// layer-content -->
                <button type="button" class="btn-x-md2 ui-close-pop modalClose" title="닫기">
                    <i class="ico-x-black">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                id="Layer_1"
                                style="enable-background: new 0 0 64 64"
                                version="1.1"
                                viewBox="0 0 64 64"
                                xml:space="preserve"
                        >
                        <style type="text/css">
                            .st0 {
                                fill: #333;
                            }
                        </style>
                            <g>
                            <g
                                    id="Icon-Close"
                                    transform="translate(381.000000, 231.000000)"
                            >
                            <polyline
                                    class="st0"
                                    id="Fill-16"
                                    points="-370.7,-174.7 -373,-177 -327,-223 -324.7,-220.7 -370.7,-174.7    "
                            />
                                <polyline
                                        class="st0"
                                        id="Fill-17"
                                        points="-327,-174.7 -373,-220.7 -370.7,-223 -324.7,-177 -327,-174.7    "
                                />
                            </g>
                        </g>
                    </svg>
                    </i>
                </button>
            </div>
        </div>
    </section>
    <footer></footer>
</root>
<footer class="footer-stage" th:insert="~{component/footer.html :: footer}"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script th:inline="javascript">
    let fileDTOS = null;
    let review = [[${review}]];
    if (reviewBoardDTO == null || reviewBoardDTO == undefined) {
    } else {
        fileDTOS = reviewBoardDTO.fileDTOS;
    }
</script>
<script src="/js/main/header.js"></script>
<script src="/js/member/board-insert.js"></script>
<script>
    // target에 display: none 부여 or 제거
    function disNone(target) {
        let check = target.hasClass("disNone");

        if (check) {
            target.removeClass("disNone");
        } else target.addClass("disNone");
    }

    const $welfareSearchBtn = $('input[name=welfareName]');
    const $searchModalWrap = $(".search-modal-wrap");

    // 모달열기
    $welfareSearchBtn.on("click", () => disNone($searchModalWrap));
    // 닫기
    $searchModalWrap.find(".modalClose").on("click", () => disNone($searchModalWrap));

    $('.find-btn').on('click', function () {
        let url = "http://openapi.seoul.go.kr:8088/63455a5a69646576313363576d774c/json/fcltOpenInfo/1/400/";
        let search = $('input[name=welfare-selection]').val()
        let count = 0;

        $.ajax({
            url: url,
            type: "get",
            dataType: "json",
            success: function (data) {
                /* 새로 요청할 때마다 기존에 있는 내역 지워주기 */
                $('.tbody').empty();
                let jsonData = data.fcltOpenInfo.row;
                let table = $('.API-table').addClass('data-table');
                /* 헤더 생성 */
                let headerRow = $('<tr>');

                headerRow.append($('<th>').text('시설명'));
                headerRow.append($('<th>').text('시설주소'));
                headerRow.append($('<th>').text('전화번호'));
                headerRow.append($('<th>').text('우편번호'));

                // ... 필요한 만큼 필드 추가
                $('.thead').html(headerRow);

                // 검색어를 포함한 데이터만 출력
                if (search) {
                    jsonData.forEach(function(rowData) {
                        let flctNm = rowData.FCLT_NM;
                        if (flctNm.includes(search)) {
                            count++;
                            let row = $('<tr class="API-data">');
                            row.append($('<td>').text(rowData.FCLT_NM));
                            row.append($('<td>').text(rowData.FCLT_ADDR));
                            row.append($('<td style="text-align: center">').text(rowData.FCLT_TEL_NO));
                            row.append($('<td style="text-align: center">').text(rowData.FCLT_ZIPCD));

                            // ... 필요한 만큼 필드 추가
                            $('.tbody').append(row);
                        }
                    });
                } else {
                    jsonData.forEach(function(rowData) {
                        let row = $('<tr class="API-data">');
                        row.append($('<td>').text(rowData.FCLT_NM));
                        row.append($('<td>').text(rowData.FCLT_ADDR));
                        row.append($('<td style="text-align: center">').text(rowData.FCLT_TEL_NO));
                        row.append($('<td style="text-align: center">').text(rowData.FCLT_ZIPCD));
                        count++;

                        // ... 필요한 만큼 필드 추가
                        $('.tbody').append(row);
                    });
                }
                const $dataRows = $('.tbody .API-data');

                $dataRows.each((i, v) => {
                    $(v).on('click', function () {
                        let value = $(this).children().first().text();
                        // 이미 선택된 dataRow인지 확인
                        const isSelected = $(v).hasClass('selected');

                        // 모든 dataRow에서 selected 클래스 제거
                        $dataRows.removeClass('selected');

                        if (!isSelected) {
                            // 선택된 dataRow가 아니라면 selected 클래스 추가
                            $(v).addClass('selected');
                        }
                        //  선택 버튼을 누르면 선택한 값을 가져가기
                        $('.welfareSelect').on('click', function () {
                            $('input[name=welfareName]').val(value)
                            $searchModalWrap.addClass("disNone")
                        })
                    })
                })
                console.log("조건에 맞는 rowData의 수: " + count);
            }
        });
        $('.select-form-list').hide();
    })
</script>
</html>
