<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HappyBox</title>
    <link rel="stylesheet" href="../../static/css/global/global.css">
    <link rel="stylesheet" href="../../static/css/mypage/side-bar.css">
    <link rel="stylesheet" href="../../static/css/mypage/top-bar.css">
    <link rel="stylesheet" href="../../static/css/mypage/inquiry.css">
</head>
<body>

    <div class="wrap">
        <section id="contents" class="container">
            <div class="content-wrap">


                <!-- // top-bar.html -->

                
                <div class="frame-sm">


                    <!-- // side-bar.html -->


                    <form id="frm" name="inquiryForm" action="">
                        <div class="frame-right">
                            <div class="frame-cnt-inner">
                                <div class="menu-title-area">
                                    <h3 class="title-menu">1:1 문의</h3>
                                </div><!--// menu-title-area -->
                                <div class="board-list ui-accordion">
                                    <ul class="accordion-list ui-accordion-list">

                                        <li class="">
                                            <!-- 질문 영역 -->
                                            <a href="javascript:;" class="title-div ui-accordion-click">
                                                <div class="subject">
                                                    <span class="state-wait">답변대기</span>
                                                    <span class="classify inquiry__title">회원가입포인트</span><!-- 문의내역 타이틀 -->
                                                </div>
                                                <div class="right">
                                                    <span class="date">2023.04.15</span>
                                                    <img class="inquiry__arrow" src="../../static/img/mypage/inquiry-arrow.png" width="18" height="18">
                                                </div>
                                            </a><!-- title-div -->
                                            <div class="ui-accordion-view hide">
                                                <div class="question">
                                                    <div class="detail-div">
                                                        <p class="txt"><span style="white-space:pre-wrap">회원가입 포인트는 언제 소멸하나요? 감사합니다.</span></p>
                                                        <div class="bottom">
                                                            <div class="added-file thumDtlQuestion">
                                                                <ul class="thum-list">
                                                                    <li><a href="javascript:void(0)"><img src="https://file.rankingdak.com/image/RANK/REVIEW/US_RV_IMG1/20230415/IMG1681Teg570545730.png" onerror="fnNoImage(this);"></a></li>
                                                                </ul>
                                                            </div>
                                                            <ul class="sep-list type3">
                                                                <li><a href="javascript:void(0)" class="btn_update">수정</a></li>
                                                                <li><a href="javascript:void(0)" class="btn_delete">삭제</a></li>
                                                            </ul>
                                                        </div>
                                                    </div><!--// detail-div -->
                                                </div><!--// question :: 질문 영역 -->
                                            </div><!--// ui-accordion-view -->
                                        </li>


                                    </ul>
                                </div><!--// board-accordion -->
                                <div class="page-bottom">


                                    <div class="pagination mt20" style="margin-top: 30px;"><!-- // 페이징 -->
                                        <a href="javascript:void(0)" class="btn-page prev"><span class="blind">&lt;</span></a>
                                        <a href="javascript:void(0)" class="current"><span>1</span></a>
                                        <a href="javascript:void(0)" class="btn-page next"><span class="blind">&gt;</span></a>
                                    </div><!--// pagination -->


                                    <div class="right-area">
                                        <a href="javascript:void(0)" class="btn-basic-md2 btn-default w150"><span>문의하기</span></a>
                                    </div>


                                </div>
                            </div><!--// frame-cnt-inner -->
                        </div><!--// frame-right -->
                    </form>
                </div>
            </div>
        </section>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
<script src="../../static/js/mypage/inquiry.js"></script>
</html>