<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의내역</title>
    <link rel="stylesheet" href="../../../static/css/global/global.css">
    <link rel="stylesheet" href="../../../static/css/global/mypage.css">
    <link rel="stylesheet" href="../../../static/css/mypage/user/side-bar.css">
    <link rel="stylesheet" href="../../../static/css/mypage/user/top-bar.css">
    <link rel="stylesheet" href="../../../static/css/mypage/user/inquiry.css">
</head>
<body>

    <div class="wrap">
        <section id="contents" class="container">
            <div class="content-wrap">


                <!-- // top-bar.html -->

                
                <div class="frame-sm">


                    <!-- // side-bar.html -->


                    <form id="frm" name="inquiryForm" action="">
                        <div id="thumDtlPop"><!-- // 이미지 모달 -->
                            <div class="layer-wrap" id="popup-sample01" style="display:none">
                                <div class="layer-pop img-view-popup">
                                    <div class="layer-inner">
                                        <div class="layer-content">
                                            <div class="img-auto-slide">
                                                <div class="swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-autoheight">
                                                    <ul class="swiper-wrapper" style="height: 126px; transform: translate3d(0px, 0px, 0px);">
                                                        <li class="swiper-slide swiper-slide-active" style="width: 510px; margin-right: 1px;">
                                                            <img src="https://file.rankingdak.com/image/RANK/REVIEW/US_RV_IMG1/20230415/IMG1681Teg570545730.png">
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div><!--// layer-content -->
                                        <button type="button" class="btn-x-md2 ui-close-pop">
                                            <img class="close__modal" src="../../../static/img/mypage/close-button.webp" width="30">
                                        </button>
                                    </div><!--// layer-inner -->
                                </div><!--// layer-pop  -->
                            </div><!--// layer-pop-wrap #main-event -->
                        </div>

                        <div class="frame-right">
                            <div class="frame-cnt-inner">
                                <div class="menu-title-area">
                                    <h3 class="title-menu">1:1 문의</h3>
                                </div><!--// menu-title-area -->
                                <div class="board-list ui-accordion">
                                    <ul class="accordion-list ui-accordion-list">

                                        <li class="border-bottom"><!-- // 문의 리스트 첫 시작 -->
                                            <!-- 질문 영역 -->
                                            <a href="javascript:void(0)" class="title-div ui-accordion-click">
                                                <div class="subject">
                                                    <span class="state-wait">답변대기</span>
                                                    <span class="classify inquiry__title">회원가입포인트</span><!-- 문의내역 타이틀 -->
                                                </div>
                                                <div class="right">
                                                    <span class="date">2023.04.15</span>
                                                    <img class="arrow-0deg" src="../../../static/img/mypage/inquiry-arrow.png" width="18" height="18">
                                                </div>
                                            </a><!-- title-div -->


                                            <div class="ui-accordion-view hide" style="display: none;"><!-- // 클릭 이벤트 시 문의 상세 내역 -->
                                                <div class="question">
                                                    <div class="detail-div">
                                                        <p class="txt">
                                                            <span style="white-space:pre-wrap">회원가입 포인트는 언제 소멸하나요? 감사합니다.</span>
                                                        </p>
                                                        <div class="bottom">
                                                            <div class="added-file thumDtlQuestion"><!-- // 1:1 문의사항 이미지 -->
                                                                <ul class="thum-list">
                                                                    <li>
                                                                        <a href="javascript:void(0)">
                                                                            <img class="thumnail" src="https://file.rankingdak.com/image/RANK/REVIEW/US_RV_IMG1/20230415/IMG1681Teg570545730.png">
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:void(0)">
                                                                            <img class="thumnail" src="https://file.rankingdak.com/image/RANK/REVIEW/US_RV_IMG1/20230415/IMG1681Teg570545730.png">
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:void(0)">
                                                                            <img class="thumnail" src="https://file.rankingdak.com/image/RANK/REVIEW/US_RV_IMG1/20230415/IMG1681Teg570545730.png">
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <ul class="sep-list type3">
                                                                <li><a href="javascript:void(0)" class="btn_delete">삭제</a></li>
                                                            </ul>
                                                        </div>
                                                    </div><!--// detail-div -->
                                                </div><!--// question :: 질문 영역 -->


                                                <div class="answer"><!--// question :: 답변 영역 -->
                                                    <div class="info">
                                                        <span class="name">닭대리</span>
                                                        <span class="date">2023.04.16</span>
                                                    </div>
                                                    <p class="txt">
                                                        <span style="white-space:pre-line">
                                                        안녕하세요.
                                                        다이어트 플랫폼, 랭킹닭컴입니다.

                                                        문의주신 적립금의 유효기간의 경우 2024.04.12 까지 인것으로 확인됩니다.
                                                        이용에 참고 부탁드립니다.
                                                        감사합니다.

                                                        앞으로도 지속적인 사랑 부탁드리며, 늘 행복하고 건강하시길 바랍니다.
                                                        문의사항을 남겨주시면 운영시간 내에 빠르게 안내 도와드리겠습니다.

                                                        감사합니다.
                                                        </span>
                                                    </p>
                                                </div>

                                                
                                            </div><!--// ui-accordion-view -->
                                        </li>

                                        <li class="border-bottom">
                                            <!-- 질문 영역 -->
                                            <a href="javascript:void(0)" class="title-div ui-accordion-click">
                                                <div class="subject">
                                                    <span class="state-wait complete">답변완료</span>
                                                    <span class="classify inquiry__title">회원가입포인트</span><!-- 문의내역 타이틀 -->
                                                </div>
                                                <div class="right">
                                                    <span class="date">2023.04.15</span>
                                                    <img class="arrow-0deg" src="../../../static/img/mypage/inquiry-arrow.png" width="18" height="18">
                                                </div>
                                            </a><!-- title-div -->
                                            <div class="ui-accordion-view hide" style="display: none;">
                                                <div class="question">
                                                    <div class="detail-div">
                                                        <p class="txt"><span style="white-space:pre-wrap">회원가입 포인트는 언제 소멸하나요? 감사합니다.</span></p>
                                                        <div class="bottom">
                                                            <div class="added-file thumDtlQuestion">
                                                                <ul class="thum-list">
                                                                    <li>
                                                                        <a href="javascript:void(0)">
                                                                            <img class="thumnail" src="https://file.rankingdak.com/image/RANK/REVIEW/US_RV_IMG1/20230415/IMG1681Teg570545730.png">
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:void(0)">
                                                                            <img class="thumnail" src="https://file.rankingdak.com/image/RANK/REVIEW/US_RV_IMG1/20230415/IMG1681Teg570545730.png">
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:void(0)">
                                                                            <img class="thumnail" src="https://file.rankingdak.com/image/RANK/REVIEW/US_RV_IMG1/20230415/IMG1681Teg570545730.png">
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <ul class="sep-list type3">
                                                                <li><a href="javascript:void(0)" class="btn_delete">삭제</a></li>
                                                            </ul>
                                                        </div>
                                                    </div><!--// detail-div -->
                                                </div><!--// question :: 질문 영역 -->

                                                
                                                <div class="answer"><!--// question :: 답변 영역 -->
                                                    <div class="info">
                                                        <span class="name">닭대리</span>
                                                        <span class="date">2023.04.16</span>
                                                    </div>
                                                    <p class="txt">
                                                        <span style="white-space:pre-line">
                                                        안녕하세요.
                                                        다이어트 플랫폼, 랭킹닭컴입니다.

                                                        문의주신 적립금의 유효기간의 경우 2024.04.12 까지 인것으로 확인됩니다.
                                                        이용에 참고 부탁드립니다.
                                                        감사합니다.

                                                        앞으로도 지속적인 사랑 부탁드리며, 늘 행복하고 건강하시길 바랍니다.
                                                        문의사항을 남겨주시면 운영시간 내에 빠르게 안내 도와드리겠습니다.

                                                        감사합니다.
                                                        </span>
                                                    </p>
                                                </div>


                                            </div><!--// ui-accordion-view -->
                                        </li>


                                    </ul>
                                </div><!--// board-accordion -->
                                <div class="page-bottom">


                                    <div class="pagination mt20" style="margin-top: 30px;"><!-- // 페이징 -->
                                        <a href="javascript:void(0)" class="btn-page prev"><span class="blind">&lt;</span></a>
                                        <a href="javascript:void(0)" class="current"><span>1</span></a>
                                        <a href="javascript:void(0)" class="btn-page next"><span class="blind">&gt;</span></a>
                                    </div><!--// pagination -->

                                    
                                    <div class="right-area">
                                        <a href="javascript:void(0)" class="btn-basic-md2 btn-default w150"><span>문의하기</span></a>
                                    </div>


                                </div>
                            </div><!--// frame-cnt-inner -->
                        </div><!--// frame-right -->
                    </form>
                </div>
            </div>
        </section>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
<script src="../../../static/js/mypage/user/inquiry.js"></script>
</html>