<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>후기</title>
    <link rel="stylesheet" href="../../../static/css/global/global.css">
    <link rel="stylesheet" href="../../../static/css/mypage/user/side-bar.css">
    <link rel="stylesheet" href="../../../static/css/mypage/user/top-bar.css">
    <link rel="stylesheet" href="../../../static/css/mypage/user/review.css">
</head>
<body>
    <div class="wrap">
        <section id="contents" class="container">
            <div class="content-wrap">


                <!-- // top-bar.html -->


                <div class="frame-sm">


                    <!-- // side-bar.html -->


                    <div class="frame-right">
                        <div class="frame-cnt-inner">
                            <div class="menu-title-area">
                                <h3 class="title-menu">나의 후기</h3>
                            </div><!--// menu-title-area -->
                            <form action="" name="detailForm">
                                <ul class="grid-area-span2 gap60">
                                    <li class="colum reviewUnit">
                                        <div class="review-detail">
                                            <div class="img">
                                                <img src="https://file.rankingdak.com/image/RANK/REVIEW/PD_RV_IMG1/20230419/IMG1681zzz880436446.jpg" class="lozad">
                                            </div>
                                            <div class="detail__item">
                                                <img class="arrow-0deg arrow" src="../../../static/img/mypage/inquiry-arrow.png" width="15">
                                                <span class="txt-change">상세보기</span>
                                            </div>
                                            <div class="txt">
                                                <em class="rating-point">
                                                    <img class="rating__point one" src="../../../static/img/mypage/rating-pull.png" width="18">
                                                    <img class="rating__point two" src="../../../static/img/mypage/rating-pull.png" width="18">
                                                    <img class="rating__point three" src="../../../static/img/mypage/rating-pull.png" width="18">
                                                    <img class="rating__point four" src="../../../static/img/mypage/rating-pull.png" width="18">
                                                    <img class="rating__point five" src="../../../static/img/mypage/rating.png" width="18">
                                                </em>
                                                <ul class="sep-list type3">
                                                    <li><span class="name">ILovePizza</span></li>
                                                    <li class=""><span class="date">2023.04.19</span></li>
                                                </ul>
                                                <p class="detail text-elps3">
                                                    <span style="white-space:pre-wrap">
먹어본 닭가슴살중 맛있닭 닭가슴살 스테이크가 탑이라
몇년째 이거만 먹어요~ 간편하고 정말 너무 너무 맛있습니다❤️
                                                    </span>
                                                </p>
                                            </div>
                                        </div><!--// review-detail -->
                                    </li>
                                    <div class="border__bottom"></div>
                                </ul>
                            </form>

                            <div class="page-bottom">
                                <div class="pagination mt20" style="margin-top: 30px;"><!-- // 페이징 -->
                                    <a href="javascript:void(0)" class="btn-page prev"><span class="blind">&lt;</span></a>
                                    <a href="javascript:void(0)" class="current"><span>1</span></a>
                                    <a href="javascript:void(0)" class="btn-page next"><span class="blind">&gt;</span></a>
                                </div><!--// pagination -->
                            </div>
                        </div><!--// frame-cnt-inner -->
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
<script src="../../../static/js/mypage/user/review.js"></script>
</html>