<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 구독</title>
    <link rel="stylesheet" href="../../../static/css/global/global.css">
    <link rel="stylesheet" href="../../../static/css/mypage/user/side-bar.css">
    <link rel="stylesheet" href="../../../static/css/mypage/user/top-bar.css">
    <link rel="stylesheet" href="../../../static/css/mypage/user/subscribe.css">
</head>
<body>
    <div class="wrap">
        <section id="contents" class="container">
            <div class="content-wrap">


                <!-- // top-bar.html -->


                <div class="frame-sm">


                    <!-- // side-bar.html -->


                    <div class="frame-right">
                        <div class="frame-cnt-inner">
                            <div class="menu-title-area">
                                <h3 class="title-menu">나의 구독</h3>
                            </div>
                            <div class="subscribe-wrap">
                                <div class="subscribe__list">
                                    <ul>
                                        <li class="welfare__list">
                                            <div class="list-inner ui-toggle">
                                                <div class="txt-area">
                                                    <div class="txt-inner">
                                                        <div class="post-info">
                                                            <span class="user-level">
                                                                <i class="ico-user-level01">
                                                                    <span class="blind">노원복지관</span>
                                                                </i>
                                                            </span>
                                                            <ul class="sep-list type3">
                                                                <li class="before"><span class="date start">2023.04.01</span> ~ <span class="date finish">2023.05.01</span></li>
                                                            </ul>
                                                            <span class="badge-sm-primary">구독취소</span>
                                                        </div><!--// post-info -->
                                                        <p class="review">
                                                            <span>할머니 할아버지가 전달하는 행복 상자예요 ~</span>
                                                        </p>
                                                    </div>
                                                    <div class="img">
                                                        <img class="lozad" src="https://file.rankingdak.com/image/RANK/REVIEW/PD_RV_IMG1/20230406/IMG1680QRe732662402.jpeg">
                                                    </div>
                                                </div><!--// txt-area -->
                        
                                                <button type="button" class="btn-link-txt2 ui-toggle-btn btnMoreReview detail__button">
                                                    <img class="arrow-0deg arrow" src="../../../static/img/mypage/inquiry-arrow.png" width="18">
                                                    <span class="txt-change">더보기</span>
                                                </button>

                                                <div class="ui-toggle-content goods-review-detail hide welfare__detail" style="display: none;"><!-- // 상세보기 -->
                                                    <div class="thumbnail-area">
                                                        <img class="welfare__img" src="https://file.rankingdak.com/image/RANK/REVIEW/PD_RV_IMG1/20230406/IMG1680QRe732662402.jpeg">
                                                    </div>
                                                    <div class="answer-box">
                                                        <p class="answer-message">
                                                            <span style="white-space:pre-wrap">
안녕하세요~ 닭대리입니다🐔
바쁘신 와중에 회원님의 소중한 후기 감사드립니다!
수령하신 제품의 문의 및 불편사항은
언제든지 1:1문의 또는 고객센터로 문의부탁드립니다❤
                                                            
오늘도 랭킹닭컴과 건강한 득근하시길 바랍니닭 ᕙ(•̀‸•́ ‶)ᕗ
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div><!--// 복지관 상세보기 -->


                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
<script src="../../../static/js/mypage/user/subscribe.js"></script>
</html>