<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>고객센터</title>
    <link rel="icon" href="/img/main/fabicon.png" type="image/png" sizes="50x50"/>
    <link rel="stylesheet" href="/css/global/global.css" />
    <link rel="stylesheet" href="/css/CS/common.css" />
    <link rel="stylesheet" href="/css/component/header.css"/>
    <link rel="stylesheet" href="/css/component/footer.css"/>
</head>
<body>
<header class="header-stage" th:insert="~{component/header.html :: header}"></header>
<section class="container">
    <div class="content-wrap frame-sm">
        <div class="page-title-area">
            <h2 class="title-page">
                <a href="javascript:void(0)">고객센터</a>
            </h2>
        </div>
        <div class="frame-wrap">
            <div th:insert="~{CS/sidebar :: sidebar}"></div>
            <div class="frame-right">
                <div class="frame-cnt-inner">
                    <div class="form-wrap">
                        <div class="menu-title-area">
                            <h3 class="title-menu">FAQ</h3>
                        </div>
                        <div class="board-list faq-list">
                            <div class="board-wrap use-info">
                                <div class="text-left flex1">
                                    <a href="javascript:void(0)" class="title-elps">
                                        정기배송 상품별로 배송지를 다르게 설정할 수 있나요?
                                    </a>
                                </div>
                                <div class="text-center arrow-wrap">
                                    <svg
                                            height="15px"
                                            viewBox="0 0 512 512"
                                            width="15px"
                                    >
                                        <polygon
                                                points="396.6,160 416,180.7 256,352 96,180.7 115.3,160 256,310.5 "
                                        />
                                    </svg>
                                </div>
                            </div>
                            <div class="answer-wrap disNone">
                                <!-- 답변 영역 -->
                                <div class="answer">
                                    <p class="txt">
                                        같은 주문번호에 배송지는 1개만 설정이 가능합니다.
                                        <br>
                                        중복 배송지 설정은 불가하며, 따로 주문을 부탁드립니다.
                                    </p>
                                </div>
                            </div>
                            <div class="board-wrap use-info">
                                <div class="text-left flex1">
                                    <a href="javascript:void(0)" class="title-elps">
                                        정기배송 배송비가 따로 있나요?
                                    </a>
                                </div>
                                <div class="text-center arrow-wrap">
                                    <svg
                                            height="15px"
                                            viewBox="0 0 512 512"
                                            width="15px"
                                    >
                                        <polygon
                                                points="396.6,160 416,180.7 256,352 96,180.7 115.3,160 256,310.5 "
                                        />
                                    </svg>
                                </div>
                            </div>
                            <div class="answer-wrap disNone">
                                <!-- 답변 영역 -->
                                <div class="answer">
                                    <p class="txt">
                                        제품 브랜드별 배송비가 상이하여 주문 전 상세페이지 참고부탁드립니다.
                                    </p>
                                </div>
                            </div>
                            <div class="board-wrap use-info">
                                <div class="text-left flex1">
                                    <a href="javascript:void(0)" class="title-elps">
                                        정기배송 상품 해지는 어떻게 하나요?
                                    </a>
                                </div>
                                <div class="text-center arrow-wrap">
                                    <svg
                                            height="15px"
                                            viewBox="0 0 512 512"
                                            width="15px"
                                    >
                                        <polygon
                                                points="396.6,160 416,180.7 256,352 96,180.7 115.3,160 256,310.5 "
                                        />
                                    </svg>
                                </div>
                            </div>
                            <div class="answer-wrap disNone">
                                <!-- 답변 영역 -->
                                <div class="answer">
                                    <p class="txt">
                                        [마이페이지 -  정기배송 관리] 메뉴에서 가능합니다.
                                        <br>
                                        주문이 결제완료 단계일 경우에만 가능하며 출고 후에는 취소가불가합니다.
                                        <br>
                                        <br>
                                        *정기 배송은  2회차까지 필수 수령이며, 3회차부터 취소 가능합니다.
                                    </p>
                                </div>
                            </div>
                            <div class="board-wrap use-info">
                                <div class="text-left flex1">
                                    <a href="javascript:void(0)" class="title-elps">
                                        주문을 취소하고 싶습니다.
                                    </a>
                                </div>
                                <div class="text-center arrow-wrap">
                                    <svg
                                            height="15px"
                                            viewBox="0 0 512 512"
                                            width="15px"
                                    >
                                        <polygon
                                                points="396.6,160 416,180.7 256,352 96,180.7 115.3,160 256,310.5 "
                                        />
                                    </svg>
                                </div>
                            </div>
                            <div class="answer-wrap disNone">
                                <!-- 답변 영역 -->
                                <div class="answer">
                                    <p class="txt">
                                        주문 취소는 단계별로 상이하오니 아래 내용 참고 바랍니다.<br>
                                        - [결제 완료] : 주문 내역에서 직접 취소 진행<br>
                                        - [주문 확정] 이후 : 고객센터로 문의 바랍니다.<br>
                                        <br>
                                        상품 포장이 시작된 [상품준비중] 이후 단계에서는 취소가 제한될 수 있습니다.<br>
                                        주문 상품의 부분 취소는 불가합니다.<br>
                                        전체 취소 이후 재 구매를 부탁드립니다.
                                    </p>
                                </div>
                            </div>
                            <div class="board-wrap use-info">
                                <div class="text-left flex1">
                                    <a href="javascript:void(0)" class="title-elps">
                                        배송 주소를 잘 못 입력해서 수령을 못했어요. 어떻게 하나요?
                                    </a>
                                </div>
                                <div class="text-center arrow-wrap">
                                    <svg
                                            height="15px"
                                            viewBox="0 0 512 512"
                                            width="15px"
                                    >
                                        <polygon
                                                points="396.6,160 416,180.7 256,352 96,180.7 115.3,160 256,310.5 "
                                        />
                                    </svg>
                                </div>
                            </div>
                            <div class="answer-wrap disNone">
                                <!-- 답변 영역 -->
                                <div class="answer">
                                    <p class="txt">
                                        식품의 특성상 출고 후 교환 및 반품은 불가합니다.
                                        배송된 주소에서 제품을 수령해주셔야하며,
                                        해당 배송지에 배송이 불가하여 물류센터로 반송된 경우,
                                        식품의 가치가 떨어져 재배송 또는 환불이 불가합니다.
                                    </p>
                                </div>
                            </div>
                            <div class="board-wrap use-info">
                                <div class="text-left flex1">
                                    <a href="javascript:void(0)" class="title-elps">
                                        정기배송은 언제 결제되나요?
                                    </a>
                                </div>
                                <div class="text-center arrow-wrap">
                                    <svg
                                            height="15px"
                                            viewBox="0 0 512 512"
                                            width="15px"
                                    >
                                        <polygon
                                                points="396.6,160 416,180.7 256,352 96,180.7 115.3,160 256,310.5 "
                                        />
                                    </svg>
                                </div>
                            </div>
                            <div class="answer-wrap disNone">
                                <!-- 답변 영역 -->
                                <div class="answer">
                                    <p class="txt">
                                        정기배송은 출고일에&nbsp; 오전10시에 자동 결제 됩니다.<br>
                                        <br>
                                        결제 실패 시 오전 11시에 추가 결제를 진행하며,<br>
                                        최종 결제 실패 시 정오 12시에&nbsp;알림톡을 발송해드리고 있습니다.<br>
                                        <br>
                                        결제 실패 주문 건은 당일에 한해 새 카드 등록 후 재결제 가능합니다.
                                    </p>
                                </div>
                            </div>
                            <div class="board-wrap use-info">
                                <div class="text-left flex1">
                                    <a href="javascript:void(0)" class="title-elps">
                                        정기배송은 어떻게 신청하나요?
                                    </a>
                                </div>
                                <div class="text-center arrow-wrap">
                                    <svg
                                            height="15px"
                                            viewBox="0 0 512 512"
                                            width="15px"
                                    >
                                        <polygon
                                                points="396.6,160 416,180.7 256,352 96,180.7 115.3,160 256,310.5 "
                                        />
                                    </svg>
                                </div>
                            </div>
                            <div class="answer-wrap disNone">
                                <!-- 답변 영역 -->
                                <div class="answer">
                                    <p class="txt">
                                        정기 배송이 표시된 제품만 가능하며<br>
                                        주문 시 [ 정기배송 신청 ] 버튼을 클릭 후&nbsp; 배송 횟수와 요일 선택 후 주문이 가능합니다.
                                    </p>
                                </div>
                            </div>
                            <div class="board-wrap use-info">
                                <div class="text-left flex1">
                                    <a href="javascript:void(0)" class="title-elps">
                                        신규회원 혜택은 무엇이 있나요?
                                    </a>
                                </div>
                                <div class="text-center arrow-wrap">
                                    <svg
                                            height="15px"
                                            viewBox="0 0 512 512"
                                            width="15px"
                                    >
                                        <polygon
                                                points="396.6,160 416,180.7 256,352 96,180.7 115.3,160 256,310.5 "
                                        />
                                    </svg>
                                </div>
                            </div>
                            <div class="answer-wrap disNone">
                                <!-- 답변 영역 -->
                                <div class="answer">
                                    <p class="txt">
                                        신규가입시 가입축하 적립금 1,000점 혜택이 있으며,<br>
                                        회원이 되시면 생일축하쿠폰, 등급별 적립혜택, 리뷰적립금, 매월 이벤트 참여해주시면 선물을 받으실 기회가 다양하게 준비되어있습니다.<br>
                                        ★가입 후 첫 앱다운시 1,000원 할인쿠폰도 증정드리고 있는 점 이용에 참고를 바랍니다.
                                    </p>
                                </div>
                            </div>
                            <div class="board-wrap use-info">
                                <div class="text-left flex1">
                                    <a href="javascript:void(0)" class="title-elps">
                                        배송지를 변경하고 싶어요!
                                    </a>
                                </div>
                                <div class="text-center arrow-wrap">
                                    <svg
                                            height="15px"
                                            viewBox="0 0 512 512"
                                            width="15px"
                                    >
                                        <polygon
                                                points="396.6,160 416,180.7 256,352 96,180.7 115.3,160 256,310.5 "
                                        />
                                    </svg>
                                </div>
                            </div>
                            <div class="answer-wrap disNone">
                                <!-- 답변 영역 -->
                                <div class="answer">
                                    <p class="txt">
                                        주문 접수 후에는 당일 배송을 위해 실시간 주문서가 수집되고 있어 배송지 및 수취인정보 변경이 어렵습니다.<br>
                                        한번 접수 된 주문의 수취인 정보를 변경 원하실 경우 해당 주문 취소 후 재주문을 부탁드립니다.
                                    </p>
                                </div>
                            </div>
                            <div class="board-wrap use-info">
                                <div class="text-left flex1">
                                    <a href="javascript:void(0)" class="title-elps">
                                        제품을 잘못 선택했습니다. 교환 or 반품이 가능한가요?
                                    </a>
                                </div>
                                <div class="text-center arrow-wrap">
                                    <svg
                                            height="15px"
                                            viewBox="0 0 512 512"
                                            width="15px"
                                    >
                                        <polygon
                                                points="396.6,160 416,180.7 256,352 96,180.7 115.3,160 256,310.5 "
                                        />
                                    </svg>
                                </div>
                            </div>
                            <div class="answer-wrap disNone">
                                <!-- 답변 영역 -->
                                <div class="answer">
                                    <p class="txt">
                                        냉장, 냉동 식품의 경우 변심에 의한 교환, 반품이 어렵습니다.
                                        식품 특성상 회수 입고 후 전량 폐기가 되는 품목이기 때문에 교환, 반품 접수가 어려운 점 이용에 참고 바랍니다.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer-stage" th:insert="~{component/footer.html :: footer}"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!--<script src="/js/CS/list.js"></script>-->
<script src="/js/CS/use-info.js"></script>
</html>
