<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>고객센터</title>
        <link rel="icon" href="/img/main/fabicon.png" type="image/png" sizes="50x50"/>
        <link rel="stylesheet" href="/css/global/global.css" />
        <link rel="stylesheet" href="/css/CS/common.css" />
    </head>
    <body>
        <section class="container">
            <div class="content-wrap frame-sm">
                <div class="page-title-area">
                    <h2 class="title-page">
                        <a href="javascript:void(0)">고객센터</a>
                    </h2>
                </div>
                <div class="frame-wrap">
                    <!-- 사이드바는 타임리프 fragment로 묶을것. 임시로 list.js에 load() 사용 -->
                    <div th:insert="~{CS/sidebar :: sidebar}"></div>
                    <div class="frame-right">
                        <div class="frame-cnt-inner">
                            <div class="form-wrap">
                                <div class="menu-title-area">
                                    <h3 class="title-menu">공지사항 상세</h3>
                                </div>
                                <!-- 상세 내역을 js로 넣는 곳 -->
                                <div class="notice-content">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script th:inline="javascript">
        let noticeDetail = [[${noticeDetail}]]
    </script>
    <script src="/js/CS/detail.js"></script>
</html>
