<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>고객센터</title>
        <link rel="icon" href="../../static/img/main/fabicon.png" type="image/png" sizes="50x50"/>
        <link rel="stylesheet" href="../../static/css/global/global.css" />
        <link rel="stylesheet" href="../../static/css/CS/common.css" />
    </head>
    <body>
        <section class="container">
            <div class="content-wrap frame-sm">
                <div class="page-title-area">
                    <h2 class="title-page">
                        <a href="javascript:void(0)">고객센터</a>
                    </h2>
                </div>
                <div class="frame-wrap">
                    <!-- 사이드바는 타임리프 fragment로 묶을것. 임시로 list.js에 load() 사용 -->
                    <div class="frame-right">
                        <div class="frame-cnt-inner">
                            <div class="form-wrap">
                                <div class="menu-title-area">
                                    <h3 class="title-menu">공지사항 상세</h3>
                                </div>
                                <div class="notice-content">
                                    <div class="answer-wrap notice-title">
                                        <!-- 답변 영역 -->
                                        <div class="answer">
                                            <p class="txt">
                                                포인트 적립은 구매 확정 후 자동 적립 처리됩니다.
                                            </p>
                                        </div>
                                        <div class="text-center">
                                            <span>2023.02.03</span>
                                        </div>
                                    </div>
                                    <div class="inner-text">
                                        안녕하세요, 랭킹닭컴입니다.&nbsp;<br />
                                        태풍 힌남노로 인한 기상 악화로 인해 일부 도서 지역의 배송이
                                        조기 마감되었습니다.<br />
                                        배송 마감 지역 및 배송 재개 일정 확인하시어 주문, 상품
                                        수령에 불편함이 없으시길 바랍니다.&nbsp;<br />
                                        <br />
                                        또한 상황에 따라 일부 지역의 특급배송 지연 및 제한이 될 수
                                        있습니다.<br />
                                        이용에 불편을 드리게 된 점 양해 부탁드립니다.<br />
                                        <br />
                                        랭킹닭컴은 빠른 배송 정상화를 위해 노력하겠습니다.<br />
                                        고객님의 너그러운 양해 부탁드리며 부디 피해 없으시길
                                        바랍니다.<br />
                                        감사합니다.<br />
                                        <br />
                                        ■ 배송 마감 지역<br />
                                        [제주] 전 지역 (9월 12일 집하 재개)<br />
                                        <br />
                                        ■ 배송 지연 및 마감 지역<br />
                                        - 9월 5~6일 배송 지연, 9월 12일 집하 재개<br />
                                        [울릉도] 전 지역<br />
                                        [경상남도]&nbsp;<br />
                                        - 통영시 한산면, 욕지면<br />
                                        [전라남도]&nbsp;<br />
                                        - 여수시 화정면, 남면, 삼산면 전 지역<br />
                                        - 신안군 (임자면, 자은면, 암태면, 팔금면, 안좌면, 장산면,
                                        신의면, 하의면, 도초면, 비금면, 흑산면)<br />
                                        - 완도군 (노화읍, 금일읍, 보길면, 청산면, 생일면, 금당면)<br />
                                        - 진도군 (조도면)<br />
                                        - 고흥군 수락도, 죽도, 시산도, 연홍도
                                    </div>
                                    <div class="board-wrap prev-article">
                                        <div class="text-center arti">
                                            <span class="">이전글</span>
                                        </div>
                                        <div class="text-left flex1">
                                            <a href="javascript:void(0)" class="title-elps">
                                                영양성분 전수조사 결과 입장문
                                            </a>
                                        </div>
                                        <div class="text-center">
                                            <span>2023.02.03</span>
                                        </div>
                                    </div>
                                    <div class="board-wrap next-article">
                                        <div class="text-center arti">
                                            <span class="">다음글</span>
                                        </div>
                                        <div class="text-left flex1">
                                            <a href="javascript:void(0)" class="title-elps">
                                                다음글 다음글 다음글
                                            </a>
                                        </div>
                                        <div class="text-center">
                                            <span>2023.02.05</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- 임시 사이드바 js 이후 th fragment로 대체 -->
    <script src="../../static/js/CS/sidebar.js"></script>
</html>
