<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>비밀번호 재설정</title>
  <link rel="icon" href="/img/main/fabicon.png" type="image/png" sizes="50x50"/>
  <link rel="stylesheet" href="/css/global/global.css" />
  <link rel="stylesheet" href="/css/member/member.css" />
  <link rel="stylesheet" href="/css/member/change-password.css" />
  <link rel="stylesheet" href="/css/component/header.css"/>
  <link rel="stylesheet" href="/css/component/footer.css"/>
</head>
<body>
<root style="zoom: 80%">
  <div class="header-stage" th:insert="~{/component/header :: header}"></div>
  <div class="join-container" style="min-height: auto;">
    <div class="join-area type2">
        <h2 class="join-title" style="text-align: left">비밀번호 재설정</h2>
        <form
                id="reset-pw-form"
                action="/change-password"
                name="changePw"
                method="post"
        >
          <fieldset class="form-group-area">
            <legend>비밀번호 재설정</legend>
            <!--// input-group -->
            <div id="reset-pw-id-text-error"></div>
            <div class="input-group type-lg w-full">
              <input
                      type="text"
                      id="confirm-email"
                      class="input-text email-input"
                      th:value="${userEmail}"
                      name="userEmail"
                      readonly
              />
            </div>
            <div class="input-group type-lg w-full">
              <label for="reset-pw-pw-text" class="blind">새 비밀번호 입력 </label>
              <input
                      type="password"
                      id="reset-pw-pw-text"
                      name="userPassword"
                      class="input-text pw-input"
                      placeholder="새 비밀번호 입력 "
              />
            </div>
            <!--// input-group -->
            <div id="reset-pw-pw-text-error">
              <p class="valid" style="display: none;">비밀번호는 6 ~ 16자 제한입니다.</p>
            </div>
            <div class="input-group type-lg w-full">
              <label for="reset-pw-pw-confirm-text" class="blind">새 비밀번호 확인</label>
              <input
                      type="password"
                      id="reset-pw-pw-confirm-text"
                      class="input-text pw-confirm"
                      placeholder="새 비밀번호 확인"
              />
            </div>
            <!--// input-group -->
            <div id="reset-pw-pw-confirm-text-error"></div>
            <div id="reset-pw-pw-compare-error"></div>
          </fieldset>

          <div class="btn-bottom-area">
            <button
                    type="button"
                    id="reset-pw-submit-btn"
                    class="btn-basic-lg2 btn-dim"
                    disabled=""
            >
              <span>변경하기</span>
            </button>
          </div>
          <!--// btn-bottom-area -->
        </form>
      </div>
    <!--// join-area -->
  </div>
  <div class="footer-stage" th:insert="~{/component/footer :: footer}"></div>
</root>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/join/change-password.js"></script>
</html>
