<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>유통업체 회원가입</title>
    <link rel="icon" href="/img/main/fabicon.png" type="image/png" sizes="50x50"/>
    <link rel="stylesheet" href="/css/global/global.css"/>
    <link rel="stylesheet" href="/css/member/member.css"/>
    <link rel="stylesheet" href="/css/member/join.css"/>
</head>
<body>
<header></header>
<root style="zoom: 80%">
    <section id="contents" class="container">
        <div class="modal">
            <div class="warn-modal">
                <div id="content-wrap"></div>
            </div>
        </div>
        <form th:action="@{/distributor/join}" id="join-general-form" name="distributorDTO" autocomplete="off"
              th:method="post" accept-charset="UTF-8" th:object="${distributorDTO}">
            <div class="join-container join-container2">
                <div class="join-area">
                    <h2 class="join-title">지역마켓 회원가입</h2>
                    <fieldset class="form-group-area">
                        <legend>회원가입 항목 작성</legend>
                        <div class="form-group">
                            <div class="form-head">
                                <label for="member-join-general-id-text" class="form-label"
                                >아이디<i class="es2"></i
                                ></label>
                            </div>
                            <!--// form-head -->
                            <div class="input-group type-lg w-full">
                                <input
                                        type="text"
                                        id="member-join-general-id-text"
                                        name="userId"
                                        class="input-text w571 join-input"
                                        placeholder="4~16자 이상 영문 또는 숫자만 사용 가능"
                                />
                                <span class="input-group-btn"
                                ><button
                                        type="button"
                                        id="btn-id-check"
                                        class="btn-form btn-default-ex"
                                >
                      <span>중복확인</span>
                    </button></span
                                >
                            </div>
                            <p class="valid error help" id="pw-error-text1" style="display: none">
                            </p>
                        </div>
                        <!--// form-group -->

                        <div class="form-group">
                            <div class="form-head">
                                <label for="member-join-general-pw-text" class="form-label"
                                >비밀번호<i class="es2"></i
                                ></label>
                            </div>
                            <!--// form-head -->
                            <div class="input-group type-lg w-full">
                                <label for="member-join-general-pw-text" class="blind">비밀번호 입력</label>
                                <input
                                        type="password"
                                        id="member-join-general-pw-text"
                                        name="userPassword"
                                        class="input-text w571 join-input"
                                        placeholder="6 ~ 16자 영문, 숫자, 특수문자 1개 이상씩 혼용 필수"
                                />
                            </div>
                            <p class="valid error help" id="pw-error-text1" style="display: none">
                            </p>
                            <div class="input-group type-lg w-full">
                                <label for="member-join-general-pw-confirm-text" class="blind"
                                >비밀번호 확인</label
                                >
                                <input
                                        type="password"
                                        id="member-join-general-pw-confirm-text"
                                        name="userPasswordCheck"
                                        class="input-text w571 join-input"
                                        placeholder="비밀번호 확인"
                                />
                            </div>
                            <p class="valid error help" id="pw-error-text1" style="display: none">
                            </p>
                        </div>
                        <!--// form-group -->
                        <div class="form-group">
                            <div class="form-head">
                                <label for="member-general-join-name-text" class="form-label"
                                >업체명<i class="es2"></i
                                ></label>
                            </div>
                            <!--// form-head -->
                            <div class="input-group type-lg w-full">
                                <input
                                        type="text"
                                        id="member-general-join-name-text"
                                        name="distributorName"
                                        class="input-text w571 join-input"
                                        placeholder="유통업체명 입력"
                                />
                            </div>
                            <p class="valid error help" id="pw-error-text1" style="display: none">
                            </p>
                        </div>
                        <div class="form-group">
                            <div class="form-head">
                                <label for="member-general-join-tel-text" class="form-label"
                                >전화번호<i class="es2"></i
                                ></label>
                            </div>
                            <!--// form-head -->
                            <div class="input-group type-lg w-full">
                                <input
                                        type="text"
                                        id="member-general-join-tel-text"
                                        name="userPhoneNumber"
                                        class="input-text w571 join-input"
                                        placeholder="전화번호"
                                        value=""
                                />
                            </div>
                            <p class="valid error help" id="pw-error-text1" style="display: none">
                            </p>
                        </div>
                        <div class="form-group">
                            <div class="form-head">
                                <label for="member-general-join-address-text" class="form-label"
                                >주소<i class="es2"></i
                                ></label>
                            </div>
                            <!--// form-head -->
                            <div class="input-group type-lg w-full">
                                <input
                                        type="text"
                                        id="address-kakao"
                                        name="address.firstAddress"
                                        class="input-text w571 address-input"
                                        placeholder="주소"
                                        readonly
                                />
                            </div>
                            <p class="valid error" id="pw-error-text1" style="display: none">
                            </p>
                        </div>
                        <div class="form-group">
                            <div class="form-head">
                                <label for="member-general-join-detail-address-text" class="form-label"
                                >우편번호<i class="es2"></i
                                ></label>
                            </div>
                            <!--// form-head -->
                            <div class="input-group type-lg w-full">
                                <input
                                        type="text"
                                        id="zone-code"
                                        name="address.zipcode"
                                        class="input-text w571 address-detail-input"
                                        placeholder="우편번호"
                                        readonly
                                />
                            </div>
                            <p class="valid error" id="pw-error-text1" style="display: none">
                            </p>
                        </div>
                        <div class="form-group">
                            <div class="form-head">
                                <label for="member-general-join-detail-address-text" class="form-label"
                                >상세주소<i class="es2"></i
                                ></label>
                            </div>
                            <!--// form-head -->
                            <div class="input-group type-lg w-full">
                                <input
                                        type="text"
                                        id="address-kakao"
                                        name="address.addressDetail"
                                        class="input-text w571 address-detail-input join-input"
                                        placeholder="상세주소"
                                        value=""
                                />
                            </div>
                            <p class="valid error help" id="pw-error-text1" style="display: none">
                            </p>
                        </div>
                        <div class="form-group">
                            <div class="form-head">
                                <label for="member-join-general-email-text" class="form-label"
                                >이메일<i class="es2"></i
                                ></label>
                            </div>
                            <!--// form-head -->
                            <div class="input-group type-lg w-full">
                                <input
                                        type="text"
                                        id="member-join-general-email-text"
                                        name="userEmail"
                                        class="input-text w571 join-input"
                                        placeholder="이메일 주소"
                                />
                            </div>
                            <p class="valid error help" id="pw-error-text1" style="display: none">
                            </p>
                        </div>
                        <!--// form-group -->
                    </fieldset>
                    <div class="btn-bottom-area">
                        <button
                                type="button"
                                id="member-join-general-submit-btn"
                                class="btn-basic-lg2 btn-dim btn-primary"
                                onclick="send()"
                        >
                            <span>회원가입</span></button
                        ><!-- 활성화시 removeClass btn-dim -->
                    </div>
                    <!--// btn-bottom-area -->
                </div>
                <!--// join-area -->
            </div>
        </form>
    </section>
</root>
<footer></footer>
</body>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/join/welfare-join.js"></script>
</html>
