<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>아이디 찾기</title>
    <link rel="icon" href="/img/main/fabicon.png" type="image/png" sizes="50x50"/>
    <link rel="stylesheet" href="/css/global/global.css"/>
    <link rel="stylesheet" href="/css/member/member.css"/>
    <link rel="stylesheet" href="/css/member/find.css"/>
    <link rel="stylesheet" href="/css/member/confirm-id.css"/>
    <link rel="stylesheet" href="/css/component/header.css"/>
    <link rel="stylesheet" href="/css/component/footer.css"/>
</head>
<body>
<root style="zoom: 80%">
    <header class="header-stage" th:insert="~{component/header.html :: header}"></header>
    <section class="join-container" style="min-height: auto">
        <!-- 모달창 -->
        <div class="modal">
            <div class="warn-modal">
                <div id="content-wrap">인증번호를 확인해주세요</div>
            </div>
        </div>
        <div class="join-area type2">
            <div class="find-id-layout">
                <h2 class="search-title">아이디 찾기</h2>
                <form
                        id="find-member-pw-form"
                        action=""
                        method="post"
                        data-gtm-form-interact-id="0"
                >
                    <fieldset class="form-group-area">
                        <legend>아이디 찾기 방식 선택</legend>
                        <ul class="find-id-list">
                            <!-- 휴대폰번호로 찾기 -->
                            <li>
                                <div class="custom-radio">
                                    <input
                                            type="radio"
                                            id="find-member-pw-radio-1"
                                            class="radio phone-radio"
                                            value="phone"
                                            name="find-member-pw-radio"
                                            checked
                                            data-gtm-form-interact-field-id="1"
                                    />
                                    <label for="find-member-pw-radio-1">휴대폰번호로 찾기</label>
                                    <button type="button" class="btn-icon-mark" onmouseover="toolbox()"
                                            onmouseout="hide()">
                                        <i class="ico-excl2" style="border: 2px solid #d9d9d9"></i
                                        ><span class="blind">주의</span>
                                    </button>
                                    <div class="tooltip-wrap">
                                        <div class="tool">
                        <span
                        >휴대폰 인증에 문제가 있으신 경우,<br/>고객센터로 문의 주시기
                          바랍니다.</span
                        >
                                        </div>
                                    </div>
                                </div>
                                <div id="find-member-pw-input-group" class="ui-radio-content active">
                                    <div class="input-group type-lg w-full">
                                        <label for="find-member-pw-id-text1" class="blind">아이디</label>
                                        <input
                                                type="text"
                                                id="find-member-pw-id-text1"
                                                name="find-member-pw-id-text1"
                                                class="input-text phone-input"
                                                placeholder="휴대폰 번호를 입력해주세요."
                                        />
                                    </div>
                                    <div class="input-group type-lg w-full" id="certiNoPhoneArea"
                                         style="display: none;">
                                        <label for="find-member-pw-certi-no-text" class="blind">인증번호 입력</label>
                                        <input
                                                type="text"
                                                id="find-member-pw-certi-no-text"
                                                name="find-member-pw-certi-no-text"
                                                class="input-text phone-code-input"
                                                placeholder="인증번호 입력"
                                                value=""
                                        />
                                        <span class="timer"><div id="find-member-pw-certi-timer-text"></div></span>
                                    </div>
                                    <!--// input-group -->
                                    <div
                                            class="btn-bottom-area"
                                            id="certiBtnEmailArea"
                                            style="margin-top: 20px; font-weight: 400"
                                    >
                                        <button
                                                type="button"
                                                id="find-member-pw-certi-phone-btn"
                                                class="btn-basic-lg2 w-full btn-dim"
                                                disabled
                                        >
                                            <span>인증번호 받기</span>
                                        </button>
                                        <button
                                                type="button"
                                                id="find-member-pw-phone-btn"
                                                class="btn-basic-lg2 w-full btn-dim"
                                                style="display: none;"
                                                disabled
                                        >
                                            <span>확인</span>
                                        </button>
                                    </div>
                                    <!--// input-group -->
                                    <div id="find-member-pw-phone-no-error"></div>
                                </div>
                                <!--// ui-radio-content -->
                            </li>
                            <!--// 휴대폰번호로 찾기 -->

                            <!-- 이메일로 찾기 -->
                            <li>
                                <div class="custom-radio">
                                    <input
                                            type="radio"
                                            id="find-member-pw-radio-2"
                                            class="radio email-radio"
                                            value="email"
                                            name="find-member-pw-radio"
                                            data-gtm-form-interact-field-id="0"
                                    />
                                    <label for="find-member-pw-radio-2">이메일로 찾기</label>
                                </div>
                                <div id="find-member-pw-email-input-group" class="ui-radio-content">
                                    <!--// input-group -->
                                    <!--// input-group -->
                                    <div class="input-group type-lg w-full">
                                        <input
                                                type="text"
                                                id="find-member-pw-email-prefix"
                                                name="find-member-pw-email-prefix"
                                                class="input-text email-input"
                                                placeholder="이메일 주소"
                                        />
                                    </div>
                                    <!--// input-group -->
                                    <div id="find-member-pw-email-error"></div>
                                    <div id="certiNoEmailErrorArea"></div>
                                    <div
                                            class="btn-bottom-area"
                                            id="certiBtnEmailArea"
                                            style="margin-top: 20px; font-weight: 400"
                                    >
                                        <button
                                                type="button"
                                                id="find-member-id-certi-email-btn"
                                                class="btn-basic-lg2 w-full btn-dim"
                                                onclick="goCheck()"
                                                disabled
                                        >
                                            <span>확인</span>
                                        </button>
                                    </div>
                                </div>
                                <!--// ui-radio-content -->
                            </li>
                            <!--// 이메일로 찾기 -->
                        </ul>
                    </fieldset>
                    <!-- 인증번호 입력 -->
                </form>
                <!--// cs-box-bnr -->
            </div>
            <!-- 아이디 찾기 레이아웃 -->
            <!-- 아이디 찾은 후 나오는 레이아웃 -->
            <div class="confirm-id-layout">
                <div class="result-cnt">
                    <i class="ico-img-info"></i>
                    <p class="find-message">
                        고객님의 아이디는
                        <br/>
                        <strong class="text-primary">
                        </strong>
                        입니다.
                    </p>
                </div>
                <div class="btn-bottom-area">
                    <a href="/member/find-pw" class="btn-basic-lg2 btn-primary-line"
                    ><span>비밀번호찾기</span></a
                    >
                    <button
                            type="button"
                            class="btn-basic-lg2 btn-primary go-to-login"
                    >
                        <span>확인</span>
                    </button>
                </div>
            </div>
        </div>
        <!--// join-area -->
    </section>
    <footer class="footer-stage" th:insert="~{component/footer.html :: footer}"></footer>
</root>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/join/find.js"></script>
</html>