<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../../static/css/global/global.css">
        <link rel="stylesheet" href="../../static/css/component/footer.css">
    </head>
    <body>
        <footer id="footer" class="footer">
            <div class="footer-menu">
                <div class="frame-sm">
                    <ul class="footer-menu-list">
                        <li><a href="/etc/footer/company">회사소개</a></li>
                        <li><a href="/service/notice">공지사항</a></li>
                        <li><a href="/product/storeInquiry">입점 · 제휴 · 광고문의</a></li>
                        <li><a href="/etc/footer/uselaw">이용약관</a></li>
                        <li>
                            <a href="/etc/footer/privacy" class="text-black2 text-md"
                                >개인정보처리방침</a
                            >
                        </li>
                    </ul>
                </div>
                <!--// footer-info-list -->
            </div>
            <!--// frame-sm -->
            <div class="footer-info">
                <strong class="footer-logo"></strong>
                <div class="colum-info">
                    <ul class="footer-biz-info">
                        <li><span class="company-name">(주)푸드나무</span></li>
                        <li>대표 : 김영문</li>
                        <li>
                            주소 : 서울특별시 마포구 월드컵북로 396, 15층(상암동, 누리꿈스퀘어
                            비지니스타워)
                        </li>
                        <li>
                            사업자등록번호 : 105-87-81968
                            <span class="biz-information">
                                <a href="javascript:bizPop();">사업자정보 확인</a>
                            </span>
                        </li>
                        <li>통신판매업신고번호 : 제2015-서울마포-1058호</li>
                        <li>개인정보보호책임자 : 박상필</li>
                    </ul>
                    <p class="copyright">Copyright©랭킹닭컴 All rights reserved.</p>
                </div>
                <!--// colum -->
                <div class="colum-info">
                    <ul class="customer-info">
                        <li class="cscenter">고객센터 <em class="footer-tel">02-6405-8088</em></li>
                        <li>FAX. 02-6351-8088</li>
                        <li>E-mail. admin@foodnamoo.com</li>
                    </ul>
                    <div class="customer-btns">
                        <a href="#" onclick="footerCheckLogin('/service/voc')"
                            ><span>고객의소리</span></a
                        >
                        <a href="#" onclick="footerCheckLogin('/mypage/userCounsel/regCouncel')"
                            ><span>1:1문의</span></a
                        >
                    </div>
                    <ul class="footer-sns-list">
                        <li>
                            <a
                                href="https://www.facebook.com/rankingdakcom"
                                title=""
                                target="_blank"
                                ><i class="ico-sns-facebook"></i
                                ></a
                            >
                        </li>
                        <li>
                            <a
                                href="https://www.instagram.com/rankingdak_official"
                                title=""
                                target="_blank"
                                ><i class="ico-sns-instagram"></i
                                ></a
                            >
                        </li>
                        <li>
                            <a href="https://blog.naver.com/rankingdak" title="" target="_blank"
                                ><i class="ico-sns-blog"></i
                                ></a
                            >
                        </li>
                        <li>
                            <a
                                href="https://post.naver.com/my.nhn?memberNo=9267177"
                                title=""
                                target="_blank"
                                ><i class="ico-sns-post"></i
                                ></a
                            >
                        </li>
                        <li>
                            <a href="https://pf.kakao.com/_ltFRl" title="" target="_blank"
                                ><i class="ico-sns-kakaotalk"></i
                                ></a
                            >
                        </li>
                        <li>
                            <a
                                href="https://www.youtube.com/c/rankingdakcom"
                                title=""
                                target="_blank"
                                ><i class="ico-sns-youtube"></i></a
                            >
                        </li>
                    </ul>
                </div>
                <!--// colum -->
            </div>
            <!--// footer-info -->
            <div class="footer-bottom">
                <ul class="service-txt">
                    <li>
                        <a href="javascript:void(0);"
                            ><i class="ico-footer-service01"></i>정보보호 관리체계 ISMS 인증 획득</a
                        >
                    </li>
                    <li>
                        <a href="javascript:void(0);"
                            ><i class="ico-footer-service02"></i>우리은행 구매 안전 서비스 가입사실
                            확인</a
                        >
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>
