<!DOCTYPE html>
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="/css/global/global.css"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
</head>
<body>
<div th:fragment="header" class="header">
    <div class="header_inner">
        <!-- header_logo -->
        <h1 class="logo">
            <a href="/main/welfare">
                <img src="/img/header/Logo-main.png" alt="">
            </a>
            <div class="main-swiper-wrap">
                <a href="/main/welfare" class="fontW500" id="welfare-market">복지관</a>
                <a href="/main/product" class="fontW500" id="product-market">
                    <img src="/img/header/market-img.png" alt="">
                    지역 마켓
                </a>
            </div>
        </h1>
        <!-- header_util -->
        <div class="util">
            <ul>
                <li sec:authorize="!isAuthenticated()"><a href="/login">로그인 / 회원가입</a></li>
                <li sec:authorize="isAuthenticated()"><a href="/logout">로그아웃</a></li>
                <li><a href="javascript:void(0)">정보수정</a></li>
                <li><a href="javascript:void(0)">주문조회</a></li>
            </ul>
        </div>
        <!-- header_search -->
        <div class="header-search">
            <form class="top-search" name="subSearch">
                <input
                        type="search"
                        class="input-search"
                        autocomplete="off"
                        placeholder="복지관 검색"
                        maxlength="100"
                />

                <button
                        type="button"
                        class="btn-top-search"
                        id="btnTopSearch"
                        name="btnTopSearch"
                ></button>
            </form>
        </div>
        <!--  -->
        <div class="my-menu">
            <ul>
                <li>
                    <a sec:authorize="isAuthenticated()" href="/mypage/" class="btn-util-mypage"></a>
                </li>
                <li>
                    <a href="javascript:showCartModal()" class="btn-util-productCart" title=""></a>
                </li>
            </ul>
            <div class="productCart-modal" style="display: none">
                <a href="/order/subscription">
                    <img src="/img/header/sub_cart.png" alt="">
                    <span class="cart-title">구독 장바구니</span>
                </a>
                <a href="/order/product">
                    <img src="/img/header/product_cart.png" alt="">
                    <span class="cart-title">상품 장바구니</span>
                </a>
            </div>
        </div>
    </div>
    <div class="gnb-wrap">
        <div class="inner">
            <div class="category-wrap">
                <a class="btn-menu-all">
                    <span>카테고리</span>
                </a>
                <nav id="all-category" class="category-menu">
                    <ul class="cate-dep1" style="display: none" ;>
                        <li>
                            <a href="javascript:void(0)" data-cd1="R254">
                                <i class="ico-cate-gnb">
                                    <img
                                            src="/img/main/food_icon.png"
                                            alt=""
                                    />
                                </i>
                                <span class="menu">신상품</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <nav id="gnb" class="gnb">
                <ul>
                    <li class="">
                        <a href="/user-board/recipe-board-list">
                            <span>게시판</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/welfare/list">
                            <span>복지관</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/product/list">
                            <span>지역마켓</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/cs/notice">
                            <span>고객센터</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/product/list">
                            <em class="ico-txt-gnb">
                                <span class="blind">정기배송</span>
                            </em>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/main/header.js"></script>
</html>
