<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>해피박스</title>
    <link rel="icon" href="/img/main/fabicon.png" type="image/png" sizes="50x50"/>
    <link rel="stylesheet" href="/css/global/global.css"/>
    <link rel="stylesheet" href="/css/main/main.css"/>
    <link rel="stylesheet" href="/css/component/header.css"/>
    <link rel="stylesheet" href="/css/component/footer.css"/>
</head>
<body>
<header class="header-stage" th:insert="~{component/header.html :: header}"></header>
<div id="check-modal" class="modal">
    <div class="modal-content">
        <p class="modal-title">
            본 사이트는 학습용 사이트이므로 회원가입 및 서비스 이용을 금지합니다.
            <br>
            위 내용을 무시하고 서비스 이용 중 손해 발생 시 저희 HappyBox측은 책임 지지 않습니다.
        </p>
        <div class="cart-product-info">
            <div class="modal-btn-wrap">
                <button class="modal-btn" id="modal-yesBtn" onclick="deleteModal()">동의합니다</button>
            </div>
        </div>
    </div>
</div>
<div class="wrap main">
    <section class="content">
        <section class="container">
            <!-- 메인 배너 -->
            <div class="banner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="move-arrow">
                <!-- 배너의 카운트 -->
                <span class="banner-count"></span>
                <!-- 이전 버튼 -->
                <div class="prev">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            id="Layer_1"
                            style="enable-background: new 0 0 512 512"
                            version="1.1"
                            viewBox="0 0 512 512"
                            xml:space="preserve"
                    >
                        <polygon
                                points="160,128.4 192.3,96 352,256 352,256 352,256 192.3,416 160,383.6 287.3,256 "
                        />
                    </svg>
                </div>
                <!-- 다음 버튼 -->
                <div class="next">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            id="Layer_1"
                            style="enable-background: new 0 0 512 512"
                            version="1.1"
                            viewBox="0 0 512 512"
                            xml:space="preserve"
                    >
                        <polygon
                                points="160,128.4 192.3,96 352,256 352,256 352,256 192.3,416 160,383.6 287.3,256 "
                        />
                    </svg>
                </div>
            </div>
        </section>
        <section id="identityContainer" class="identityContainer section">
            <div class="inner">
                <h3 class="title">Happy Box 에 오신 것을 환영합니다!</h3>
                <div class="identityContainer-content">
                    <div class="titleWrapper">
                        <div class="biImage">
                            <img
                                    src="/img/main/main_static_banner.jpg"
                                    alt=""
                            />
                        </div>
                    </div>
                    <div class="descWrapper">
                        <p class="desc">
                            반갑습니다! 맛있는 음식과 좋은 일이 함께하는 Happy Box에 오신 것을 환영합니다.
                            HappyBox는 매일 집까지 맛있는 음식을 배달해주는 월간 구독 서비스입니다. <br>
                            복지관에서 알아서 맛있는 메뉴를 준비해서 깜짝 선물처럼 집으로 보내드릴게요. <br><br>
                            그런데, HappyBox는 그냥 맛있는 음식을 배달해주는 서비스가 아닙니다. 서비스를 통해 벌어들이는 수익은 다양한 사회복지 사업에 사용됩니다.
                            맛있는 음식을 합리적인 가격에, 거기에 사회적인 공헌까지 함께할 수 있답니다!
                            이제 매일 건강한 밥상을 즐기면서, 사회에 도움까지 줄 수 있게 되었어요.
                            HappyBox와 함께라면, 매월 행복이 가득한 상자가 여러분을 기다릴 거예요.
                        </p>
                        <br>
                        <p class="info">
                            지금 바로 HappyBox를 구독하고, 행복한 변화를 함께 만들어가요!
                        </p>
                        <p class="guideline">
                            <em>HappyBox</em><br/>
                            여러분의 한 끼를 소중하게.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="main-article recommend-sec">
            <div class="frame-sm frame-slide-overlap">
                <h2 class="main-article-tit">따끈따끈 새로운 밥상이 찾아왔어요~!</h2>
                <div
                        class="bnr-item-container swiper-container swiper-container-initialized swiper-container-horizontal"
                >
                    <!-- 최신 구독 리스트 -->
                    <ul class="bnr-item-list swiperDataContainer swiper-wrapper recentSub" data-index="0" data-limit="2">
                    </ul>
                    <!--// grid-area -->
                    <button class="swiper-button-prev swiper-btn swiper-button-disabled">
                        <svg viewBox="0 0 512 512">
                            <polygon
                                    points="160,128.4 192.3,96 352,256 352,256 352,256 192.3,416 160,383.6 287.3,256 "
                            ></polygon>
                        </svg>
                    </button>
                    <button class="swiper-button-next swiper-btn">
                        <svg viewBox="0 0 512 512">
                            <polygon
                                        points="160,128.4 192.3,96 352,256 352,256 352,256 192.3,416 160,383.6 287.3,256 "
                            ></polygon>
                        </svg>
                    </button>
                    <span
                            class="swiper-notification"
                            aria-live="assertive"
                            aria-atomic="true"
                    ></span>
                </div>
            </div>
        </section>
        <section class="main-article">
            <div class="frame-sm time-sales-wrap">
                <div class="time-sales-container">
                    <div class="time-sales-title-area">
                        <h2 class="main-article-tit">
                            <span>HappyBox의</span>
                            <span>최신 복지관 리뷰!</span>
                        </h2>
                        <!-- [Dev] 20220419 수정 -->
                        <p>회원 여러분들이 정성스럽게 작성해 주셨어요!</p>
                    </div>
                    <div class="time-sales-content-area">
                        <div class="swiper-container">
                            <ul class="swiper-wrapper swiperDataContainer" data-index="0" data-limit="4"></ul>
                            <button
                                    class="swiper-button-prev swiper-btn swiper-button-disabled swiper-button-displayCount2"
                            >
                                <svg viewBox="0 0 512 512">
                                    <polygon
                                            points="160,128.4 192.3,96 352,256 352,256 352,256 192.3,416 160,383.6 287.3,256 "
                                    ></polygon>
                                </svg>
                            </button>
                            <button
                                    class="swiper-button-next swiper-btn swiper-button-displayCount2"
                            >
                                <svg viewBox="0 0 512 512">
                                    <polygon
                                            points="160,128.4 192.3,96 352,256 352,256 352,256 192.3,416 160,383.6 287.3,256 "
                                    ></polygon>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="main-article main-recommend">
            <div class="frame-sm frame-slide-overlap">
                <div class="recommend-title">
                    <h3 class="main-article-tit">꾸준하게 찾아주셔서 감사합니다!</h3>
                    <!-- <p><span class="">20대 </span><span>여성</span>이 많이 찾고있어요!</p> -->
                </div>
                <div class="main-recommend-swiper-wrapper">
                    <div class="swiper-container">
                        <ul class="prd-item-list swiper-wrapper swiperDataContainer" data-index="0" data-limit="2"></ul>
                        <button
                                class="swiper-button-prev swiper-btn swiper-button-disabled"
                        >
                            <svg viewBox="0 0 512 512">
                                <polygon
                                        points="160,128.4 192.3,96 352,256 352,256 352,256 192.3,416 160,383.6 287.3,256 "
                                ></polygon>
                            </svg>
                        </button>
                        <button class="swiper-button-next swiper-btn">
                            <svg viewBox="0 0 512 512">
                                <polygon
                                        points="160,128.4 192.3,96 352,256 352,256 352,256 192.3,416 160,383.6 287.3,256 "
                                ></polygon>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <div class="main-mid-bnr">
            <a href="javascript:void(0)">
                <img
                        class="lozad"
                        src="/img/main/main_donation_banner.jpg"
                />
            </a>
        </div>
        <article class="main-article best-list">
            <div class="frame-sm">
                <h2 class="main-article-tit">받은만큼 더 어려운 이웃에게</h2>
                <div class="swiper-container">
                    <ul class="swiper-wrapper donationWrap"></ul>
                </div>
            </div>
        </article>
    </section>
</div>
<footer class="footer-stage" th:insert="~{component/footer.html :: footer}"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/main/modal.js"></script>
<script th:inline="javascript">
    let recentSub = [[${recent}]];
    console.log(recentSub);
    let topSale = [[${topSale}]];
    console.log(topSale);
    let donation = [[${donation}]];
    console.log(donation);
    let userDetail = [[${userDetail}]];
    console.log(userDetail);
    let reviews = [[${reviews}]];
    console.log(reviews);
</script>
<script src="/js/main/main.js"></script>
<script src="/js/main/banner.js"></script>
<script src="/js/main/item-swiper.js"></script>
<script src="/js/main/header.js"></script>
</html>
