<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/main/section.css">
</head>
<body>
    <section id="identityContainer" class="identityContainer section">
        <div class="inner">
          <strong class="summary">BI</strong>
          <div class="titleWrapper">
            <h3 class="title">
              Brand Identity
            </h3>
            <div class="biImage">
                <img src="https://file.rankingdak.com/image/RANK/BANNER/AR_IMG_10/20230331/IMG1680ZAf252510921.jpg" alt="">
            </div>
          </div>
          <div class="descWrapper">
            <p class="desc">
              와디즈에 모이는 메이커와 서포터, 투자자들의 가치가 더 빛을 발하길 바랍니다. 이들의 이야기가 더 잘 전달되도록 와디즈의 기업 아이덴티티는 쉽고 단순한 형태로 개발했습니다.
              때로는 로고의 한 부분이 유동적으로 움직이며 확장합니다. 다양함을 담아내고 시대의 흐름을 만드는 와디즈의 메시지를 담아, ‘더 나은 세상’에 대한 영감을 주고자 합니다.
            </p>
            <a href="../../static/img/main/welfare_review.png" class="wdButton bi" download="">BI 다운로드</a>
            <p class="info">다운로드가 안될 때 PC 사용을 권장합니다.</p>
            <p class="guideline">
              <em>Guideline</em><br>
              BI 적용 시 가이드의 규정을 반드시 준수해야 하며, 형태의 왜곡과 변형, 오남용을 금지합니다.
            </p>
          </div>
        </div>
      </section>

      <section class="principleContainer section">
        <div class="inner">
          <strong class="summary">Wadiz 5 Principles</strong>
        <div class="titleWrapper">
          <h3 class="title">
            와디즈가 일하는 방식
          </h3>
        </div>
        <div class="descWrapper">
          <p class="desc">
            와디즈는 서로를 지지하고 도전을 즐기는 기업문화 안에서  아래 5가지 원칙을 가지고 일합니다.
          </p>
          </div>
          <ol class="principleList">
            <li class="principleItem">
              <span class="num">1</span>
              <p class="desc">우리는 옳은 일을 합니다.</p>
            </li>
            <li class="principleItem">
              <span class="num">2</span>
              <p class="desc">급변의 물살을 즐기며 앞서 나갑니다.</p>
            </li>
            <li class="principleItem">
              <span class="num">3</span>
              <p class="desc">팀원간의 필요를 채워줍니다.</p>
            </li>
            <li class="principleItem">
              <span class="num">4</span>
              <p class="desc">파트너와 고객에게 긍정적인 기억을 남깁니다.</p>
            </li>
            <li class="principleItem">
              <span class="num">5</span>
              <p class="desc">재무적인 이익을 추구합니다.</p>
            </li>
          </ol>
        </div>
      </section>
</body>
</html>