/* 복지관 상세페이지 */

.detail-container {
    position: relative;
    min-height: 700px;
    padding-bottom: 100px;
}

.detail-content-wrap {
    min-height: 700px;
}

/*============================공통===========================  */

.fixed-img {
    position: fixed;
    right: 32px;
    bottom: 90px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid #0000004d;
    border-radius: 20px;
    background-color: #80808000;
    border-style: outset;
}

.fixed-img img {
    width: 30px;
    height: auto;
}

.frame-sm {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
}

.welfare-top .img {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

.welfare-top .img img {
    width: 750px;
}

.tit {
    display: block;
    color: #666;
    font-weight: 400;
    margin-bottom: 20px;
}

/* ========================================================== */

/* 상단 */

.detail-top-wrap {
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.welfare-img-area {
    float: left;
    width: 770px;
}

.welfare-top {
    position: relative;
}

.timeSale-area {
    width: 100%;
    padding: 0 20px 0 23px;
    margin-bottom: 15px;
    background: #f79960;
}

.refrig-banner {
    width: 100%;
    margin-top: 15px;
    text-align: center;
}

.refrig-banner a img {
    width: 770px;
}

.fixed {
    position: fixed;
}

.rating-div {
    margin-bottom: 15px;
}

.welfare-info-area {
    position: sticky;
    top: 0;
    width: 280px;
    padding: 20px;
    border: 2px solid #80808014;
    border-style: outset;
    z-index: 10;
    background-color: white;
}

.detail-top-wrap:after {
    display: block;
    content: '';
    clear: both;
}

.welfare-title {
    font-size: 26px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 10px;
}

.rating-point {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 23px;
    height: 23px;
}

.rating-point img {
    width: 23px;
    height: 23px;
    align-items: center;
}

.score {
    font-size: 16px;
    color: #555;
}

.num {
    font-size: 14px;
    color: #999;
}

.welfare-profile {
    margin-top: 18px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.welfare-name-tag {
    color: #333;
    font-size: 20px;
    font-weight: 700;
}

.welfare-name {
    font-size: 20px;
    color: #333;
    font-weight: 700;
}

.welfare-location {
    font-size: 14px;
    color: #aaa;
    line-height: 220%;
}

.like-cart-btn {
    width: 70px;
    height: 30px;
    display: flex;
    gap: 10px;
}

.like-btn {
    display: block;
    width: 100%;
}

.like-btn img {
    width: 30px;
    height: 30px;
}

.cart-btn {
    display: block;
    width: 100%;
}

.cart-btn img {
    width: 30px;
    height: 30px;
}

.welfare-subs {
    border: 1px solid #eee;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 20px;
}

.box-head {
    position: relative;
    display: block;
    padding: 10px 20px;
    background: #FAFAFA;
}

.ico-bl-orgmem {
    vertical-align: middle;
    margin: -3px 5px 0 0;
    font-size: 13px;
}

.text-primary {
    color: #FF6001 !important;
}

.txt {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #999;
    font-size: 13px;
}

.sale-desc {
    border-top: 1px solid #eee;
    padding: 15px 0;
}

.sale-desc li {
    overflow: hidden;
    padding: 0 20px;
}

.sale-desc li > span {
    float: left;
    line-height: 23px;
    font-weight: 500;
}

.sale-desc li .price {
    color: #ff6001;
    font-size: 14px;
}

.sale-desc li .number {
    font-size: 20px;
    font-weight: 700;
}

.sale-desc li > em {
    float: right;
}

.welfare-table {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-top: 17px;
}

.dl-row {
    display: table-row;
}

.dl-row > dt {
    display: table-cell;
    vertical-align: top;
    width: 100px;
    border-bottom: 1px solid #EDEDED;
    padding: 17px 0;
    color: #666;
}

.dl-row > dd {
    display: table-cell;
    position: relative;
    vertical-align: top;
    border-bottom: 1px solid #EDEDED;
    padding: 17px 0;
    color: #333;
}

.dl-row > dd .delivery-how {
    display: inline-block;
    width: 64px;
    height: 20px;
    vertical-align: middle;
    color: salmon;
}

.dl-row > dd .const-div {
    position: relative;
}

.dl-row > dd .txt-list {
    line-height: 20px;
}

.const-div .txt-list {
    padding-right: 50px;
}

.option-select-area {
    padding-top: 15px;
    border-bottom: 2px solid #8080809c;
    padding-bottom: 20px;
}

.option-select-area .drop-box {
    height: auto;
}

.drop-box {
    width: 200px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 13px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.drop-box:focus {
    border: 1.5px solid #FA0101;
    box-sizing: border-box;
    border-radius: 4px;
}

select {
    -webkit-appearance: none;
    appearance: none;
    background: url('../../img/welfare/down.png') no-repeat 97% 50%/15px auto;
}

option {
    padding: 3px;
    margin-top: 3px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

.w-full {
    width: 100% !important;
}

.add-fee a:not(.text-primary) {
    padding: 17px 14px;
}

.add-fee a {
    position: relative;
    overflow: hidden;
    vertical-align: top;
}

.drop-list li a:not(.text-primary) {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 14px 15px;
    font-size: 14px;
}

.add-fee-name {
    display: block;
    font-size: 14px;
    line-height: 18px;
    color: #333;
    font-weight: 400;
}

.add-fee-name + .add-fee-bottom {
    margin-top: 7px;
}

.add-fee-bottom {
    font-size: 0;
}

.add-fee-num {
    display: inline-block;
    font-size: 13px;
    line-height: 20px;
    vertical-align: middle;
    color: #333;
}

.add-fee-num strong {
    font-size: 15px;
    vertical-align: 0;
}

.add-fee-bottom .text-primary {
    display: inline-block;
    position: static;
    font-size: 13px;
    line-height: 20px;
    font-style: normal;
    text-decoration: none;
    margin-left: 4px;
    transform: none;
    -webkit-transform: none;
    top: auto;
    vertical-align: middle;
}

.drop-box .dropdown-value:after {
    content: '';
    display: block;
    position: absolute;
    right: 20px;
    top: 17px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #999;
    border-left: 2px solid #999;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}

.option-select-area .total-area {
    text-align: right;
    margin-top: 30px;
}

.radio-check {
    text-align: left;
}

.radio-check ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.radio-check ul li:first-child {
    margin-bottom: 10px;
}

.custom-radio {
    position: relative;
    display: inline-block;
}

input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.custom-radio input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.custom-radio .radio + label {
    display: inline-block;
    color: #333;
    position: relative;
    padding-left: 28px;
    height: 20px;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.4;
    vertical-align: top;
}

.custom-radio .radio:checked + label:before {
    background: #fff;
    border: 1px solid #ddd;
}

.custom-radio .radio + label:before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 100%;
    box-sizing: border-box;
}

.custom-radio .radio + label {
    display: inline-block;
    color: #333;
    position: relative;
    padding-left: 28px;
    height: 20px;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.4;
    vertical-align: top;
}

.custom-radio .radio:checked + label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background: #FF5938;
    border-radius: 100%;
}

.custom-radio .radio + label {
    display: inline-block;
    color: #333;
    position: relative;
    padding-left: 28px;
    height: 20px;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.4;
    vertical-align: top;
}

.normal-price {
    display: flex;
    align-items: center;
}

.subs-price {
    display: inline-block;
    margin-top: 5px;
    cursor: default;
}

.normal-price .price {
    font-size: 15px;
    display: inline-block;
    font-weight: 700;
    margin-left: 10px;
}

.total-price {
    font-size: 20px;
}

.special-price {
    display: inline-block;
    max-width: 223px;
    background: #FFF2E2;
    padding: 5px 9px;
    border-radius: 3px;
    cursor: pointer;
}

.special-price p {
    color: #ff6001;
}

.arr-right {
    widtH: 10px;
    height: 10px;
    color: #ff6001;
}

.arr-right:before {
    top: 0;
    left: 50%;
    width: 1px;
    height: 59.45%;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.ico-arr-right:after {
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 59.45%;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.special-total-price {
    font-size: 26px;
    color: #FA0101;
}

.total-area .txts {
    display: inline-block;
    font-size: 16px;
}

.txts, .txts span {
    word-break: break-all;
}

.total-area .price {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
}

.total-area .price strong {
    font-size: 26px;
}

.get-total-price .price strong {
    color: #ff0000;
    font-size: 28px;
    font-weight: bold;

}

.get-total-price {
    border-top: 1px solid rgb(0 0 0 / 5%);
    padding-top: 10px;
}

.like-productCart-btn {
    display: flex;
    gap: 6px;
    align-items: center;
}

.like-productCart-btn a {
    padding: 2px;
}

.like-productCart-btn a:hover {
    background-color: #eee;
}

.productCart-btn img {
    width: 30px;
    height: 30px;
}

/* 버튼 + 모달 */
.btn-area {

    position: relative;
    text-align: center;
    align-items: stretch;
    display: -webkit-box;
    margin-top: 15px;
    -webkit-align-items: stretch;
}

.btn-area .save-btn {
    vertical-align: top;
    flex-grow: 1;
    -webkit-box-flex: 1;
    width: 50%;
    margin: 0 3px 0 0;
    background: #fff;
    color: #ff1d1d9e;
    border: 1px solid #ff1d1d9e;
    min-width: 280px;
    height: 56px;
    padding: 10px 25px 11px;
    border-radius: 6px;
    cursor: pointer;
}

.btn-area .subscribe-btn {
    vertical-align: top;
    flex-grow: 1;
    -webkit-box-flex: 1;
    width: 50%;
    margin: 10px 3px 0 0;
    min-width: 280px;
    background: #FF5938;
    color: #fff;
    border: 1px solid #FF5938;
    padding: 10px 25px 11px;
    border-radius: 6px;
}

.btn-area .save-btn span {
    font-size: 18px;
    line-height: 1.8;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.btn-area .subscribe-btn span {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.8;
    display: inline-block;
    vertical-align: top;
}

/* ======================복지관 상세페이지 중간 부분 =======================================*/

.welfare-middle-wrap {
    padding-top: 70px;
}

.left-position {
    width: 770px;
}


/* 리뷰 */

.review-tit {
    padding: 4px 10px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
}

.review-area .review-tit {
    margin-left: 4px;
}

.review-tit .text-primary {
    font-weight: 400;
    font-size: 16px;
}

.review-list-wrap {
    position: relative;
    font-size: 0;
    text-align: left;
}

.review-list-wrap .colum {
    margin-top: 0;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    width: 47%;
    padding-left: 10px;
    margin-right: 10px;
}

.review-detail {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    padding-right: 10px;
    border-right: 1px solid #80808061;
}

.review-detail .img {
    position: relative;
    float: right;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.review-detail .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review-detail .img .added {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    background: rgba(0, 0, 0, 0.5);
    min-width: 30px;
    height: 30px;
    text-align: center;
    line-height: 2.2;
}

.review-detail .rating-point {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 17px;
}

.review-detail .rating-point img {
    width: 13px;
    height: 17px;
    align-items: center;
}

.review-detail .rating-point .point50 {
    width: 100%;
}

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.review-area .rating-point + .sep-list {
    display: inline-block;
    vertical-align: middle;
    margin-top: -6px;
    margin-left: 20px;
    overflow: inherit;
}

.sep-list.type3 li {
    padding: 0 10px 0 0;
    font-size: 13px;
    color: #666;
}

.sep-list li {
    float: left;
    position: relative;
    padding: 0 13px 0 0;
    color: #555;
    font-size: 13px;
    letter-spacing: -0.5px;
}

.sep-list li:last-child {
    padding-right: 0;
}

.sep-list.type3 li:before {
    height: 10px;
    background: #e6e6e6;
    margin: 2px 10px 0 0;
}

.sep-list li:before {
    display: inline-block;
    content: '';
    width: 1px;
    height: 10px;
    vertical-align: middle;
    background: #C4C4C4;
    margin: -1px 11px 0 0;
}

.sep-list li span {
    vertical-align: middle;
}

.sep-list:after {
    content: '';
    display: block;
    clear: both;
}

.detail {
    padding-right: 35px;
    margin-top: 10px;
    max-height: 72px;
    line-height: 24px;
    width: 250px;
}

.text-elps3 {
    display: block;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
}

.detail span {
    white-space: pre-wrap;
    word-break: break-all;
}


/* ==========================================카카오맵================================== */
.placeMapSection-container {
    padding: 13px;
}

.placeMapSection-container > div:last-child {
    margin: 0px 0px 20px;
}

.placeMapContainer {
    height: auto;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
}

.place-container {
    height: auto;
    padding: 0px 14px;
}

.placeLocation-container {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 14px 0px;
}

.placeLocationTitle-container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.placeLocationTitle {
    margin: 0px 0px 8px;
    color: rgb(51, 51, 51);
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.placeLocationTitleDetail {
    color: rgb(119, 119, 119);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}


/*========================================== 음식 정보 ===================================*/

.food-info-area {
    padding: 14px;
}

.frame-sm {
    position: relative;
    margin: 0 auto;
}

.category-btn-list {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

.category-btn-item-ico-wrap {
    background-color: #f8f8f8;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-btn-item-ico-wrap i {
    display: block;
    width: 48px;
    height: 48px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: 500%;
}

.category-btn-item-subject {
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    margin-top: 7px;
    color: #666;
    word-break: keep-all;
}

.main-article ~ .recommend-sec {
    margin-top: 80px;
}

.frame-slide-overlap {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}

.frame-slide-overlap .swiper-container {
    padding: 0 12px;
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0 20px;
    z-index: 1;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
    transition: 0.3s ease-in-out;
}

.best-list .frame-sm .swiper-container .swiper-wrapper {
    justify-content: space-between;
}

.swiper-btn {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #e1e1e1;
    border-radius: 100%;
    top: calc(256px / 2);
    margin: 0;
    transform: translateY(-50%);
    position: absolute;
    z-index: 10;
}

.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
}

.swiper-button-prev {
    left: 0;
    right: auto;
}

.swiper-button-next {
    right: 0;
    left: auto;
}

.swiper-button-prev svg {
    width: 15px;
    height: 15px;
    margin-top: 2px;
    pointer-events: none;
    transform: rotate(180deg);
    z-index: 1;
}

.swiper-button-next svg {
    width: 15px;
    height: 15px;
    pointer-events: none;
    margin-top: 2px;
    z-index: 1;
}

.swiper-button-next svg polygon,
.swiper-button-prev svg polygon {
    pointer-events: none;
    z-index: 1;
}

.bnr-item {
    position: relative;
}

.bnr-item .img {
    overflow: hidden;
    border-radius: 8px;
    aspect-ratio: 1/1;
}

.bnr-item .img > img {
    width: 100%;
    height: 100%;
}

.bnr-item .tit {
    display: block;
    font-size: 17px;
    font-weight: 700;
    margin-top: 15px;
}

.bnr-item-list {
    width: 100%;
}

.bnr-item-slide {
    flex-shrink: 0;
}


/*============= 복지관 사진 ========================*/
.welfare-info-img {
    text-align: center;
    margin-bottom: 10px;
}

.welfare-info-img img {
    width: 100px;
    height: 100px;
}

/*=====================================*/
/*============= 복지관 소개 ========================*/
.welfare-intro-area {
    padding: 14px;
}

.welfare-info-wrap {
    position: relative;
}

.welfare-info-list {
    margin: 0px auto;
    width: 100%;
    text-align: center;
}

.welfare-info-list img {
    padding-top: 30px;
    max-width: 100%;
    vertical-align: top;
}

/* ================================ 수정 삭제 버튼 ================================================ */

.edit-btn-area {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.edit-btn-area button {
    width: 60px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
}

.edit-btn-area button span {
    cursor: pointer;
}

/* ==============================================  수정삭제를 위한 모달 ================================= */
.delete-modal {
    display: none;
    position: fixed;
    top: 0%;
    z-index: 40;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}


.delete-modal-shape {
    border: 1px solid gray;
    position: absolute;
    width: 280px;
    height: 200px;
    left: 44%;
    top: 30%;
    background-color: #fff;
    /* border-radius: 8px; */
    animation: fade-in 0.5s ease-out;
    padding: 20px;
}

.modal-header .delete-img {
    position: absolute;
    width: 30px;
    height: 30px;
}

.modal-header-sub-info {
    margin: 5px 0;
}

.modal-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding-top: 20px;
    font-size: 20px;
    border-top: 1px solid #80808061;
    align-items: center;
    text-align: center;
}


.confirm-delete {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 70px;
    margin: 0 auto;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.confirm-delete:hover {
    background-color: #FF5938;
    color: white;
    font-weight: bold;
}

.cancel-delete {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 70px;
    margin: 0 auto;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.cancel-delete:hover {
    background-color: #FF5938;
    color: white;
    font-weight: bold;
}

/* 모달창 기본 스타일 */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal::-webkit-scrollbar{
    display: none;
}

/* 모달창 내용 스타일 */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 825px;
    overflow-y: scroll;
    max-height: 600px;
}

.modal-content {
    scrollbar-width: thin;
    scrollbar-color: #999999 #f5f5f5;
}

.modal-content::-webkit-scrollbar {
    width: 8px;
}

.modal-content::-webkit-scrollbar-track {
    background: #f5f5f5;
}

.modal-content::-webkit-scrollbar-thumb {
    background-color: #FF5938;
}

#like-modal .modal-content {
    height: 150px;
    width: 425px;
}

#cart-modal .modal-content {
    width: 315px;
}

.modal-content .modal-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-title p {
    font-weight: bold;
}

.modal-title .date {
    color: #ccc;
    margin-right: 46px;
}

.modal-name {
    margin: 21px 0;
}

.modal-name h3, .modal-name p {
    text-align: center;.modal-title p
}

.food-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.food-list .food img {
    width: 200px;
    height: 200px;
}

.food-list .food {
    display: flex;
    justify-content: space-around;
}

.food span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    width: 120px;
}

/* 닫기 버튼 스타일 */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-title {
    font-weight: bold;
}

.modal-body {
    margin-top: 20px;
}

.cart-product-info {
    display: flex;
    margin-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #ccc;
}

.cart-product-info div:first-child {
    padding-right: 12px;
    border-right: 1px solid #ccc;
}

.cart-product-info div:nth-child(2) {
    padding-left: 12px;
}

.cart-product-info div:nth-child(2) p {
    margin-bottom: 4px;
}

.cart-info {
    margin-bottom: 4px;
}

.modal-btn-wrap {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#modal-yesBtn {
    padding: 10px 20px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
}

#modal-yesBtn {
    background-color: #4CAF50;
}

#modal-yesBtn:hover {
    background-color: #45a049;
}

/* ============================================== ================================= */

.welfare-content {
    white-space: pre-line;
    font-size: 18px;
    font-weight: 500;
}