

.logo-box img {
	filter: invert(75%) sepia(74%) saturate(1021%) hue-rotate(356deg) brightness(104%) contrast(110%);
	width: 80px;
}

/* 기존 */

.wrap {
	display: flex;
	justify-content: flex-start;
}

.container {
	width: 100%;
	/* margin-left: 250px;
	margin-top: 55px; */
}

.container-margin {
	margin: 40px 100px 0px;
}

.paging span, .paging a {
	display: inline-block;
}

.paging-wrap {
	margin-top: 18px;
}

.board-info-box-layout {
	min-width: 900px;
	margin-top: 30px;
	margin-bottom: 30px;	
}

.board-info-box {
	border: 0.0625rem solid #f2f2f2;
    box-shadow: 11px 13px 11px -14px grey;
    background: #fff;
}

.board-info-title-box {
	padding: 20px 27px 0;
}

.board-info-title-box {
	font-size: 15px;
	font-weight: bold;
}

.button-wrap {
    display: flex;
    justify-content: flex-end;
	gap: 15px
}

.add-button {
    font-family: 'GmarketSansMedium';
    border: none;
    outline: none;
    height: 20px;
    background-color: #fff;
	border-radius: 3px;
    font-weight: bold;
}

.add-button:hover {
    color: #c97793;
}

.delete-box {
	text-align: right;
}

.delete-button {
    font-family: 'GmarketSansMedium';
    border: none;
    height: 20px;
    background-color: #fff;
	border-radius: 3px;
    font-weight: bold;
}

.delete-button:hover {
	color: #c97793;
}

/* 상세보기 */

.show-detail {
	cursor: pointer;
}

.show-detail:hover {
	color: #c97793;
}

/* 수정하기 */

.modify-content {
	cursor: pointer;
}

.modify-content:hover {
	color: #c97793;
}

/* 테이블 */

.info-table {
	padding: 20px;
}

table {
	text-align : center;
	width: 100%;
	border-collapse: collapse
}

tbody tr:hover {
	cursor: pointer;
	background-color: #F3A5A5;
	color: white;
}

.table-cel:hover {
	cursor: pointer;
	background-color: #F3A5A5;
	color: white;
}

.product__tr:hover {
	cursor: pointer;
	background-color: #F3A5A5;
	color: white;
}


tr {
	border-bottom: 0.5px solid #c60a164d;
	line-height: 50px;
}

table th, table td {
	font-size: 12px;
	padding-left: 10px;
}

table td {
	font-weight: 300;
	text-overflow: ellipsis;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
}


/* 페이지 버튼 */

.page-button-box-layout {
	text-align: center;	
	margin-top: 25px;
}

.page-button-box {
	display: flex;
	justify-content:center;
}

.page-button-box {
	font-size: 13px;
}

.page-button-margin {
	margin:0 auto;
}

.page-button-margin div {
	margin-top: 3px;
}

.page-button {
	width: 20px;
	cursor: pointer;
	margin: 0 3px;
} 

.page-button-active {
	width: 20px;
	height: 20px;
	background-color: #818298;
	color : #fff;	
	border-radius: 2px;	
}


/* 그 외 */

.modify-button {
	padding-right: 20px;
}

.info-table .modify-button {
	width: 10%;
	font-weight: 500;
}

.modify-button button {
	border: none;
	background: none;
	font-size: inherit;
	font-family: 'GmarketSansMedium';
	font-weight: 500;
	margin-left: 5px;
}

.update-button-flex {
	display: flex;
	justify-content: flex-end;	
}

.right-button {
	margin-left: 10px;
	cursor : pointer;
	width: 15px;	
} 	

.left-button {
	margin-right: 10px;
	width: 15px;	
	cursor: pointer;
}