@charset "UTF-8";

/* 삭제확인 모달창 ======================= */

.delete-modal {
    display: none;
    position: absolute;
    top: 0%;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .delete-modal-shape {
    position: absolute;
    width: 390px;
    height: 160px;
    left: 44%;
    top: 30%;
    background-color: #fff;
    border-radius: 8px;
    animation: fade-in 0.5s ease-out;
  }
  
  .modal-body {
    padding: 8px 0;
    text-align: center;
    font-size: 18px;
  }
  
  .modal-footer {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .confirm-delete {
    cursor: pointer;
  }
  
  .confirm-delete:hover {
    color: #c97793;
  }
  
  .cancel-delete {
    cursor: pointer;
  }
  
  .cancel-delete:hover {
    color: #c97793;
  }
  
    @keyframes fade-in {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    
  
    /* 회원 정보 모달창 ================== */
  
    .user-modal {
      display: none;
      position: absolute;
      left: 37%;
      top: 10%;
    }
  
    .user-modal-shape {
      width: 600px;
      height: 600px;
      padding: 12px;
      overflow-y: scroll;
      background-color: #fff;
      border: 1px solid #8080806e;
      border-radius: 5px;
      animation: fade-in 0.4s ease-in-out forwards;
    }
  
    /* 스크롤바  */
    .user-modal-shape::-webkit-scrollbar {
      width: 10px;  /* 스크롤바의 너비 */
    }
    .user-modal-shape::-webkit-scrollbar-thumb {
      height: 10%; /* 스크롤바의 길이 */
      background: #ea9bb642; /* 스크롤바의 색상 */
      border-radius: 3px;
    }
    
    .user-modal-shape::-webkit-scrollbar-track {
      background: #fafafa;  /*스크롤바 뒷 배경 색상*/
      border-radius: 10px;
    }
  
  
    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 12px;
      padding-bottom: 15px;
      border-bottom: 1px solid #ccc;
    }
  
    .modal-header a {
      width: 27px;
    }
  
    .user-detail {
      margin-bottom: 6px;
    }
  
    .detail-title {
      margin: 12px;
    }
  
    .profile-img-wrapper {
      display: flex;
      width: 150px;
      height: 150px;
      margin: 0 auto;
      margin-bottom: 15px;
      margin-top: 15px;
    }
  
    .content-img {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .content-img img {
      width: 100%;
      height: 100%;
    }
  
    .content-list-wrap {
      margin-top: 15px;
    }
  
    .content-list {
      display: flex;
      align-items: center;
      font-weight: 600;
      gap: 20px;
    }
  
    .content-list span {
      margin-left: 20px;
      display: block;
      width: 86px;
      font-size: 14px;
    }
  
    .content-input {
      display: flex;
      flex: 1;
      align-items: center;
      padding: 12px 0;
      margin: 12px 12px 12px 0px;
      font-size: 16px;
      text-align: left;
      font-weight: 400;
      border: 1px solid #ccc;
      border-radius: 6px;
    }
  
    .content-input input {
      color: #777777;
      width: 100%;
      font-family: inherit;
      height: 70%;
      outline: none;
      border: none;
      border-radius: 3px;
      padding: 3px 12px;
    }
  
    .update-box {
      text-align: right;
      margin-top: 5px;
      margin-right: 12px;
    }
  
    .update-button {
        font-family: 'GmarketSansMedium';
        border: none;
        outline: none;
        height: 20px;
        background-color: #fff;
        border-radius: 3px;
        font-weight: bold;
    }
  
    .update-button:hover {
      color: #c97793;
    }
  
  