<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/css/component/error.css" />
    </head>
    <body>
        <section class="error-container">
            <div class="error-wrap">
                <div class="brand-logo">
                    <img src="/img/header/Logo-main.png" alt="" />
                </div>
                <div class="error-inner">
                    <!-- ========== 컨텐츠 영역 :: container ========== -->
                    <div class="img-error">
                        <img src="/img/main/error-icon.png" alt="">
                        <span class="num">404</span>
                    </div>
                    <p class="txt">로그인에 실패하였습니다.</p>
                    <p class="sub-txt">입력하신 정보를 다시 한번 확인해 주세요</p>
                    <a href="/login" class="btn-basic-lg2 btn-black btn-redirect-main"
                        ><span>로그인 페이지로 이동</span></a
                    ><!--// ========== 컨텐츠 영역 :: container ========== -->
                </div>
            </div>
        </section>
    </body>
</html>
