<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>복지관 달력</title>
        <link rel="icon" href="../../static/img/main/fabicon.png" type="image/png" sizes="50x50"/>
        <link rel="stylesheet" href="../../static/css/welfare/calendar.css" />
        <link
            rel="stylesheet"
            href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css"
        />
        <link
            rel="stylesheet"
            href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css"
        />
        <link
            rel="stylesheet"
            href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css"
        />
        <link
            rel="stylesheet"
            href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css"
        />
        <link rel="stylesheet" href="https://uicdn.toast.com/tui-grid/latest/tui-grid.css" />
    </head>
    <body>
        <div id="menu">
            <span class="dropdown" style="display: none">
                <span
                    id="dropdownMenu-calendarType"
                    class="btn btn-default btn-sm dropdown-toggle"
                    type="label"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="true"
                    disabled
                >
                    <i
                        id="calendarTypeIcon"
                        class="calendar-icon ic_view_month"
                        style="margin-right: 4px"
                    ></i>
                    <span id="calendarTypeName">Monthly</span>&nbsp;
                    <i class="calendar-icon tui-full-calendar-dropdown-arrow"></i>
                </span>
                <ul
                    class="dropdown-menu"
                    role="menu"
                    aria-labelledby="dropdownMenu-calendarType"
                ></ul>
            </span>
            <span id="renderRange" class="render-range"></span>
            <span id="menu-navi">
                <button
                    type="button"
                    class="btn btn-default btn-sm move-today"
                    data-action="move-today"
                >
                    Today
                </button>
                <button
                    type="button"
                    class="btn btn-default btn-sm move-day"
                    data-action="move-prev"
                >
                    <i class="calendar-icon ic-arrow-line-left" data-action="move-prev"></i>
                </button>
                <button
                    type="button"
                    class="btn btn-default btn-sm move-day"
                    data-action="move-next"
                >
                    <i class="calendar-icon ic-arrow-line-right" data-action="move-next"></i>
                </button>
            </span>
        </div>
        <div id="calendar" style="width: 800px; height: auto;"></div>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.js"></script>
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
    <script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.js"></script>
    <script src="https://uicdn.toast.com/tui-grid/latest/tui-grid.js"></script>
    <script src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>
    <script src="../../static/js/welfare/calendar.js"></script>
</html>
