<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>기부글 리스트</title>
        <link rel="icon" href="../../static/img/main/fabicon.png" type="image/png" sizes="50x50"/>
        <link rel="stylesheet" href="../../static/css/global/global.css" />
        <link rel="stylesheet" href="../../static/css/welfare/donateList.css" />
    </head>
    <body>
        <header></header>
        <section class="donate-list-container" style="zoom: 80%">
            <div class="title-area">
                <h1>복지관 기부 리스트</h1>
            </div>
            <div class="frame-sm">
                <div class="left-area">
                    <div class="donate-sort">
                        <h2 class="text-left">
                            <span>실시간</span>
                            <img src="../../static/img/welfare/sort-down.png" alt="">
                        </h2>
                    </div>
                    <div class="donate-list-wrap">
                        <ol class="donate-list left">
                            <li class="donate-li">
                                <span class="rank-num">1</span>
                                <div class="danate-info-area">
                                    <div class="inner">
                                        <div class="column img">
                                            <a href="">
                                                <img
                                                    src="https://file.rankingdak.com/image/RANK/PRODUCT/RANKING/20230222/IMG1677sKQ053864835.jpg"
                                                    alt=""
                                                />
                                            </a>
                                        </div>
                                        <div class="column tit">
                                            <span class="welfare-name">관악복지관</span>
                                            <p class="title">
                                                <a href="" class="text-elps2"
                                                    >무료 급식소 기부 내용입니다.</a
                                                >
                                            </p>
                                            <p class="donate-location">서울시 관악구 봉천동</p>
                                        </div>
                                        <div class="column count text-left">
                                            <span class="num">1000</span>
                                            개
                                        </div>
                                        <div class="column point">
                                            <span>1000P</span>
                                            적립
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="donate-li">
                                <span class="rank-num">1</span>
                                <div class="danate-info-area">
                                    <div class="inner">
                                        <div class="column img">
                                            <a href="">
                                                <img
                                                    src="https://file.rankingdak.com/image/RANK/PRODUCT/RANKING/20230222/IMG1677sKQ053864835.jpg"
                                                    alt=""
                                                />
                                            </a>
                                        </div>
                                        <div class="column tit">
                                            <span class="welfare-name">관악복지관</span>
                                            <p class="title">
                                                <a href="" class="text-elps2"
                                                    >무료 급식소 기부 내용입니다.</a
                                                >
                                            </p>
                                            <p class="donate-location">서울시 관악구 봉천동</p>
                                        </div>
                                        <div class="column count text-left">
                                            <span class="num">1000</span>
                                            개
                                        </div>
                                        <div class="column point">
                                            <span>1000P</span>
                                            적립
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="donate-li">
                                <span class="rank-num">1</span>
                                <div class="danate-info-area">
                                    <div class="inner">
                                        <div class="column img">
                                            <a href="">
                                                <img
                                                    src="https://file.rankingdak.com/image/RANK/PRODUCT/RANKING/20230222/IMG1677sKQ053864835.jpg"
                                                    alt=""
                                                />
                                            </a>
                                        </div>
                                        <div class="column tit">
                                            <span class="welfare-name">관악복지관</span>
                                            <p class="title">
                                                <a href="" class="text-elps2"
                                                    >무료 급식소 기부 내용입니다.</a
                                                >
                                            </p>
                                            <p class="donate-location">서울시 관악구 봉천동</p>
                                        </div>
                                        <div class="column count text-left">
                                            <span class="num">1000</span>
                                            개
                                        </div>
                                        <div class="column point">
                                            <span>1000P</span>
                                            적립
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="donate-li">
                                <span class="rank-num">1</span>
                                <div class="danate-info-area">
                                    <div class="inner">
                                        <div class="column img">
                                            <a href="">
                                                <img
                                                    src="https://file.rankingdak.com/image/RANK/PRODUCT/RANKING/20230222/IMG1677sKQ053864835.jpg"
                                                    alt=""
                                                />
                                            </a>
                                        </div>
                                        <div class="column tit">
                                            <span class="welfare-name">관악복지관</span>
                                            <p class="title">
                                                <a href="" class="text-elps2"
                                                    >무료 급식소 기부 내용입니다.</a
                                                >
                                            </p>
                                            <p class="donate-location">서울시 관악구 봉천동</p>
                                        </div>
                                        <div class="column count text-left">
                                            <span class="num">1000</span>
                                            개
                                        </div>
                                        <div class="column point">
                                            <span>1000P</span>
                                            적립
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="donate-li">
                                <span class="rank-num">1</span>
                                <div class="danate-info-area">
                                    <div class="inner">
                                        <div class="column img">
                                            <a href="">
                                                <img
                                                    src="https://file.rankingdak.com/image/RANK/PRODUCT/RANKING/20230222/IMG1677sKQ053864835.jpg"
                                                    alt=""
                                                />
                                            </a>
                                        </div>
                                        <div class="column tit">
                                            <span class="welfare-name">관악복지관</span>
                                            <p class="title">
                                                <a href="" class="text-elps2"
                                                    >무료 급식소 기부 내용입니다.</a
                                                >
                                            </p>
                                            <p class="donate-location">서울시 관악구 봉천동</p>
                                        </div>
                                        <div class="column count text-left">
                                            <span class="num">1000</span>
                                            개
                                        </div>
                                        <div class="column point">
                                            <span>1000P</span>
                                            적립
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="donate-li">
                                <span class="rank-num">1</span>
                                <div class="danate-info-area">
                                    <div class="inner">
                                        <div class="column img">
                                            <a href="">
                                                <img
                                                    src="https://file.rankingdak.com/image/RANK/PRODUCT/RANKING/20230222/IMG1677sKQ053864835.jpg"
                                                    alt=""
                                                />
                                            </a>
                                        </div>
                                        <div class="column tit">
                                            <span class="welfare-name">관악복지관</span>
                                            <p class="title">
                                                <a href="" class="text-elps2"
                                                    >무료 급식소 기부 내용입니다.</a
                                                >
                                            </p>
                                            <p class="donate-location">서울시 관악구 봉천동</p>
                                        </div>
                                        <div class="column count text-left">
                                            <span class="num">1000</span>
                                            개
                                        </div>
                                        <div class="column point">
                                            <span>1000P</span>
                                            적립
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="donate-li">
                                <span class="rank-num">1</span>
                                <div class="danate-info-area">
                                    <div class="inner">
                                        <div class="column img">
                                            <a href="">
                                                <img
                                                    src="https://file.rankingdak.com/image/RANK/PRODUCT/RANKING/20230222/IMG1677sKQ053864835.jpg"
                                                    alt=""
                                                />
                                            </a>
                                        </div>
                                        <div class="column tit">
                                            <span class="welfare-name">관악복지관</span>
                                            <p class="title">
                                                <a href="" class="text-elps2"
                                                    >무료 급식소 기부 내용입니다.</a
                                                >
                                            </p>
                                            <p class="donate-location">서울시 관악구 봉천동</p>
                                        </div>
                                        <div class="column count text-left">
                                            <span class="num">1000</span>
                                            개
                                        </div>
                                        <div class="column point">
                                            <span>1000P</span>
                                            적립
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="donate-li">
                                <span class="rank-num">1</span>
                                <div class="danate-info-area">
                                    <div class="inner">
                                        <div class="column img">
                                            <a href="">
                                                <img
                                                    src="https://file.rankingdak.com/image/RANK/PRODUCT/RANKING/20230222/IMG1677sKQ053864835.jpg"
                                                    alt=""
                                                />
                                            </a>
                                        </div>
                                        <div class="column tit">
                                            <span class="welfare-name">관악복지관</span>
                                            <p class="title">
                                                <a href="" class="text-elps2"
                                                    >무료 급식소 기부 내용입니다.</a
                                                >
                                            </p>
                                            <p class="donate-location">서울시 관악구 봉천동</p>
                                        </div>
                                        <div class="column count text-left">
                                            <span class="num">1000</span>
                                            개
                                        </div>
                                        <div class="column point">
                                            <span>1000P</span>
                                            적립
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="donate-li">
                                <span class="rank-num">1</span>
                                <div class="danate-info-area">
                                    <div class="inner">
                                        <div class="column img">
                                            <a href="">
                                                <img
                                                    src="https://file.rankingdak.com/image/RANK/PRODUCT/RANKING/20230222/IMG1677sKQ053864835.jpg"
                                                    alt=""
                                                />
                                            </a>
                                        </div>
                                        <div class="column tit">
                                            <span class="welfare-name">관악복지관</span>
                                            <p class="title">
                                                <a href="" class="text-elps2"
                                                    >무료 급식소 기부 내용입니다.</a
                                                >
                                            </p>
                                            <p class="donate-location">서울시 관악구 봉천동</p>
                                        </div>
                                        <div class="column count text-left">
                                            <span class="num">1000</span>
                                            개
                                        </div>
                                        <div class="column point">
                                            <span>1000P</span>
                                            적립
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="line-area"></div>
                <div class="right-area">
                    <div class="donate-sort">
                        <h2 class="text-left">
                            <span>기부순</span>
                            <img src="../../static/img/welfare/sort-down.png" alt="">
                        </h2>
                    </div>
                    <div class="donate-list-wrap">
                        <ol class="donate-list right">
                            <li class="donate-li">
                                <span class="rank-num">1</span>
                                <div class="danate-info-area">
                                    <div class="inner">
                                        <div class="column img">
                                            <a href="">
                                                <img
                                                    src="https://file.rankingdak.com/image/RANK/PRODUCT/RANKING/20230222/IMG1677sKQ053864835.jpg"
                                                    alt=""
                                                />
                                            </a>
                                        </div>
                                        <div class="column tit">
                                            <span class="welfare-name">관악복지관</span>
                                            <p class="title">
                                                <a href="" class="text-elps2"
                                                    >무료 급식소 기부 내용입니다.</a
                                                >
                                            </p>
                                            <p class="donate-location">서울시 관악구 봉천동</p>
                                        </div>
                                        <div class="column count text-left">
                                            <span class="num">1000</span>
                                            개
                                        </div>
                                        <div class="column point">
                                            <span>1000P</span>
                                            적립
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="donate-li">
                                <span class="rank-num">1</span>
                                <div class="danate-info-area">
                                    <div class="inner">
                                        <div class="column img">
                                            <a href="">
                                                <img
                                                    src="https://file.rankingdak.com/image/RANK/PRODUCT/RANKING/20230222/IMG1677sKQ053864835.jpg"
                                                    alt=""
                                                />
                                            </a>
                                        </div>
                                        <div class="column tit">
                                            <span class="welfare-name">관악복지관</span>
                                            <p class="title">
                                                <a href="" class="text-elps2"
                                                    >무료 급식소 기부 내용입니다.</a
                                                >
                                            </p>
                                            <p class="donate-location">서울시 관악구 봉천동</p>
                                        </div>
                                        <div class="column count text-left">
                                            <span class="num">1000</span>
                                            개
                                        </div>
                                        <div class="column point">
                                            <span>1000P</span>
                                            적립
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="donate-li">
                                <span class="rank-num">1</span>
                                <div class="danate-info-area">
                                    <div class="inner">
                                        <div class="column img">
                                            <a href="">
                                                <img
                                                    src="https://file.rankingdak.com/image/RANK/PRODUCT/RANKING/20230222/IMG1677sKQ053864835.jpg"
                                                    alt=""
                                                />
                                            </a>
                                        </div>
                                        <div class="column tit">
                                            <span class="welfare-name">관악복지관</span>
                                            <p class="title">
                                                <a href="" class="text-elps2"
                                                    >무료 급식소 기부 내용입니다.</a
                                                >
                                            </p>
                                            <p class="donate-location">서울시 관악구 봉천동</p>
                                        </div>
                                        <div class="column count text-left">
                                            <span class="num">1000</span>
                                            개
                                        </div>
                                        <div class="column point">
                                            <span>1000P</span>
                                            적립
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="donate-li">
                                <span class="rank-num">1</span>
                                <div class="danate-info-area">
                                    <div class="inner">
                                        <div class="column img">
                                            <a href="">
                                                <img
                                                    src="https://file.rankingdak.com/image/RANK/PRODUCT/RANKING/20230222/IMG1677sKQ053864835.jpg"
                                                    alt=""
                                                />
                                            </a>
                                        </div>
                                        <div class="column tit">
                                            <span class="welfare-name">관악복지관</span>
                                            <p class="title">
                                                <a href="" class="text-elps2"
                                                    >무료 급식소 기부 내용입니다.</a
                                                >
                                            </p>
                                            <p class="donate-location">서울시 관악구 봉천동</p>
                                        </div>
                                        <div class="column count text-left">
                                            <span class="num">1000</span>
                                            개
                                        </div>
                                        <div class="column point">
                                            <span>1000P</span>
                                            적립
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="donate-li">
                                <span class="rank-num">1</span>
                                <div class="danate-info-area">
                                    <div class="inner">
                                        <div class="column img">
                                            <a href="">
                                                <img
                                                    src="https://file.rankingdak.com/image/RANK/PRODUCT/RANKING/20230222/IMG1677sKQ053864835.jpg"
                                                    alt=""
                                                />
                                            </a>
                                        </div>
                                        <div class="column tit">
                                            <span class="welfare-name">관악복지관</span>
                                            <p class="title">
                                                <a href="" class="text-elps2"
                                                    >무료 급식소 기부 내용입니다.</a
                                                >
                                            </p>
                                            <p class="donate-location">서울시 관악구 봉천동</p>
                                        </div>
                                        <div class="column count text-left">
                                            <span class="num">1000</span>
                                            개
                                        </div>
                                        <div class="column point">
                                            <span>1000P</span>
                                            적립
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="donate-li">
                                <span class="rank-num">1</span>
                                <div class="danate-info-area">
                                    <div class="inner">
                                        <div class="column img">
                                            <a href="">
                                                <img
                                                    src="https://file.rankingdak.com/image/RANK/PRODUCT/RANKING/20230222/IMG1677sKQ053864835.jpg"
                                                    alt=""
                                                />
                                            </a>
                                        </div>
                                        <div class="column tit">
                                            <span class="welfare-name">관악복지관</span>
                                            <p class="title">
                                                <a href="" class="text-elps2"
                                                    >무료 급식소 기부 내용입니다.</a
                                                >
                                            </p>
                                            <p class="donate-location">서울시 관악구 봉천동</p>
                                        </div>
                                        <div class="column count text-left">
                                            <span class="num">1000</span>
                                            개
                                        </div>
                                        <div class="column point">
                                            <span>1000P</span>
                                            적립
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="donate-li">
                                <span class="rank-num">1</span>
                                <div class="danate-info-area">
                                    <div class="inner">
                                        <div class="column img">
                                            <a href="">
                                                <img
                                                    src="https://file.rankingdak.com/image/RANK/PRODUCT/RANKING/20230222/IMG1677sKQ053864835.jpg"
                                                    alt=""
                                                />
                                            </a>
                                        </div>
                                        <div class="column tit">
                                            <span class="welfare-name">관악복지관</span>
                                            <p class="title">
                                                <a href="" class="text-elps2"
                                                    >무료 급식소 기부 내용입니다.</a
                                                >
                                            </p>
                                            <p class="donate-location">서울시 관악구 봉천동</p>
                                        </div>
                                        <div class="column count text-left">
                                            <span class="num">1000</span>
                                            개
                                        </div>
                                        <div class="column point">
                                            <span>1000P</span>
                                            적립
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="donate-li">
                                <span class="rank-num">1</span>
                                <div class="danate-info-area">
                                    <div class="inner">
                                        <div class="column img">
                                            <a href="">
                                                <img
                                                    src="https://file.rankingdak.com/image/RANK/PRODUCT/RANKING/20230222/IMG1677sKQ053864835.jpg"
                                                    alt=""
                                                />
                                            </a>
                                        </div>
                                        <div class="column tit">
                                            <span class="welfare-name">관악복지관</span>
                                            <p class="title">
                                                <a href="" class="text-elps2"
                                                    >무료 급식소 기부 내용입니다.</a
                                                >
                                            </p>
                                            <p class="donate-location">서울시 관악구 봉천동</p>
                                        </div>
                                        <div class="column count text-left">
                                            <span class="num">1000</span>
                                            개
                                        </div>
                                        <div class="column point">
                                            <span>1000P</span>
                                            적립
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="donate-li">
                                <span class="rank-num">1</span>
                                <div class="danate-info-area">
                                    <div class="inner">
                                        <div class="column img">
                                            <a href="">
                                                <img
                                                    src="https://file.rankingdak.com/image/RANK/PRODUCT/RANKING/20230222/IMG1677sKQ053864835.jpg"
                                                    alt=""
                                                />
                                            </a>
                                        </div>
                                        <div class="column tit">
                                            <span class="welfare-name">관악복지관</span>
                                            <p class="title">
                                                <a href="" class="text-elps2"
                                                    >무료 급식소 기부 내용입니다.</a
                                                >
                                            </p>
                                            <p class="donate-location">서울시 관악구 봉천동</p>
                                        </div>
                                        <div class="column count text-left">
                                            <span class="num">1000</span>
                                            개
                                        </div>
                                        <div class="column point">
                                            <span>1000P</span>
                                            적립
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="page-bottom"><!-- // 페이징 -->
                <div class="pagination mt20">
                    <a href="javascript:void(0)" class="btn-page prev"><span class="blind">&lt;</span></a>
                    <a href="javascript:void(0)" class="current"><span>1</span></a>
                    <a href="javascript:void(0)" class="btn-page next"><span class="blind">&gt;</span></a>
                </div><!--// pagination -->
            </div>
        </section>
        <footer></footer>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $('header').load('../../templates/component/header.html');
        $('footer').load('../../templates/component/footer.html');
    </script>
    <script src="../../static/js/welfare/donateList.js"></script>
</html>
