<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>기부글 리스트</title>
        <link rel="stylesheet" href="../../static/css/global/global.css" />
        <link rel="stylesheet" href="../../static/css/welfare/donateList.css" />
    </head>
    <body>
        <header></header>
        <section class="donate-list-container" style="zoom: 80%;">
            <div class="frame-sm">
                <div class="donate-sort">
                    <h2 class="text-left">복지관 기부 리스트</h2>
                    <ul>
                        <li class="sort-btn">
                            <a href="" class="tit-type active">실시간</a>
                        </li>
                        <li class="sort-btn">
                            <a href="" class="tit-type">기부순</a>
                        </li>
                    </ul>
                </div>
                <div class="donate-list-wrap">
                    <ol class="donate-list">
                        <li class="donate-li">
                            <span class="rank-num">1</span>
                            <div class="danate-info-area">
                                <div class="inner">
                                    <div class="column img">
                                        <a href="">
                                            <img
                                                src="https://file.rankingdak.com/image/RANK/PRODUCT/RANKING/20230222/IMG1677sKQ053864835.jpg"
                                                alt=""
                                            />
                                        </a>
                                    </div>
                                    <div class="column tit">
                                        <span class="welfare-name">관악복지관</span>
                                        <p class="title">
                                            <a href="" class="text-elps2"
                                                >무료 급식소 기부 내용입니다.</a
                                            >
                                        </p>
                                        <p class="donate-location">서울시 관악구 봉천동</p>
                                    </div>
                                    <div class="column count text-left">
                                        <span class="num">1000</span>
                                        개
                                    </div>
                                    <div class="column point">
                                        <span>1000P</span>
                                        적립
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="donate-li">
                            <span class="rank-num">1</span>
                            <div class="danate-info-area">
                                <div class="inner">
                                    <div class="column img">
                                        <a href="">
                                            <img
                                                src="https://file.rankingdak.com/image/RANK/PRODUCT/RANKING/20230222/IMG1677sKQ053864835.jpg"
                                                alt=""
                                            />
                                        </a>
                                    </div>
                                    <div class="column tit">
                                        <span class="welfare-name">관악복지관</span>
                                        <p class="title">
                                            <a href="" class="text-elps2"
                                                >무료 급식소 기부 내용입니다.</a
                                            >
                                        </p>
                                        <p class="donate-location">서울시 관악구 봉천동</p>
                                    </div>
                                    <div class="column count text-left">
                                        <span class="num">1000</span>
                                        개
                                    </div>
                                    <div class="column point">
                                        <span>1000P</span>
                                        적립
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="donate-li">
                            <span class="rank-num">1</span>
                            <div class="danate-info-area">
                                <div class="inner">
                                    <div class="column img">
                                        <a href="">
                                            <img
                                                src="https://file.rankingdak.com/image/RANK/PRODUCT/RANKING/20230222/IMG1677sKQ053864835.jpg"
                                                alt=""
                                            />
                                        </a>
                                    </div>
                                    <div class="column tit">
                                        <span class="welfare-name">관악복지관</span>
                                        <p class="title">
                                            <a href="" class="text-elps2"
                                                >무료 급식소 기부 내용입니다.</a
                                            >
                                        </p>
                                        <p class="donate-location">서울시 관악구 봉천동</p>
                                    </div>
                                    <div class="column count text-left">
                                        <span class="num">1000</span>
                                        개
                                    </div>
                                    <div class="column point">
                                        <span>1000P</span>
                                        적립
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="donate-li">
                            <span class="rank-num">1</span>
                            <div class="danate-info-area">
                                <div class="inner">
                                    <div class="column img">
                                        <a href="">
                                            <img
                                                src="https://file.rankingdak.com/image/RANK/PRODUCT/RANKING/20230222/IMG1677sKQ053864835.jpg"
                                                alt=""
                                            />
                                        </a>
                                    </div>
                                    <div class="column tit">
                                        <span class="welfare-name">관악복지관</span>
                                        <p class="title">
                                            <a href="" class="text-elps2"
                                                >무료 급식소 기부 내용입니다.</a
                                            >
                                        </p>
                                        <p class="donate-location">서울시 관악구 봉천동</p>
                                    </div>
                                    <div class="column count text-left">
                                        <span class="num">1000</span>
                                        개
                                    </div>
                                    <div class="column point">
                                        <span>1000P</span>
                                        적립
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="donate-li">
                            <span class="rank-num">1</span>
                            <div class="danate-info-area">
                                <div class="inner">
                                    <div class="column img">
                                        <a href="">
                                            <img
                                                src="https://file.rankingdak.com/image/RANK/PRODUCT/RANKING/20230222/IMG1677sKQ053864835.jpg"
                                                alt=""
                                            />
                                        </a>
                                    </div>
                                    <div class="column tit">
                                        <span class="welfare-name">관악복지관</span>
                                        <p class="title">
                                            <a href="" class="text-elps2"
                                                >무료 급식소 기부 내용입니다.</a
                                            >
                                        </p>
                                        <p class="donate-location">서울시 관악구 봉천동</p>
                                    </div>
                                    <div class="column count text-left">
                                        <span class="num">1000</span>
                                        개
                                    </div>
                                    <div class="column point">
                                        <span>1000P</span>
                                        적립
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="donate-li">
                            <span class="rank-num">1</span>
                            <div class="danate-info-area">
                                <div class="inner">
                                    <div class="column img">
                                        <a href="">
                                            <img
                                                src="https://file.rankingdak.com/image/RANK/PRODUCT/RANKING/20230222/IMG1677sKQ053864835.jpg"
                                                alt=""
                                            />
                                        </a>
                                    </div>
                                    <div class="column tit">
                                        <span class="welfare-name">관악복지관</span>
                                        <p class="title">
                                            <a href="" class="text-elps2"
                                                >무료 급식소 기부 내용입니다.</a
                                            >
                                        </p>
                                        <p class="donate-location">서울시 관악구 봉천동</p>
                                    </div>
                                    <div class="column count text-left">
                                        <span class="num">1000</span>
                                        개
                                    </div>
                                    <div class="column point">
                                        <span>1000P</span>
                                        적립
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="donate-li">
                            <span class="rank-num">1</span>
                            <div class="danate-info-area">
                                <div class="inner">
                                    <div class="column img">
                                        <a href="">
                                            <img
                                                src="https://file.rankingdak.com/image/RANK/PRODUCT/RANKING/20230222/IMG1677sKQ053864835.jpg"
                                                alt=""
                                            />
                                        </a>
                                    </div>
                                    <div class="column tit">
                                        <span class="welfare-name">관악복지관</span>
                                        <p class="title">
                                            <a href="" class="text-elps2"
                                                >무료 급식소 기부 내용입니다.</a
                                            >
                                        </p>
                                        <p class="donate-location">서울시 관악구 봉천동</p>
                                    </div>
                                    <div class="column count text-left">
                                        <span class="num">1000</span>
                                        개
                                    </div>
                                    <div class="column point">
                                        <span>1000P</span>
                                        적립
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="donate-li">
                            <span class="rank-num">1</span>
                            <div class="danate-info-area">
                                <div class="inner">
                                    <div class="column img">
                                        <a href="">
                                            <img
                                                src="https://file.rankingdak.com/image/RANK/PRODUCT/RANKING/20230222/IMG1677sKQ053864835.jpg"
                                                alt=""
                                            />
                                        </a>
                                    </div>
                                    <div class="column tit">
                                        <span class="welfare-name">관악복지관</span>
                                        <p class="title">
                                            <a href="" class="text-elps2"
                                                >무료 급식소 기부 내용입니다.</a
                                            >
                                        </p>
                                        <p class="donate-location">서울시 관악구 봉천동</p>
                                    </div>
                                    <div class="column count text-left">
                                        <span class="num">1000</span>
                                        개
                                    </div>
                                    <div class="column point">
                                        <span>1000P</span>
                                        적립
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="donate-li">
                            <span class="rank-num">1</span>
                            <div class="danate-info-area">
                                <div class="inner">
                                    <div class="column img">
                                        <a href="">
                                            <img
                                                src="https://file.rankingdak.com/image/RANK/PRODUCT/RANKING/20230222/IMG1677sKQ053864835.jpg"
                                                alt=""
                                            />
                                        </a>
                                    </div>
                                    <div class="column tit">
                                        <span class="welfare-name">관악복지관</span>
                                        <p class="title">
                                            <a href="" class="text-elps2"
                                                >무료 급식소 기부 내용입니다.</a
                                            >
                                        </p>
                                        <p class="donate-location">서울시 관악구 봉천동</p>
                                    </div>
                                    <div class="column count text-left">
                                        <span class="num">1000</span>
                                        개
                                    </div>
                                    <div class="column point">
                                        <span>1000P</span>
                                        적립
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </section>
        <footer></footer>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $("header").load("../../templates/component/header.html");
        $("footer").load("../../templates/component/footer.html");
    </script>
    <script src="../../static/js/welfare/donateList.js"></script>
</html>
