<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>복지관 리스트</title>
    <link rel="icon" href="/img/main/fabicon.png">
    <link rel="stylesheet" href="/css/global/global.css"/>
    <link rel="stylesheet" href="/css/welfare/welfareList.css"/>
    <link rel="stylesheet" href="/css/component/header.css"/>
    <link rel="stylesheet" href="/css/component/footer.css"/>
</head>
<body style="zoom: 80%;">
<header class="header-stage" th:insert="~{component/header.html :: header}"></header>
<section class="welfare-container">
    <div class="welfare-content">
        <!-- 복지관리스트 -->
        <div class="page-head">
            <div class="title-area">
                <h2 class="title">복지관 리스트</h2>
            </div>
        </div>
        <article class="frame-full-bar">
            <!-- 인기 복지관 탑4 -->
            <div class="article-title-div">
                <h3 class="title">인기 복지관</h3>
            </div>
            <!-- 인기 복지관 슬라이드 -->
            <div class="frame-slide-overlap">
                <div class="brand-swiper-list">
                    <ul class="swiper-wrapper"></ul>
                </div>
            </div>
        </article>
        <!-- 이달의 복지관 -->
        <article class="frame-sm">
            <div class="month-welfare-list gap20">
                <div class="colum">
                    <div class="article-title-div">
                        <h3 class="title">이달의 복지관</h3>
                    </div>
                    <div class="brand-box">
                        <div class="top-title">
                            <h4 class="tit">
                                <span class="txt">이번달 신규 등록된 복지관</span>
                            </h4>
                            <a
                                    href="javascript:void(0);"
                                    class="btn-link-txt4 goView"
                            ></a>
                        </div>
                        <!--// top-title -->
                        <ul class="welfare-list-ul gap16"></ul>
                    </div>
                </div>
                <div class="colum">
                    <div class="article-title-div">
                        <h3 class="title">좋아요가 많은 복지관</h3>
                    </div>
                    <div class="brand-box">
                        <div class="top-title">
                            <h4 class="tit">
                                <span class="txt">회원 여러분들의 추천</span>
                            </h4>
                            <a
                                    href="javascript:void(0);"
                                    class="btn-link-txt4 goView"
                            ></a>
                        </div>
                        <ul class="welfare-list-ul gap16"></ul>
                    </div>
                </div>
            </div>
        </article>
        <form id="searchForm" name="searchForm" method="get">
            <div class="welfare-search-wrap">
                <div class="search-head">
                    <div class="input-group-wrap line-type">
                        <div class="input-group">
                            <label for="" class="blind">검색</label>
                            <input
                                    type="text"
                                    id=""
                                    class="input-text"
                                    name="searchKeyword"
                                    value=""
                                    placeholder="복지관을 검색해보세요"
                            />
                            <span class="input-group-btn">
                                <button
                                        type="button"
                                        class="btn-search btn_brandSearch"
                                        title="검색"
                                >
                                    <img src="/img/welfare/x_button.png" alt=""/>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- 검색 부분 -->
                <div class="sorting-search-box">
                    <div class="inner">
                        <!-- 지역별 정렬 -->
                        <button type="button"  data-location="전체" class="category-btn">
                            <div>전체</div>
                        </button>
                        <button type="button" data-location="강남구" class="category-btn">
                            <div>강남구</div>
                        </button>
                        <button type="button" data-location="송파구" class="category-btn">
                            <div>송파구</div>
                        </button>
                        <button type="button" data-location="서초구" class="category-btn">
                            <div>서초구</div>
                        </button>
                        <button type="button" data-location="강동구" class="category-btn">
                            <div>강동구</div>
                        </button>
                        <button type="button" data-location="광진구" class="category-btn">
                            <div>광진구</div>
                        </button>
                        <button type="button" data-location="성동구" class="category-btn">
                            <div>성동구</div>
                        </button>
                        <button type="button" data-location="동대문구" class="category-btn">
                            <div>동대문구</div>
                        </button>
                        <button type="button" data-location="중랑구" class="category-btn">
                            <div>중랑구</div>
                        </button>
                        <button type="button" data-location="노원구" class="category-btn">
                            <div>노원구</div>
                        </button>
                        <button type="button" data-location="도봉구" class="category-btn">
                            <div>도봉구</div>
                        </button>
                        <button type="button" data-location="강북구" class="category-btn">
                            <div>강북구</div>
                        </button>
                        <button type="button" data-location="성북구" class="category-btn">
                            <div>성북구</div>
                        </button>
                        <button type="button" data-location="종로구" class="category-btn">
                            <div>종로구</div>
                        </button>
                        <button type="button" data-location="중구" class="category-btn">
                            <div>중구</div>
                        </button>
                        <button type="button" data-location="용산구" class="category-btn">
                            <div>용산구</div>
                        </button>
                        <button type="button" data-location="서대문구" class="category-btn">
                            <div>서대문구</div>
                        </button>
                        <button type="button" data-location="마포구" class="category-btn">
                            <div>마포구</div>
                        </button>
                        <button type="button" data-location="은평구" class="category-btn">
                            <div>은평구</div>
                        </button>
                        <button type="button" data-location="강서구" class="category-btn">
                            <div>강서구</div>
                        </button>
                        <button type="button" data-location="양천구" class="category-btn">
                            <div>양천구</div>
                        </button>
                        <button type="button" data-location="구로구" class="category-btn">
                            <div>구로구</div>
                        </button>
                        <button type="button" data-location="금천구" class="category-btn">
                            <div>금천구</div>
                        </button>
                        <button type="button" data-location="영등포구" class="category-btn">
                            <div>영등포구</div>
                        </button>
                        <button type="button" data-location="동작구" class="category-btn">
                            <div>동작구</div>
                        </button>
                        <button type="button" data-location="관악구" class="category-btn">
                            <div>관악구</div>
                        </button>
                        <!-- 카테고리별 정렬 -->
                    </div>
                </div>
                <!-- 복지관 리스트 뿌려지는 곳 -->
                <div class="brand-list-wrap frame-sm" id="div_showBrand">
                    <ul class="welfare-list-wrap gap20">
                        <!-- 리스트 1 -->
                    </ul>
                    <!--// grid-area-span4 -->
                    <div class="page-bottom">
                        <div class="pagination mt20" style="margin-top: 30px;"><!-- // 페이징 -->
                            <a href="javascript:void(0)" class="btn-page prev"><span class="blind">&lt;</span></a>
                            <a href="javascript:void(0)" class="current"><span>1</span></a>
                            <a href="javascript:void(0)" class="btn-page next"><span class="blind">&gt;</span></a>
                        </div><!--// pagination -->
                    </div>
                </div>
                <!--// brand-list-wrap  -->
            </div>
        </form>
    </div>
</section>
<footer class="footer-stage" th:insert="~{component/footer.html :: footer}"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script th:inline="javascript">
    let orderCountSubs = [[${orderCount}]];
    let thisMonthSubs = [[${thisMonth}]];
    let likeCountSubs = [[${likeCount}]];

    console.log(orderCountSubs);
    console.log(thisMonthSubs);
    console.log(likeCountSubs);

</script>
<script src="/js/common/ajax.js"></script>
<script src="/js/welfare/welfareList.js"></script>
<script src="/js/main/header.js"></script>
</html>
