<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>복지관 상세페이지</title>
        <link rel="stylesheet" href="../../static/css/welfare/welfareDetail.css" />
        <link rel="stylesheet" href="../../static/css/global/global.css" />
    </head>
    <body>
        <section class="detail-container">
            <div class="detail-content-wrap">
                <!-- 상단 복지관 소개 -->
                <div class="detail-top-wrap frame-sm">
                    <div class="welfare-img-area">
                        <div class="welfare-top">
                            <!-- 대표 이미지 -->
                            <div class="img">
                                <img
                                    src="https://file.rankingdak.com/image/RANK/PRODUCT/PRD001/20220510/IMG1652xdA145362055_600_600.jpg"
                                    alt=""
                                />
                            </div>
                            <div class="timeSale-area"></div>
                        </div>
                        <div class="refrig-banner">
                            <a href="">
                                <img
                                    src="https://www.rankingdak.com/resources/pc/images/img/pc_delivery_banner2.jpg"
                                    alt=""
                                />
                            </a>
                        </div>
                    </div>
                    <div class="welfare-info-area">
                        <h2 class="welfare-location">서울 특별시 관악구</h2>
                        <h2 class="welfare-title">복지관 맛집 No.1</h2>
                        <div class="rating-div">
                            <a href="" class="rating-point">
                                <img src="../../static/img/welfare/rating-star.png" alt="" />
                            </a>
                            <a href="" class="score"> 4.9점 </a>
                            <a href="" class="num"> (76,356) </a>
                        </div>
                        <div class="welfare-profile">
                            <p class="welfare-name">관악복지관</p>
                            <div class="like-cart-btn">
                                <a href="javascript:void(0)">
                                    <span class="like-btn">
                                        <img src="../../static/img/mypage/heart.png" alt="" />
                                    </span>
                                </a>
                                <a href="javascript:void(0)">
                                    <span class="cart-btn">
                                        <img src="../../static/img/welfare/cart.png" alt="" />
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="welfare-subs">
                            <a href="" class="box-head">
                                <i class="ico-bl-orgmem"></i>
                                <strong class="text-primary">오렌지멤버스 혜택</strong>
                                <span class="txt">바로가기 <i class="ico-arr-right"></i></span>
                            </a>
                            <ul class="sale-desc">
                                <li>
                                    <span>멤버스 할인가</span>
                                    <em class="price number"> <strong> 15,590</strong>원</em>
                                </li>
                            </ul>
                        </div>
                        <div class="welfare-table">
                            <dl class="dl-row">
                                <dt>구독</dt>
                                <dd>
                                    <strong>7,777</strong>
                                    명
                                </dd>
                            </dl>
                            <dl class="dl-row">
                                <dt>배송방법</dt>
                                <dd>
                                    <div class="delivery-how">정기 배송</div>
                                </dd>
                            </dl>
                            <dl class="dl-row">
                                <dt>상품구성</dt>
                                <dd>
                                    <div class="const-div">
                                        <ul class="txt-list configSite">
                                            <li>🧡 1개월 구독 서비스</li>
                                            <li>🧡 3개월 구독 서비스</li>
                                            <li>🧡 6개월 구독 서비스</li>
                                            <li>🧡 12개월 구독 서비스</li>
                                        </ul>
                                    </div>
                                </dd>
                            </dl>
                            <dl class="dl-row">
                                <dt>혜택</dt>
                                <dd>
                                    <div class="const-div">
                                        <ul class="txt-list configSite">
                                            <li>1.계란 후라이 무료제공</li>
                                            <li>2.계란 후라이 무료제공</li>
                                            <li>3.계란 후라이 무료제공</li>
                                            <li>4.계란 후라이 무료제공</li>
                                        </ul>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <!--  옵션 선택 -->
                        <div class="option-select-area new">
                            <strong class="tit">옵션 선택</strong>
                            <div class="w-full">
                                <form action="">
                                    <select name="option" id="" class="drop-box w-full">
                                        <option value="0">상품 옵션 선택</option>
                                        <option value="korea">한식 전용 식단</option>
                                        <option value="diet">다이어트 전용 식단</option>
                                        <option value="health">헬스인 식단(정지영)</option>
                                        <option value="pig">Gradle 식단(강민구)</option>
                                        <option value="kebap">캐밥만 먹자</option>
                                    </select>
                                </form>
                            </div>
                            <div class="total-area">
                                <div class="radio-check">
                                    <ul class="">
                                        <li>
                                            <div class="custom-radio">
                                                <input type="radio" class="radio prdPriceRadio">
                                                <label for="">
                                                    일반회원가
                                                </label>
                                            </div>
                                            <div class="normal-price">
                                                <div class="subs-price"></div>
                                                <p class="price">
                                                    <strong class="total-price">45,900</strong>
                                                    원
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-radio">
                                                <input type="radio" class="radio prdPriceRadio">
                                                <label for="">
                                                    Happy
                                                </label>
                                            </div>
                                            <div class="normal-price">
                                                <p class="price">
                                                    <strong class="special-total-price">30,900</strong>
                                                    원
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="get-total-price">
                                    <span class="txts">총 상품금액</span>
                                    <p class="price">
                                        <strong class="orderNormalTotalPrice"></strong>
                                        원
                                    </p>
                                </div>
                                <div class="btn-area">
                                    <button type="button" class="save-btn">
                                        <span>찜하기</span>
                                    </button>
                                    <!-- 모달 -->
                                    <!-- <div class="cart-pop">
                                        <div class="inner-box">
                                            <p clas="txt">장바구니에 추가하였습니다.<br>장바구니로 이동하시겠습니까?</p>
                                            <div class="btns">
                                                <button type="button" class="btn-basic-sm2 btn-default ui-cart-close" onclick="cartPopClose(this);">
                                                    <span>아니오</span>
                                                </button>
                                                <a href="/order/cart" class="btn-basic-sm2 btn-primary-ex">
                                                    <span>예</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div> -->
                                    <button type="button" class="subscribe-btn">
                                        <span>구독</span>
                                    </button>
                                    <!-- 모달 -->
                                    <!-- <a href="/mypage/orangeMember" class="btn-basic-lg btn-primary-ex orangeMembersJoinBtn hide" data-type="00">
                                        <span>오렌지멤버스 가입하고 할인받기</span>
                                    </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../../static/js/welfare/welfareDetail.js"></script>
</html>
