<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>복지관 상세페이지</title>
    <link rel="icon" href="/img/main/fabicon.png" type="image/png" sizes="50x50"/>
    <link rel="stylesheet" href="/css/welfare/welfareDetail.css"/>
    <link rel="stylesheet" href="/css/global/global.css"/>
    <link rel="stylesheet" href="/css/welfare/food-calendar.css"/>
    <link rel="stylesheet" href="/css/component/header.css"/>
    <link rel="stylesheet" href="/css/component/footer.css"/>
    <link
            rel="stylesheet"
            href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css"
    />
    <link
            rel="stylesheet"
            href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css"
    />
    <link
            rel="stylesheet"
            href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css"
    />
    <link
            rel="stylesheet"
            href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css"
    />
    <link rel="stylesheet" href="https://uicdn.toast.com/tui-grid/latest/tui-grid.css"/>
</head>
<style>
    .fixed {
        position: static !important;
        top: unset !important;
        left: unset !important;
    }
</style>
<body style="zoom: 80%;">
<header class="header-stage" th:insert="~{component/header.html :: header}"></header>
<section class="detail-container">
    <div class="fixed-img">
        <img src="/img/welfare/go-up.png" alt=""/>
    </div>
    <div class="detail-content-wrap">
        <!-- 상단 복지관 소개 -->
        <div class="detail-top-wrap frame-sm">
            <div class="welfare-img-area">
                <div class="welfare-top">
                    <!-- Calendar 부분 -->
                    <div class="img calendar-import">
                        <section class="calendar-wrap">
                            <div class="calendar-container">
                                <div class="calendar-box">
                                    <div style="display: flex">
                                        <h3 class="calendar-year year"></h3>
                                        <h3 class="calendar-year month"></h3>
                                    </div>
                                    <div style="display: flex">
                                        <div class="calendar-button-box">
                                            <button
                                                    type="button"
                                                    class="btn btn-padding"
                                                    id="today"
                                            >
                                                <p class="auto-flex">TODAY</p>
                                            </button>
                                        </div>
                                        <div class="calendar-button-box">
                                            <button
                                                    type="button"
                                                    id="calender-prev"
                                                    class="btn"
                                            >
                                                <span class="auto-flex">
                                                    <svg
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            width="24"
                                                            height="24"
                                                            fill="none"
                                                            viewBox="0 0 24 24"
                                                    >
                                                        <path
                                                                fill-rule="evenodd"
                                                                d="M15.5 5.5l-6 6.5 6 6.5L14 20l-7.5-8L14 4l1.5 1.5z"
                                                                fill="#1a1a1a"
                                                        ></path>
                                                    </svg>
                                                </span>
                                            </button>
                                        </div>
                                        <div>
                                            <button
                                                    type="button"
                                                    id="calender-next"
                                                    class="btn"
                                            >
                                                <span class="auto-flex">
                                                    <svg
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            width="24"
                                                            height="24"
                                                            fill="none"
                                                            viewBox="0 0 24 24"
                                                    >
                                                        <path
                                                                fill-rule="evenodd"
                                                                d="M8.5 18.5l6-6.5-6-6.5L10 4l7.5 8-7.5 8-1.5-1.5z"
                                                                fill="#1a1a1a"
                                                        ></path>
                                                    </svg>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div id="calendar" class="calendar-view"></div>
                            </div>
                        </section>
                    </div>
                    <div class="food-info-area">
                        <h3 class="review-tit">음식 정보</h3>
                        <!-- 음식 사진 슬라이드 부분 -->
                        <section class="main-article recommend-sec">
                            <div class="frame-sm frame-slide-overlap">
                                <div
                                        class="bnr-item-container swiper-container swiper-container-initialized swiper-container-horizontal"
                                >
                                    <ul
                                            class="bnr-item-list swiperDataContainer swiper-wrapper slide-img-wrap"
                                            data-index="0" data-limit="4"
                                            style="transform: translateX(0px)"
                                    >
                                        <!-- 음식 정보 뿌리기 -->
                                    </ul>
                                    <!--// grid-area -->
                                    <button
                                            class="swiper-button-prev swiper-btn swiper-button-disabled"
                                    >
                                        <svg viewBox="0 0 512 512">
                                            <polygon
                                                    points="160,128.4 192.3,96 352,256 352,256 352,256 192.3,416 160,383.6 287.3,256 "
                                            ></polygon>
                                        </svg>
                                    </button>
                                    <button class="swiper-button-next swiper-btn">
                                        <svg viewBox="0 0 512 512">
                                            <polygon
                                                    points="160,128.4 192.3,96 352,256 352,256 352,256 192.3,416 160,383.6 287.3,256 "
                                            ></polygon>
                                        </svg>
                                    </button>
                                    <span
                                            class="swiper-notification"
                                            aria-live="assertive"
                                            aria-atomic="true"
                                    ></span>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="timeSale-area"></div>
                </div>
                <!-- 작은 배너 나오는 부분 -->
                <div class="refrig-banner">
                    <a href="">
                        <img
                                src="/img/market/free_delivery.jpg"
                                alt=""
                        />
                    </a>
                </div>
                <div class="welfare-middle-wrap frame-sm">
                    <div class="left-position">
                        <!-- 카카오맵 -->
                        <div class="placeMapSection-container">
                            <h3 class="review-tit">복지관 위치</h3>
                            <div class="placeMapContainer">
                                <!-- 지도를 표시할 div 입니다 -->
                                <div id="map" style="width: 100%; height: 350px"></div>
                                <div class="place-container">
                                    <div class="placeLocation-container">
                                        <div class="placeLocationTitle-container">
                                            <strong class="placeLocationTitle">주소</strong>
                                            <span
                                                    id="coordAddr"
                                                    class="placeLocationTitleDetail"
                                            ></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 복지관 소개 글 및 사진 뿌려지는 부분 -->
                        <div class="welfare-intro-area">
                            <h3 class="review-tit">복지관 소개</h3>
                            <div class="welfare-info-list">
                                <span class="welfare-content"></span>
                                <img
                                        src="/img/welfare/default-img.png"
                                        alt=""
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="welfare-info-wrap">
                <div class="welfare-info-area">
                    <!-- 복지관 정보 뿌리는 부분 -->
                    <form name="goPayment" action="">
                        <div class="option-select-area new">
                            <h2 class="welfare-location"></h2>
                            <h2 class="welfare-title">복지관 맛집 No.1</h2>
                            <div class="welfare-info-img">
                                <img
                                        id="profile-img"
                                        src="https://www.sgwon.or.kr/img/introduce/02_3_img02.jpg"
                                        alt=""
                                />
                            </div>
                            <strong class="tit">옵션 선택</strong>
                            <div class="w-full">
                                <!--NORMAL, LOW_SALT, MORE_AMT, LESS_AMT, -->
                                <select name="option" id="" class="drop-box w-full">
                                    <option value="NORMAL">옵션 선택안함</option>
                                    <option value="LOW_SALT">저염식</option>
                                    <option value="MORE_AMT">양 많이</option>
                                    <option value="LESS_AMT">양 적게</option>
                                </select>
                            </div>
                            <div class="total-area">
                                <div class="radio-check">
                                    <ul class="">
                                        <li>
                                            <div class="custom-radio">
                                                <input
                                                        type="radio"
                                                        class="radio prdPriceRadio"
                                                        name="price"
                                                        value="price"
                                                />
                                                <label for=""> 정기구독 </label>
                                            </div>
                                            <div class="normal-price">
                                                <div class="subs-price"></div>
                                                <p class="price">
                                                    <strong class="total-price"></strong>
                                                    원
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="get-total-price">
                                    <span class="txts">총 상품금액</span>
                                    <p class="price">
                                        <strong class="orderNormalTotalPrice"></strong>
                                        원
                                    </p>
                                </div>
                                <div class="btn-area">
                                    <button type="button" class="subscribe-btn">
                                        <span>구독</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="welfare-profile">
                            <p class="welfare-name"></p>
                            <div class="like-productCart-btn">
                                <a href="javascript:checkLike()">
                                            <span class="like-btn">
                                                <img src="/img/mypage/heart.png" alt=""/>
                                            </span>
                                </a>
                                <a href="javascript:void(0)">
                                    <span class="productCart-btn">
                                        <img src="/img/welfare/cart.png" alt=""/>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="welfare-table">
                            <dl class="dl-row">
                                <dt>구독</dt>
                                <dd>
                                    <strong id="sub-order-count"></strong>
                                    명
                                </dd>
                            </dl>
                            <dl class="dl-row">
                                <dt>배송방법</dt>
                                <dd>
                                    <div class="delivery-how">정기 배송</div>
                                </dd>
                            </dl>
                        </div>
                        <!--  옵션 선택 -->
                    </form>
                </div>
            </div>
        </div>
        <!-- 복지관 후기 나오는 부분 TOP4 메소드 사용해서 4개만 뽑아오기 -->
    </div>
</section>
<section class="delete-modal">
    <div class="delete-modal-shape">
        <div class="modal-header">
            <h4>구독 확인</h4>
            <p class="modal-header-sub-info">이미 구독한 복지관입니다.</p>
        </div>
        <div class="modal-footer">
            <span class="confirm-delete">확인</span>
        </div>
    </div>
</section>
<div id="food-modal" class="modal">
    <div class="modal-content">
        <div class="modal-title">
            <p>금주의 음식</p>
            <div class="date">
                <span id="startDate">2023.01.01</span> - <span id="endDate">2023.01.01</span>
            </div>
            <span class="close">&times;</span>
        </div>
        <div class="modal-name">
            <h3></h3>
            <p></p>
        </div>
        <div class="food-list">
        </div>
    </div>
</div>
<div id="cart-modal" class="modal">
    <div class="modal-content">
        <p class="modal-title">장바구니에 해당 상품을 담으시겠습니까?<span class="close">&times;</span></p>
        <div class="cart-product-info">
            <div>
                <p class="cart-info">상품명</p>
                <p class="cart-info">복지관명</p>
                <p class="cart-info">가격</p>
                <p class="cart-info">구독 옵션</p>
            </div>
            <div>
                <p class="cart-name"></p>
                <p class="cart-welfare"></p>
                <p class="cart-price"></p>
                <p class="cart-option"></p>
            </div>
        </div>
        <div class="modal-btn-wrap">
            <button id="modal-yesBtn">장바구니 담기</button>
        </div>
    </div>
</div>
<div id="like-modal" class="modal">
    <div class="modal-content">
        <p class="modal-title">로그인 후 이용 가능합니다.<span class="close">&times;</span></p>
    </div>
</div>
<footer class="footer-stage" th:insert="~{component/footer.html :: footer}"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script
        type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e010e1c47083a81e5873ca2682380a56&libraries=services"
></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/main/header.js"></script>
<script th:inline="javascript">
    let subscription = [[${subscription}]];
    let file = [[${file}]];
    let isLike = [[${isLike}]];
    let userId = [[${userId}]];
    console.log("===========================  유저 아이디는??===============================");
    console.log(userId);
    console.log(file);

    $(".welfare-location").text(subscription.address.firstAddress);
    $(".welfare-title").text(subscription.subscriptionTitle);
    $(".welfare-name").text(subscription.welfareName);
    $(".total-price").text(subscription.subscriptionPrice.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ","));
    $("#sub-order-count").text(subscription.orderCount.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ","));
    console.log(subscription);
</script>
<script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.js"></script>
<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
<script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.js"></script>
<script src="https://uicdn.toast.com/tui-grid/latest/tui-grid.js"></script>
<script src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>
<script src="/js/common/ajax.js"></script>
<script src="/js/welfare/welfareDetail.js"></script>
<script src="/js/welfare/food-calendar.js"></script>
</html>
