<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>음식 리스트</title>
    <link rel="icon" href="../../../static/img/main/fabicon.png" type="image/png" sizes="50x50"/>
    <link rel="stylesheet" href="../../../static/css/global/global.css">
    <link rel="stylesheet" href="../../../static/css/global/mypage.css">
    <link rel="stylesheet" href="../../../static/css/mypage/user/side-bar.css">
    <link rel="stylesheet" href="../../../static/css/mypage/user/top-bar.css">
    <link rel="stylesheet" href="../../../static/css/mypage/welfare/subscriber.css">
</head>
<body>
    <div class="wrap">
        <section id="contents" class="container">
            <div class="content-wrap">


                <!-- // top-bar.html -->


                <div class="frame-sm">


                        <!-- // side-bar.html -->
                        

                    <div class="frame-right">
                        <div class="frame-cnt-inner">
                            <form action="" name="myPageOrderForm">
                                <div class="menu-title-area">
                                    <div class="title-menu">
                                        <h3 class="title-menu">음식 리스트</h3>
                                    </div>
                                </div>
                                <div class="search-box ui-toggle on">
                                    <div class="welfare__name">
                                        <span>노원복지관</span>
                                    </div>
                                </div>
                            </form>

                            <div class="no-data-type1" style="display: none;"><!-- 주문 내역이 없을 시 -->
                                <p class="message">등록된 음식이 없습니다.</p>
                            </div>

                            <ul class="productCart-list">
                                <li id="delivery-product-2541529900N" class="delivery-product-2541529900NY"><!-- // 상품 리스트 -->
                                    <div class="prd-info-area productCart-info-area">
                                        <div class="inner">
                                            <div class="user__img">
                                                <img src="https://shop.biumfood.com/upload/1535360125_5261498.jpg">
                                            </div>
                                            <div class="user__info">
                                                <div class="user__name rider__name">
                                                    <span>바나나</span>
                                                </div>
                                                <div class="register-date rider__phoneNumber welfare__name">
                                                    <span class="register-date">2023-06-01</span>
                                                </div>        
                                            </div>
                                        </div>
                                        <div class="column btn">
                                            <button type="button" class="btn-x-sm deleteUserCart">
                                                <i class="ico-x-black"></i>
                                            </button>
                                        </div>  
                                    </div>
                                </li>

                                <li id="delivery-product-2541529900N" class="delivery-product-2541529900NY"><!-- // 상품 리스트 -->
                                    <div class="prd-info-area productCart-info-area">
                                        <div class="inner">
                                            <div class="user__img">
                                                <img src="https://shop.biumfood.com/upload/1535360125_5261498.jpg">
                                            </div>
                                            <div class="user__info">
                                                <div class="user__name rider__name">
                                                    <span>바나나</span>
                                                </div>
                                                <div class="register-date rider__phoneNumber welfare__name">
                                                    <span class="register-date">2023-06-01</span>
                                                </div>        
                                            </div>
                                        </div>
                                        <div class="column btn">
                                            <button type="button" class="btn-x-sm deleteUserCart">
                                                <i class="ico-x-black"></i>
                                            </button>
                                        </div>  
                                    </div>
                                </li>

                            </ul>
                        </div>

                        <div class="page-bottom"><!-- // 페이징 -->
                            <div class="pagination mt20" style="margin-top: 30px;">
                                <a href="javascript:void(0)" class="btn-page prev"><span class="blind">&lt;</span></a>
                                <a href="javascript:void(0)" class="current"><span>1</span></a>
                                <a href="javascript:void(0)" class="btn-page next"><span class="blind">&gt;</span></a>
                            </div><!--// pagination -->
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
</html>