<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>라이더 관리</title>
    <link rel="icon" href="/img/main/fabicon.png" type="image/png" sizes="50x50"/>
    <link rel="stylesheet" href="/css/global/global.css">
    <link rel="stylesheet" href="/css/global/mypage.css">
    <link rel="stylesheet" href="/css/mypage/user/side-bar.css">
    <link rel="stylesheet" href="/css/mypage/user/top-bar.css">
    <link rel="stylesheet" href="/css/mypage/welfare/subscriber.css">
    <style>
        [class^="badge-sm-"] {
        display: inline-block;
        vertical-align: top;
        padding: 0 5px;
        height: 18px;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        line-height: 1.4;
        border-radius: 0;
        cursor: pointer;
        }
        
        .badge-sm-primary {
        border: 1px solid #FF5938;
        color: #FF5938;
        }

        .user__name span {
            margin-right: 5px;
        }

        .delivery__done {
            border: 1px solid #666666;
            color: #666666;
        }
    </style>
</head>
<body>
    <div class="wrap">
        <section id="contents" class="container">
            <div class="content-wrap">


                <!-- // top-bar.html -->


                <div class="frame-sm">


                        <!-- // side-bar.html -->
                        

                    <div class="frame-right">
                        <div class="frame-cnt-inner">
                            <form action="" name="myPageOrderForm">
                                <div class="menu-title-area">
                                    <div class="title-menu">
                                        <h3 class="title-menu">라이더 관리</h3>
                                    </div>
                                </div>
                                <div class="search-box ui-toggle on">
                                    <div class="welfare__name">
                                        <span>노원복지관</span>
                                    </div>
                                </div>
                            </form>

                            <div class="no-data-type1" style="display: none;"><!-- 주문 내역이 없을 시 -->
                                <p class="message">기간 내에 구독내역이 없습니다.</p>
                            </div>

                            <ul class="productCart-list">
                                <li id="delivery-product-2541529900N" class="delivery-product-2541529900NY"><!-- // 상품 리스트 -->
                                    <div class="prd-info-area productCart-info-area">
                                        <div class="inner">
                                            <div class="user__img">
                                                <img src="/img/mypage/user__profile.jpg">
                                            </div>
                                            <div class="user__info">
                                                <div class="user__name rider__name">
                                                    <span>정지영</span>
                                                    <span class="badge-sm-primary delivery__done">배달완료</span>
                                                </div>
                                                <div class="rider__phoneNumber welfare__name">
                                                    <span>010-7122-8966</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column btn">
                                            <button type="button" class="btn-x-sm deleteUserCart">
                                                <i class="ico-x-black"></i>
                                            </button>
                                        </div>  
                                    </div>
                                </li>

                                <li id="delivery-product-2541529900N" class="delivery-product-2541529900NY"><!-- // 상품 리스트 -->
                                    <div class="prd-info-area productCart-info-area">
                                        <div class="inner">
                                            <div class="user__img">
                                                <img src="/img/mypage/user__profile.jpg">
                                            </div>
                                            <div class="user__info">
                                                <div class="user__name rider__name">
                                                    <span>정지영</span>
                                                    <span class="badge-sm-primary">배달중</span>
                                                </div>
                                                <div class="rider__phoneNumber welfare__name">
                                                    <span>010-7122-8966</span>
                                                </div>        
                                            </div>
                                        </div>
                                        <div class="column btn">
                                            <button type="button" class="btn-x-sm deleteUserCart">
                                                <i class="ico-x-black"></i>
                                            </button>
                                        </div>  
                                    </div>
                                </li>

                            </ul>
                        </div>

                        <div class="page-bottom"><!-- // 페이징 -->
                            <div class="pagination mt20" style="margin-top: 30px;">
                                <a href="javascript:void(0)" class="btn-page prev"><span class="blind">&lt;</span></a>
                                <a href="javascript:void(0)" class="current"><span>1</span></a>
                                <a href="javascript:void(0)" class="btn-page next"><span class="blind">&gt;</span></a>
                            </div><!--// pagination -->
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
<script src="/js/mypage/user/rider.js"></script>
</html>