<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../static/css/global/global.css">
    <link rel="stylesheet" href="../../../static/css/mypage/user/side-bar.css">
</head>
<body>
<div th:fragment="side-bar" class="frame-left">
        <div class="aside-menu-wrap">
            <nav class="aside-menu">
                <ul class="menu-list">
                    <li>
                        <a href="javascirpt:void(0)" class="menu">구독관리</a>
                        <ul class="depth2">
                            <li><a th:href="@{/mypage/welfare/subscriber}">구독자 관리</a></li>
                            <li><a th:href="@{/mypage/welfare/rider/list}">배달원 목록</a></li>
                            <li><a th:href="@{/mypage/welfare/rider/write}">배달원 등록</a></li>
                            <li><a th:href="@{/mypage/welfare/calendar/write}">캘린더 일정 등록</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascirpt:void(0)" class="menu">복지관관리</a>
                        <ul class="depth2">
                            <li>
                                <a th:href="@{/mypage/welfare/subscription/edit}">소개글수정</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascirpt:void(0)" class="menu">문의관리</a>
                        <ul class="depth2">
                            <li>
                                <a th:href="@{/mypage/welfare/inquiry}">문의내역</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascirpt:void(0)" class="menu">회원정보관리</a>
                        <ul class="depth2">
                            <li>
                                <a th:href="@{/mypage/welfare/edit}">회원정보수정</a>
                            </li>
                            <li>
                                <a th:href="@{/mypage/welfare/unregister}">회원탈퇴</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav><!--// menu-mypage -->
        </div><!--// aside-menu-wrap -->
    </div>
</body>
</html>