<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>구독자 관리</title>
    <link rel="icon" href="/img/main/fabicon.png" type="image/png" sizes="50x50"/>
    <link rel="stylesheet" href="/css/global/global.css">
    <link rel="stylesheet" href="/css/component/header.css"/>
    <link rel="stylesheet" href="/css/component/footer.css"/>
    <link rel="stylesheet" href="/css/global/mypage.css">
    <link rel="stylesheet" href="/css/mypage/user/side-bar.css">
    <link rel="stylesheet" href="/css/mypage/user/top-bar.css">
    <link rel="stylesheet" href="/css/mypage/welfare/subscriber.css">
    <link rel="stylesheet" href="/css/mypage/user/paging.css">
</head>
<style>
    .blind {
        display: none !important;
    }
</style>
<body>
    <div class="wrap">
        <header class="header-stage" th:insert="~{component/header.html :: header}"></header>
        <section id="contents" class="container">
            <div class="content-wrap">
                <div class="header-stage" th:insert="~{mypage/welfare/top-bar.html :: top-bar}"></div><!-- // top-bar.html -->
                <div class="frame-sm">
                    <div class="header-stage" th:insert="~{mypage/welfare/side-bar.html :: side-bar}"></div><!-- // side-bar.html -->
                    <div class="frame-right">
                        <div class="frame-cnt-inner">
                            <form action="" name="myPageOrderForm">
                                <div class="menu-title-area">
                                    <div class="title-menu">
                                        <h3 class="title-menu">구독자 관리</h3>
                                        <div class="right"><!-- // 검색창 -->
                                            <div class="input-group-wrap box-type">
                                                <div class="input-group w200">
                                                    <input type="text" id="item1-1" name="srchProductNm" class="input-text" placeholder="회원명 검색">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <img class="ico-btn-search" src="/img/mypage/search.png"></img>
                                </div>
                                <div class="search-box ui-toggle on">
                                    <div class="input-group-form text-right w-full">
                                        <div class="input-group-btn dis-inb">
                                            <a href="javascript:void(0)" class="btn-form btn-black"><span>전체조회</span></a>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div class="no-data-type1" style="display: none;"><!-- 주문 내역이 없을 시 -->
                                <p class="message">기간 내에 구독내역이 없습니다.</p>
                            </div>

                            <ul class="productCart-list subscriber__list"></ul>
                        </div>
                        <div class="pagination"></div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer-stage" th:insert="~{component/footer.html :: footer}"></footer>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/main/header.js"></script>
<script src="/js/CS/common.js"></script>
<script src="/js/CS/search.js"></script>
<script src="/js/mypage/welfare/ajax.js"></script>
<script src="/js/mypage/welfare/subscriber.js"></script>
</html>