<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>복지관 소개글 수정</title>
    <link rel="icon" href="/img/main/fabicon.png" type="image/png" sizes="50x50"/>
    <link rel="stylesheet" href="/css/global/global.css">
    <link rel="stylesheet" href="/css/component/header.css"/>
    <link rel="stylesheet" href="/css/component/footer.css"/>
    <link rel="stylesheet" href="/css/global/mypage.css">
    <link rel="stylesheet" href="/css/mypage/user/side-bar.css">
    <link rel="stylesheet" href="/css/mypage/user/top-bar.css">
    <link rel="stylesheet" href="/css/member/member.css">
    <link rel="stylesheet" href="/css/member/board-insert.css">
    <link rel="stylesheet" href="/css/mypage/user/address-editor-form.css">
</head>
<style>
    .blind {
        display: none !important;
    }
</style>
<body>
    <div class="wrap">
        <header class="header-stage" th:insert="~{component/header.html :: header}"></header>
        <section id="contents" class="container" style="padding: 0;">
            <div class="content-wrap">
                <div class="header-stage" th:insert="~{mypage/welfare/top-bar.html :: top-bar}"></div><!-- // top-bar.html -->
                <div class="frame-sm" style="margin-top: 45px;">
                    <div class="header-stage" th:insert="~{mypage/welfare/side-bar.html :: side-bar}"></div><!-- // side-bar.html -->
                    <form id="counselRegFrm" name="subscriptionWelFareDTO" th:action="@{/mypage/welfare/subscription/edit}" method="post" th:object="${subscriptionWelFareDTO}" style="margin-left: 60px;">
                        <div class="frame-right">
                            <div class="frame-cnt-inner">
                                <div class="menu-title-area">
                                    <h3 class="title-menu">소개글 작성</h3>
                                </div>
                                <div class="board-form type2">
                                    <table>
                                        <caption>내용 작성</caption>
                                        <colgroup>
                                            <col style="width: 180px"/>
                                            <col style="width: auto"/>
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th class="text-left" scope="row">
                                                    <div class="in-tb">
                                                        제목 <em class="es"><span class="blind"></span></em>
                                                    </div>
                                                </th>
                                                <td class="text-left">
                                                    <div class="input-group w-full">
                                                        <input type="hidden" th:field="*{id}">
                                                        <input type="text" name="subscriptionTitle" id="vQuestionTitle" title="" class="input-text" placeholder="제목을 입력해주세요" th:field="*{subscriptionTitle}"/>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th class="text-left" scope="row" style="position: relative;">
                                                    <div class="in-tb" style="position: absolute; top: 26px;">
                                                        소개글 <em class="es"><span class="blind"></span></em>
                                                    </div>
                                                </th>
                                                <td class="text-left">
                                                    <div class="textarea-box-count h230">
                                                        <textarea id="vQuestionCont" placeholder="문의내용을 입력하세요" name="subscriptionContent" th:field="*{subscriptionContent}"></textarea>
                                                        <div class="txt-count">
                                                            <span id="counter">0</span> / <span class="total">1,000</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th class="text-left" scope="row">
                                                    <div class="in-tb">
                                                        구독료 <em class="es"><span class="blind"></span></em>
                                                    </div>
                                                </th>
                                                <td class="text-left">
                                                    <div class="input-group w-full">
                                                        <input type="text" name="subscriptionPrice" id="vQuestionTitle" title="" class="input-text" th:field="*{subscriptionPrice}" placeholder="가격을 입력해주세요" value=""/>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="btn-bottom-area">
                                    <button type="button" class="btn-basic-lg2 btn-grey3">
                                        <span>취소하기</span>
                                    </button>
                                    <button type="submit" class="btn-basic-lg2 btn-primary" id="update-btn">
                                        <span>수정하기</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <footer class="footer-stage" th:insert="~{component/footer.html :: footer}"></footer>
    </div>
    <input type="hidden" id="sample6_postcode" placeholder="우편번호">
    <input type="hidden" onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
    <input type="hidden" id="sample6_address" placeholder="주소"><br>
    <input type="hidden" id="sample6_detailAddress" placeholder="상세주소">
    <input type="hidden" id="sample6_extraAddress" placeholder="참고항목">
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/main/header.js"></script>
<script th:inline="javascript">
    let subscriptionWelFareDTO = [[${subscriptionWelFareDTO}]];
    console.log(subscriptionWelFareDTO);
    $btn = $('#update-btn');
    // $btn.on('click', function (event) {
    //     event.preventDefault(); // 기본 동작 방지
    //
    //     var URL = '/mypage/welfare/subscription/edit';
    //     var form = $('#counselRegFrm')[0];
    //     var data = new FormData(form);
    //
    //     $.ajax({
    //         type: 'POST',
    //         url: '/mypage/welfare/subscription/edit', // 컨트롤러의 URL을 지정해야 합니다.
    //         data: data,
    //         processData: false,
    //         contentType: false,
    //         success: function (response) {
    //             location.href= URL;
    //         },
    //         error: function (xhr, status, error) {
    //             // 오류가 발생했을 때 수행할 동작
    //             console.log(error);
    //         }
    //     });
    // });
</script>
<script>
    /* 내용 글자수 카운트 이벤트 */

    const $counter = $("#counter");
    const $textarea = $("#vQuestionCont");
    
    $textarea.on("keyup", function() {
        let content = $(this).val();

        // 글자수 세기
        if(content.length < 1000) {
            $counter.text(content.length);
        }

        // 글자수 제한
        if (content.length > 1000) {
            // 1000자 부터는 타이핑 되지 않도록
            $(this).val($(this).val().substring(0, 1000));
            // 1000자 넘으면 알림창 뜨도록
            alert('글자수는 1000자까지 입력 가능합니다.');
        };
    });
</script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;
                
                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('postcode').value = data.zonecode;
                document.getElementById("address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("detailAddress").focus();
            }
        }).open();
    }
</script>
</html>