<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원정보수정</title>
    <link rel="icon" href="/img/main/fabicon.png" type="image/png" sizes="50x50"/>
    <link rel="stylesheet" href="/css/global/global.css">
    <link rel="stylesheet" href="/css/component/header.css"/>
    <link rel="stylesheet" href="/css/component/footer.css"/>
    <link rel="stylesheet" href="/css/global/mypage.css">
    <link rel="stylesheet" href="/css/mypage/user/side-bar.css">
    <link rel="stylesheet" href="/css/mypage/user/top-bar.css">
    <link rel="stylesheet" href="/css/mypage/user/address-editor-form.css">
    <link rel="stylesheet" href="/css/mypage/user/modal.css">
</head>
<style>
    .blind {
        display: none !important;
    }
</style>
<body>
    <!--모달창-->
    <div id="myModal" class="modal" th:if="${#strings.equals(param.update, 'ok')}">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>프로필 정보가 성공적으로 수정되었습니다.</p>
            <button id="closeModalBtn">확인</button>
        </div>
    </div>
    <!--모달창-->
    <div class="wrap">
        <header class="header-stage" th:insert="~{component/header.html :: header}"></header>
        <section id="contents" class="container">
            <div class="content-wrap">
                <div class="header-stage" th:insert="~{mypage/member/top-bar.html :: top-bar}"></div><!-- // top-bar.html -->
                <div class="frame-sm">
                    <div class="header-stage" th:insert="~{mypage/member/side-bar.html :: side-bar}"></div><!-- // side-bar.html -->
                    <div class="frame-right">
                        <div class="frame-cnt-inner">
                            <div class="menu-title-area" style="margin-bottom: 6px;">
                                <h3 class="title-menu">배송지정보수정</h3>
                            </div>
                            <form id="ordFrm" name="addressForm" method="post">
                                <div class="order-info" id="orderUserInfo">
                                    <div class="list-head">
                                        <h3 class="title-list">주문자 정보</h3>
                                    </div>
                                </div>
                                <div class="order-address">
                                    <ul class="info-txt">
                                        <li class="info__after" th:text="${memberDTO.memberName}"></li>
                                        <li class="info__after" th:text="${memberDTO.userPhoneNumber}"></li>
                                        <li th:text="${memberDTO.userEmail}"></li>
                                    </ul>
                                </div>
                                <div class="list-head-sub">
                                    <h3 class="title-list">배송지 정보</h3>
                                </div>
                                <div class="lineless-table type2">
                                    <table>
                                        <caption>정보 입력</caption>
                                        <colgroup>
                                            <col style="width:100px"><col>
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th scope="row">받는분</th>
                                                <td>
                                                    <input type="hidden" th:field="${memberDTO.id}">
                                                    <input type="text" title="" class="input-text w-full removeEmoji" th:field="${memberDTO.deliveryName}">
                                                </td>
                                            </tr>
                                            <tr class="row-th-top">
                                                <th scope="row">주소</th>
                                                <td>
                                                    <div class="input-group-wrap box-type" style="display: flex;">
                                                        <div class="input-group">
                                                            <div class="input-group-cell w160">
                                                                <input type="text" id="postcode" name="zipcode" class="input-text" placeholder="우편번호" th:field="${memberDTO.memberDeliveryAddress.zipcode}" readonly>
                                                            </div>
                                                            <div class="input-group-cell">
                                                                <input type="text" id="address" name="firstAddress" class="input-text" placeholder="기본주소" th:field="${memberDTO.memberDeliveryAddress.firstAddress}" readonly>
                                                            </div>
                                                            <span class="input-group-btn" onclick="sample6_execDaumPostcode()">
                                                                <a href="javascript:void(0)" class="btn-ex-white">
                                                                    <span>우편번호 찾기</span>
                                                                </a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <input type="text" id="detailAddress" name="addressDetail" class="input-text w-full removeEmoji" placeholder="상세주소" th:field="${memberDTO.memberDeliveryAddress.addressDetail}">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">전화번호</th>
                                                <td>
                                                    <input type="text" class="input-text w-full" name="deliveryPhoneNumber" maxlength="11" placeholder="ex) 01099991234" th:field="${memberDTO.deliveryPhoneNumber}">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="btn-bottom-area">
                                        <button type="button" class="btn-basic-lg2 btn-grey3"><span>취소하기</span></button>
                                        <button type="button" class="btn-basic-lg2 btn-primary btn_update"><span>수정완료</span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div><!-- // frame-sm -->
            </div><!-- // content-wrap -->
        </section>
        <footer class="footer-stage" th:insert="~{component/footer.html :: footer}"></footer>
    </div>

    <input type="hidden" id="sample6_postcode" placeholder="우편번호">
    <input type="hidden" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
    <input type="hidden" id="sample6_address" placeholder="주소"><br>
    <input type="hidden" id="sample6_detailAddress" placeholder="상세주소">
    <input type="hidden" id="sample6_extraAddress" placeholder="참고항목">
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/main/header.js"></script>
<script src="/js/mypage/user/modal.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;
                
                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('postcode').value = data.zonecode;
                document.getElementById("address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("detailAddress").focus();
            }
        }).open();
    }
</script>
<script src="/js/mypage/user/address-editor.js"></script>
</html>