<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>찜한 상품</title>
    <link rel="icon" href="/img/main/fabicon.png" type="image/png" sizes="50x50"/>
    <link rel="stylesheet" href="/css/global/global.css">
    <link rel="stylesheet" href="/css/component/header.css"/>
    <link rel="stylesheet" href="/css/component/footer.css"/>
    <link rel="stylesheet" href="/css/global/mypage.css">
    <link rel="stylesheet" href="/css/mypage/user/side-bar.css">
    <link rel="stylesheet" href="/css/mypage/user/top-bar.css">
    <link rel="stylesheet" href="/css/mypage/user/bookmark.css">
    <link rel="stylesheet" href="/css/mypage/user/paging.css">
</head>
<style>
    .blind {
        display: none !important;
    }
</style>
<body>
    <div class="wrap">
        <header class="header-stage" th:insert="~{component/header.html :: header}"></header>
        <section id="contents" class="container">
            <div class="content-wrap">
                <div class="header-stage" th:insert="~{mypage/member/top-bar.html :: top-bar}"></div><!-- // top-bar.html -->
                <div class="frame-sm">
                    <div class="header-stage" th:insert="~{mypage/member/side-bar.html :: side-bar}"></div><!-- // side-bar.html -->
                    <div class="frame-right">
                        <div class="frame-cnt-inner">
                            <div class="menu-title-area content__header">
                                <h3 class="title-menu">찜 목록</h3>
                                <div class="bookmark__wrap">
                                    <span class="bookmark welfare__bookmark">복지관</span>
                                    <span class="bookmark recipe__bookmark strong">레시피</span>
                                </div>
                            </div>
                            <div class="grid-list-wrap ui-compare-select">
                                <ul id="wishList" class="prd-item-list grid-area-span4 gap33 recipeBoard__bookmark__append"></ul><!--// append list -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-bottom" style="margin: 0px; position: absolute; bottom: 136px; right: 713px;">
                    <div class="pagination mt20" style="margin-top: 30px;"></div><!--// pagination -->
                </div>
            </div>
        </section>
        <footer class="footer-stage" th:insert="~{component/footer.html :: footer}"></footer>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/main/header.js"></script>
<script src="/js/CS/common.js"></script>
<script src="/js/common/ajax.js"></script>
<!--<script src="/js/market/search.js"></script>-->
<script src="/js/mypage/user/ajax.js"></script>
<script src="/js/mypage/user/bookmark.js"></script>
</html>