<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../static/css/global/global.css">
    <link rel="stylesheet" href="../../../static/css/mypage/user/side-bar.css">
</head>
<body>
    <div th:fragment="side-bar" class="frame-left">
        <div class="aside-menu-wrap">
            <nav class="aside-menu">
                <ul class="menu-list">
                    <li>
                        <a href="javascirpt:void(0)" class="menu">구독관리</a>
                        <ul class="depth2">
                            <li><a href="javascirpt:void(0)">나의 구독</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascirpt:void(0)" class="menu">활동관리</a>
                        <ul class="depth2">
                            <li class=""><a th:href="@{/mypage/member/board}">게시물</a></li>
                            <!--<li class=""><a href="javascirpt:void(0)">댓글</a></li>-->
                            <li class=""><a href="javascirpt:void(0)">복지관 후기</a></li>
                            <li class=""><a th:href="@{/mypage/member/subscription-bookmark}">찜 목록</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascirpt:void(0)" class="menu">주문관리</a>
                        <ul class="depth2">
                            <li class=""><a th:href="@{/mypage/member/order}">주문내역</a></li>
                            <!--<li class=""><a href="javascirpt:void(0)">반품내역</a></li>-->
                        </ul>
                    </li>
                    <li>
                        <a href="javascirpt:void(0)" class="menu">문의관리</a>
                        <ul class="depth2">
                            <li>
                                <a th:href="@{/mypage/member/inquiry}">문의내역</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascirpt:void(0)" class="menu">회원정보관리</a>
                        <ul class="depth2">
                            <li>
                                <a href="javascirpt:void(0)">회원정보수정</a>
                            </li>
                            <li>
                                <a th:href="@{/mypage/member/address-editor}">배송지정보수정</a>
                            </li>
                            <li>
                                <a th:href="@{/mypage/member/unregister}">회원탈퇴</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav><!--// menu-mypage -->
        </div><!--// aside-menu-wrap -->
    </div>
</body>
</html>