<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 구독</title>
    <link rel="icon" href="/img/main/fabicon.png" type="image/png" sizes="50x50"/>
    <link rel="stylesheet" href="/css/global/global.css">
    <link rel="stylesheet" href="/css/component/header.css"/>
    <link rel="stylesheet" href="/css/component/footer.css"/>
    <link rel="stylesheet" href="/css/global/mypage.css">
    <link rel="stylesheet" href="/css/mypage/user/side-bar.css">
    <link rel="stylesheet" href="/css/mypage/user/top-bar.css">
    <link rel="stylesheet" href="/css/mypage/user/subscribe.css">
</head>
<style>
    .blind {
        display: none !important;
    }
</style>
<body>
    <div class="wrap">
        <header class="header-stage" th:insert="~{component/header.html :: header}"></header>
        <section id="contents" class="container">
            <div class="content-wrap">
                <div class="header-stage" th:insert="~{mypage/member/top-bar.html :: top-bar}"></div><!-- // top-bar.html -->
                <div class="frame-sm">
                    <div class="header-stage" th:insert="~{mypage/member/side-bar.html :: side-bar}"></div><!-- // side-bar.html -->
                    <div class="frame-right">
                        <div class="frame-cnt-inner">
                            <div class="menu-title-area">
                                <h3 class="title-menu">나의 구독</h3>
                            </div>
                            <div class="subscribe-wrap">
                                <div class="subscribe__list">
                                    <ul th:object="${subscription}" th:if="${subscription != null}">
                                        <input type="hidden" th:field="*{id}" class="orderSubscriptionId">
                                        <li class="welfare__list">
                                            <div class="list-inner ui-toggle">
                                                <div class="txt-area">
                                                    <div class="txt-inner">
                                                        <div class="post-info">
                                                            <span class="user-level">
                                                                <i class="ico-user-level01">
                                                                    <span class="" th:text="*{welfareName}"></span>
                                                                </i>
                                                            </span>
                                                            <ul class="sep-list type3">
                                                                <li class="before">
                                                                    <span class="date start" th:text="${#temporals.format(subscription.orderStartDate, 'yyyy.MM.dd')}"></span>
                                                                </li>
                                                            </ul>
                                                            <span class="badge-sm-primary">구독취소</span>
                                                        </div>
                                                        <p class="review">
                                                            <span th:text="*{subscriptionTitle}"></span>
                                                        </p>
                                                    </div>
                                                    <div class="img">
                                                        <img class="lozad" src="">
                                                    </div>
                                                </div>

                                                <button type="button" class="btn-link-txt2 ui-toggle-btn btnMoreReview detail__button">
                                                    <img class="arrow-0deg arrow" src="/img/mypage/inquiry-arrow.png" width="18">
                                                    <span class="txt-change">더보기</span>
                                                </button>

                                                <div class="ui-toggle-content goods-review-detail hide welfare__detail" style="display: none;">
                                                    <div class="answer-box">
                                                        <p class="answer-message">
                                                            <span style="white-space:pre-wrap" th:text="*{subscriptionContent}"></span>
                                                        </p>
                                                    </div>
                                                    <div class="thumbnail-area">
                                                        <img class="welfare__img" src="">
                                                    </div>
                                                </div><!--// 복지관 상세보기 -->
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer-stage" th:insert="~{component/footer.html :: footer}"></footer>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/main/header.js"></script>
<script th:inline="javascript">
    let $userProfile = [[${userProfile}]];
</script>
<script src="/js/mypage/user/ajax.js"></script>
<script src="/js/mypage/user/subscribe.js"></script>
</html>