<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원탈퇴</title>
    <link rel="icon" href="/img/main/fabicon.png" type="image/png" sizes="50x50"/>
    <link rel="stylesheet" href="/css/global/global.css">
    <link rel="stylesheet" href="/css/component/header.css"/>
    <link rel="stylesheet" href="/css/component/footer.css"/>
    <link rel="stylesheet" href="/css/global/mypage.css">
    <link rel="stylesheet" href="/css/mypage/user/side-bar.css">
    <link rel="stylesheet" href="/css/mypage/user/top-bar.css">
    <link rel="stylesheet" href="/css/mypage/user/withdrawal.css">
    <link rel="stylesheet" href="/css/mypage/user/modal.css">
</head>
<style>
    .blind {
        display: none !important;
    }
</style>
<body>
    <div class="wrap">
        <header class="header-stage" th:insert="~{component/header.html :: header}"></header>
        <section id="contents" class="container">
            <div class="content-wrap">
                <div class="header-stage" th:insert="~{mypage/member/top-bar.html :: top-bar}"></div><!-- // top-bar.html -->
                <div class="frame-sm">
                    <div class="header-stage" th:insert="~{mypage/member/side-bar.html :: side-bar}"></div><!-- // side-bar.html -->
                    <div class="frame-right">
                        <div class="frame-cnt-inner">
                            <div class="menu-title-area">
                                <h3 class="title-menu">회원 탈퇴</h3>
                            </div>
                            <div class="board-form type3">
                                <div class="input-guide-box type2">
                                    <div class="inner">
                                        <h4 class="box-tit">탈퇴 유의사항</h4>
                                        <div class="admin-txt">
                                            * 탈퇴하실 경우 구매내역 확인은 물론 로그인 후 가능한 모든 기능은 사용하실 수 없습니다.<br>
                                            * 탈퇴하신 후에 회원 정보의 복구는 불가능하며, 보유하신 쿠폰이나 적립금도 모두 무효화됩니다.<br>
                                            * 탈퇴하신 후 동일한 이메일, 휴대폰 번호로 재 가입은 탈퇴일로부터 90일 이후 가능합니다.
                                        </div>
                                    </div>
                                </div><!--// input-guide-box -->
                                <form id="frm" name="withdrawalForm" th:action="@{/mypage/member/unregister}" th:method="post">
                                    <div class="secess-area">
                                        <fieldset class="form-group-area">
                                            <div class="form-group">
                                                <div class="form-head">
                                                    <strong class="form-tit type2">탈퇴사유 및 개선점</strong>
                                                </div><!--// form-head -->
                                                <div class="textarea-box h160">
                                                    <textarea id="withdrawCont" name="withdrawCont" placeholder="HappyBox에게 해주고 싶은 말씀을 자유롭게 입력해 주세요."></textarea>
                                                </div>
                                            </div><!--// form-group -->
                                        </fieldset>
                    
                                        <div class="btn-bottom-area">
                                            <button type="button" class="btn-basic-lg2 btn-default-ex btn_cancel">
                                                <span>취소</span>
                                            </button>
                                            <button type="submit" class="btn-basic-lg2 btn-black btn_submit">
                                                <span>확인</span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--모달-->
<!--        <div id="reply-modal" class="modal">-->
<!--            <div class="modal-content reply-delete-modal">-->
<!--                <p class="modal-title">회원탈퇴 하시겠습니까?<span class="close">&times;</span></p>-->
<!--                <div class="modal-btn-wrap replyBtn-wrap">-->
<!--                    <button class="modal-btn" id="reply-deleteBtn" onclick="deleteReply()">댓글 삭제하기</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <!--모달-->

        <footer class="footer-stage" th:insert="~{component/footer.html :: footer}"></footer>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/main/header.js"></script>
</html>