html {
    zoom: 80%;
}

body {
    overflow-x: hidden
}

.wrap {
    position: relative;
    min-width: 1300px;
}

.main .content {
    padding-bottom: 100px;
}

.main-visual-area {
    position: relative;
    overflow: hidden;
    height: 400px;
    width: 100%;
    text-align: center;
}

section.container {
    position: relative;
    width: 1920px;
    margin: 0 auto;
    overflow: hidden;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
}

div.banner div {
    width: 1920px;
    height: 400px;
    float: left;
    background-size: 100%;
    margin: 0 auto;
}

.container .move-arrow {
    position: absolute;
    display: inline-block;
    padding: 0 22px;
    height: 26px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 60px;
    z-index: 10;
    top: 347px;
    left: 1610px;
}

.move-arrow .banner-count {
    position: relative;
    width: auto;
    color: #ccc;
    font-weight: 700;
    bottom: auto;
    left: auto;
    line-height: 26px;
    font-size: 13px;
}

.move-arrow .prev {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    top: 3px;
    left: 4px;
    margin: 0;
    right: auto;
}

.move-arrow .prev svg {
    transform: scaleX(-1);
    height: 20px;
    width: 17px;
    fill: #dadada;
}

.move-arrow .next {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    top: 3px;
    right: 1px;
    margin: 0;
    width: 19px;
    height: 26px;
    left: auto;
}

.move-arrow .next svg {
    height: 20px;
    width: 17px;
    fill: #dadada;
}

.main-article {
    margin-top: 90px;
}

.frame-sm {
    width: 1140px;
    position: relative;
    margin: 0 auto;
}

.category-btn-list {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

.category-btn-item-ico-wrap {
    background-color: #f8f8f8;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.identityContainer-content {
    display: flex;
    justify-content: space-between;
}

.category-btn-item-ico-wrap i {
    display: block;
    width: 48px;
    height: 48px;
    margin: auto;
}

.category-btn-item-subject {
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    margin-top: 7px;
    color: #666;
    word-break: keep-all;
}

.main-article ~ .recommend-sec {
    margin-top: 80px;
}

.frame-slide-overlap {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}

.frame-slide-overlap .swiper-container {
    padding: 0 20px;
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0 20px;
    z-index: 1;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
    transition: 0.3s ease-in-out;
}

.page-nav-wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: fit-content;
    font-size: 17px;
    font-weight: 700;
    color: #333;
    border-left:  1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.page-nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 170px;
}

.page-nav a:first-child {
    border-bottom-left-radius: 3px;
}

.page-nav a:last-child {
    border-bottom-right-radius: 3px;
}

.page-nav a {
    border-right: 1px solid #ccc;
}

.page-nav a:hover {
    background-color: #eee;
}

.best-list .frame-sm .swiper-container .swiper-wrapper {
    justify-content: space-between;
}

.md-recomm-sec .main-md-recomm-swiper-btn.swiper-button-prev {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #e1e1e1;
    border-radius: 100%;
    top: calc(256px / 2);
    margin: 0;
    transform: translateY(-50%);
}

.bnr-item {
    position: relative;
}

.bnr-item .img {
    overflow: hidden;
    border-radius: 8px;
    aspect-ratio: 1/1;
}

.bnr-item .img > img {
    width: 100%;
    height: 100%;
}

.bnr-item .tit {
    display: block;
    font-size: 17px;
    font-weight: 700;
    margin-top: 15px;
}

.bnr-item-list {
    width: calc(256.25px * 6);
}

.swiper-btn {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #e1e1e1;
    border-radius: 100%;
    top: calc(256px / 2);
    margin: 0;
    transform: translateY(-50%);
    position: absolute;
    z-index: 10;
}

.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
}
.swiper-button-prev {
    left: 0;
    right: auto;
}

.swiper-button-next {
    right: 0;
    left: auto;
}

.swiper-button-prev svg {
    width: 15px;
    height: 15px;
    margin-top: 4px;
    pointer-events: none;
    transform: rotate(180deg);
    z-index: 1;
}

.swiper-button-next svg {
    width: 15px;
    height: 15px;
    pointer-events: none;
    margin-top: 4px;
    z-index: 1;
}

.swiper-button-next svg polygon,
.swiper-button-prev svg polygon {
    pointer-events: none;
    z-index: 1;
}

.text-elps {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-break: break-all;
}

.main-article {
    text-align: center;
    margin-bottom: 26px;
}

.frame-slide-overlap .main-article-tit {
    margin-bottom: 30px;
    text-align: center;
}

.main-article .frame-sm .time-sales-container {
    display: flex;
}

.main-article .time-sales-title-area {
    width: calc(100% - 720px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-article-tit {
    font-size: 28px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    margin-bottom: 26px;
}

.main-article .time-sales-title-area h2 span {
    display: block;
}

.main-article .time-sales-title-area h2 span:first-child {
    padding-left: 38px;
    background: url('../../img/main/recent_icon.png')
        no-repeat 0 center / 34px;
    line-height: 36px;
    font-weight: 600;
    margin-bottom: 2px;
}

.main-article .time-sales-title-area p {
    font-size: 16px;
    color: #666;
    text-align: left;
}

.main-article .time-sales-content-area {
    width: 700px;
    position: relative;
}

.swiper-container .swiper-button-displayCount2 {
    position: absolute;
}

.swiper-slide {
    flex-shrink: 0;
    height: 100%;
    position: relative;
}

.prd-item,
.prd-item .desc-bottom {
    margin-top: 6px;
    position: relative;
}

.main-article .time-sales-content-area .img {
    width: 320px;
    height: 230px;
}

.prd-item .img a img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    vertical-align: top;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 0;
}

.height256 {
    height: 256.25px !important;
}

.lozad {
    border-radius: 8px 8px 8px 8px !important;
}

.main-article .time-sales-content-area .timer {
    height: 36px;
    line-height: 36px;
    border-radius: 0 0 8px 8px;
    margin: 0;
    background: #ff5938;
    text-align: center;
    color: #fff;
    position: relative;
}

.main-article .time-sales-content-area .timer .timer-title {
    font-weight: 700;
    font-size: 15px;
}

.prd-item .top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    min-height: 20px;
    margin: 3px 0 5px;
}

.imgbadge-dlv {
    display: inline-block;
    height: 20px;
    font-weight: 700;
    text-align: left;
    color: #13a7b8;
}

.rating-simply {
    display: flex;
    align-items: center;
    gap: 2px;
}

.rating-simply .rating-star {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(https://www.rankingdak.com/resources/pc/images/icon/ico_bullet.png) no-repeat -90px -160px;
}

.rating-simply span {
    font-weight: 700;
}

.main-article .time-sales-content-area .desc-bottom .tit {
    margin: 6px 0 0;
    font-size: 16px;
    display: block;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.02em;
}

.price-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.prd-item .sale {
    font-size: 13px;
    padding: 0 4px 0 0;
    font-weight: 600;
    color: #f15220;
}

.prd-item .sale strong {
    font-size: 20px !important;
}

.prd-item .price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 13px;
    color: #333;
}

.prd-item .price em {
    font-size: 13px !important;
    font-weight: 700;
    margin-left: 2px;
}

.prd-item .img a {
    width: 100%;
    height: 100%;
    display: block;
}

.main-recommend {
    margin-top: 90px !important;
}

.recommend-title {
    margin-bottom: 25px;
}

.recommend-title p {
    font-size: 16px;
    color: #666666;
    font-weight: 400;
    text-align: center;
}

.recommend-title .main-article-tit {
    margin-bottom: 10px;
}

.text-elps2 {
    display: block;
    display: -webkit-box !important;
    text-align: left;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.prd-item .tit {
    display: block;
    font-size: 15px;
    line-height: 22px;
    margin: 3px 0 6px;
    font-weight: 400;
    letter-spacing: 0.02em;
    margin-bottom: 4px;
}

.main-mid-bnr {
    position: relative;
    max-width: 1100px;
    margin: 90px auto 0;
    border-radius: 10px;
    overflow: hidden;
}

.main-mid-bnr a img {
    max-width: 100%;
    vertical-align: top;
}

.best-list .main-article-tit {
    text-align: center;
}

.best-list-item a img {
    width: 340px;
    height: 340px;
    border-radius: 10px;
}

.best-list-item .txt-area {
    height: 42px;
    max-height: 42px;
    margin-top: 10px;
    width: 100%;
    text-align: left;
}

.side-quick-area {
    position: absolute;
    top: 670px;
    right: 50%;
    z-index: 11;
    width: 100%;
    min-width: 1400px;
    max-width: 1440px;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
}
.side-quick-area .side-quick {
    position: absolute;
    top: 70px;
    right: 0;
    width: 90px;
}
.side-quick-area.fixed {
    position: fixed;
}
.side-quick-area.fixed > .side-quick {
    top: 78px;
}
.side-quick-area.fixed.type2 > .side-quick {
    top: 120px;
}
.side-quick-area.fixed.static {
    position: relative;
    top: 0;
    bottom: -30px;
    margin: 0 auto;
    transform: none;
    right: 0;
    transition: none;
}
.side-quick .bnrs li {
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #e6e6e6;
}
.side-quick .bnrs li + li {
    margin-top: 10px;
}
.side-quick .recent-list {
    margin: 10px 0;
    border: 1px solid #e6e6e6;
    background: #fff;
    border-radius: 6px;
    padding: 11px 9px;
}
.recent-list .recent-info {
    padding: 0 13px;
}
.recent-list .recent-info .txt {
    margin-top: 10px;
    padding-bottom: 3px;
    font-size: 13px;
    border-bottom: 1px solid #666;
    overflow: hidden;
}
.recent-list .recent-info .num {
    float: right;
    color: #fd5f01;
}
.recent-list .recent-info .num .ico-arr-right {
    width: 10px;
    height: 10px;
    margin-left: 2px;
}
.recent-list .btn-move-group {
    display: flex;
    padding: 10px 0;
    margin: 0 -10px;
}
.recent-list .btn-move-group:last-child {
    padding-bottom: 0;
}
.recent-list .btn-move-group [class^="btn-"] {
    display: flex;
    width: 100%;
    text-align: center;
    border: 0;
    align-items: center;
    height: 10px;
    justify-content: center;
    background-color: transparent;
}
.recent-list .btn-move-group [class^="btn-"] + [class^="btn-"] {
    position: relative;
}
.recent-list .btn-move-group [class^="btn-"] + [class^="btn-"]::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 1px;
    height: 10px;
    background-color: #e6e6e6;
    transform: translateY(-50%);
}
.recent-list .btn-move-group [class^="btn-"].disabled {
    pointer-events: none;
}
.recent-list .btn-move-group [class^="btn-"].disabled [class*="ico-arr-"] {
    opacity: 1;
    color: #ccc;
}
.recent-info .num .ico-arr-right:after,
.recent-info .num .ico-arr-right:before {
    box-shadow: none;
}
/* 배너 위치 */
.wrap.main .side-quick-area.fixed > .side-quick {
    top: 78px;
}
.content-wrap.benefit-content ~ .side-quick-area .side-quick {
    top: 630px;
}
.content-wrap.benefit-content ~ .side-quick-area.fixed > .side-quick {
    top: 78px;
}

/*#recent-prod-list{height:236px}*/
.recent-prd-item {
    position: relative;
    padding: 0;
}
.recent-prd-item ul li {
    width: 70px;
    height: 70px;
}
.recent-prd-item ul li.on {
    display: block;
}
.recent-prd-item ul li:nth-child(3n) + li {
    margin-top: 0;
}
.recent-prd-item ul li:nth-child(3n) ~ li {
    display: none;
}
.recent-prd-item ul li + li {
    margin-top: 10px;
}
.recent-prd-item ul li > a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
.recent-prd-item ul li .img {
    display: block;
    position: relative;
    width: 70px;
    height: 70px;
    overflow: hidden;
    z-index: 2;
    border-radius: 4px;
}
.recent-prd-item ul li .detail {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    width: 200px;
    height: 100%;
    border: 1px solid #999;
    font-size: 12px;
    padding: 10px 75px 10px 10px;
    border-radius: 5px;
    overflow: hidden;
}
.recent-prd-item ul li .detail:before {
    display: block;
    width: calc(100% - 72px);
    height: 100%;
    background: #fff;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.recent-prd-item ul li > a:hover .detail {
    display: block;
}
.recent-prd-item ul li .detail .tit {
    display: block;
    margin-bottom: 2px;
    color: #333;
    line-height: 16px;
}
.recent-prd-item ul li .detail .recent-price-info {
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
}
.recent-prd-item ul li .detail .recent-price-info i {
    font-weight: 400;
    font-style: normal;
}
.recent-prd-item .btn-move-group {
    position: absolute;
    bottom: 10px;
    left: 25px;
}
.recent-prd-item .btn-move-group .disabled {
    pointer-events: none;
}

.no-recent {
    text-align: center;
    font-size: 12px;
    margin-top: 12px;
}
.no-recent .no-recent-txt {
    font-size: 13px;
    line-height: 17px;
    color: #aaa;
    padding-top: 24px;
    background-image: url("/resources/pc/images/icon/ico-norecent.png");
    background-repeat: no-repeat;
    background-position: center 0;
}
.recent-list .sidebnr-link {
    display: block;
    width: 100%;
    font-size: 12px;
    text-align: center;
    color: #666;
    padding: 5px 0;
    border-top: 1px solid #ddd;
}
.recent-list .recent-heading .recent-title {
    font-size: 13px;
    line-height: 14px;
    font-weight: 400;
    text-align: center;
}
.recent-list .recent-heading .recent-cnt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: #ff8004;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    margin: 11px auto;
}
.side-quick .side-btns {
    margin-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0;
}
.side-btns {
    width: 50px;
    margin: 0 auto;
    border-radius: 25px;
    overflow: hidden;
    border: 1px solid #e6e6e6;
}
/* btn */
.btn-side-func {
    border: 1px solid #ddd;
    min-width: 32px;
    height: 32px;
    background-color: #f8f8f8;
}
.side-btns .btn-side-func {
    width: 100%;
    display: block;
    height: 25px;
    width: 100%;
    background-image: none;
    border: 0;
    position: relative;
    overflow: hidden;
}
.side-btns .btn-side-func + .btn-side-func {
    border-top: 1px solid #e6e6e6;
}
.side-btns .btn-side-func::before {
    content: "";
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 50%;
    left: 50%;
    background-image: url("	https://www.rankingdak.com/resources/pc/images/icon/ico_sidebtn.png");
    background-repeat: no-repeat;
    background-size: auto 32px;
    transform: translate(-50%, -50%);
}
.side-btns .btn-side-func.up::before {
    background-position: -39px 0;
}
.side-btns .btn-side-func.down::before {
    background-position: -79px 0;
}

.side-event-area {
    position: absolute;
    top: 640px;
    left: 50%;
    z-index: 8;
    margin-left: -710px;
}
.side-event-area .side-event {
    opacity: 0;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 120px;
}
.side-event-area.fixed {
    position: fixed;
}
.side-event-area.fixed > .side-event {
    top: 60px;
}
.side-event-area .btn-open {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    background: url(/resources/pc/images/icon/btn_wide.png) no-repeat;
    opacity: 0;
}
.side-event-area .side-event-wide {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -550px;
    width: 500px;
    height: 220px;
    border-radius: 12px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
}
.side-event-area .side-event-wide a {
    display: block;
}
.side-event-area .side-event-wide .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    background: url(/resources/pc/images/icon/btn_close.png);
    background-size: 40px;
    cursor: pointer;
}



/* ======================================================== 추가 section ====================================================== */

.identityContainer {
    border-top: 1px solid #e9ecef;
}

.identityContainer .inner {
    margin: 0 auto;
    padding: 0 24px 120px;
    max-width: 1140px;
}

.inner .summary {
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
    display: block;
    margin-bottom: 30px;
    color: #00b2b2;
    font-weight: 700;
}

.inner .title {
    line-height: 32px;
    word-break: keep-all;
    font-size: 24px;
    font-weight: 700;
}

.inner .titleWrapper .biImage {
    margin-top: 32px;
    width: 100%;
    float: left;
    width: 410px;
    overflow: hidden;
}

.inner .titleWrapper .biImage img:hover {
    transform: scale(1.1);
}

.inner .titleWrapper .biImage img {
    transition: transform 0.3s ease;
}

.inner .descWrapper {
    padding: 0 24px 0;
    float: right;
    width: 620px;
}

.inner .descWrapper .desc {
    margin: 0;
    word-break: break-all;
}

.identityContainer .inner .desc {
    display: block;
    margin-top: 30px;
    line-height: 28px;
    word-break: keep-all;
    font-size: 17px;
}

.wdButton.bi {
    margin-top: 65px;
}

.wdButton {
    display: inline-block;
    position: relative;
    transition-property: background-color,border-color,color,opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    background-color: #0000;
    cursor: pointer;
    padding: 9px 16px;
    vertical-align: middle;
    text-decoration: none;
    line-height: 1.43;
    white-space: nowrap;
    color: #495057;
    font-size: 14px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box!important;
    -webkit-appearance: none;
}

.inner .descWrapper .info {
    line-height: 18px;
    font-size: 13px;
    font-weight: 400;
    margin: 10px 0 36px;
    color: #0000008a;
}


.inner .descWrapper .guideline {
    line-height: 18px;
    font-size: 13px;
    font-weight: 400;
    
    color: #495057;
}

.inner .descWrapper .guideline em {
    font-weight: 700;
    color: #FF5938;
}

.identityContainer .inner:after {
    display: block;
    clear: both;
    content: "";
}


/* =============================================== 다음 section ======================================================== */
.principleContainer {
    border-top: 1px solid #e9ecef;
}

.section .inner {
    margin: 30px auto 0;
    padding: 60px 24px 60px;
    max-width: 1140px;
}

.section .inner .summary {
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
    display: block;
    margin-bottom: 30px;
    color: #00b2b2;
    font-weight: 700;
}

.section .inner .titleWrapper {
}

.section .inner .title {
    line-height: 32px;
    word-break: keep-all;
    font-size: 24px;
    font-weight: 700;
}

.principleContainer .section .inner .descWrapper {
    float: right;
    width: 500px;
}

.principleContainer .section .inner .desc {
    display: block;
    margin-top: 0px !important;
    line-height: 28px;
    word-break: keep-all;
    font-size: 17px;
}

.principleContainer .principleList {
    padding-top: 120px;
}

.principleContainer .principleList {
    clear: both;
    padding-top: 60px;
    margin-bottom: 60px;
}

.principleContainer .principleItem {
    position: relative;
    z-index: -1;
    margin-top: 24px;
    font-weight: 700;
}

.principleContainer .principleItem {
    float: left;
    margin-top: 0;
    border-left: 1px solid #dde2e6;
    padding: 30px 14px 0;
    width: 17%;
    height: 120px;
}

.principleContainer .principleItem .num {
    position: absolute;
    top: 2.5px;
    left: 0;
    font-size: 15px;
}

.principleContainer .principleItem:first-child {
    border-left: none;
    padding: 30px 14px 0 0;
}

.principleContainer .principleItem:first-child .num {
    left: 0;
}


.principleContainer .principleItem .num {
    top: 0;
    left: 14px;
    font-size: 19px;
}

.section .inner .desc {
    display: block;
    line-height: 28px;
    word-break: keep-all;
    font-size: 17px;
}

.principleContainer .principleItem .desc {
    display: inline-block;
    margin: 0;
    padding-left: 20px;
}

.principleContainer .principleItem .desc {
    padding-left: 0;
    line-height: 30px;
    font-size: 19px;
}


/*===========================================================================*/
/* 모달창 기본 스타일 */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* 모달창 내용 스타일 */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    height: 130px;
}

.modal-content .modal-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 닫기 버튼 스타일 */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-btn-wrap {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.replyBtn-wrap {
    margin-top: 20px !important;
}

.modal-btn {
    padding: 10px 20px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
}

#modal-yesBtn {
    background-color: #f84a3b;
}

#modal-yesBtn:hover {
    background-color: #cb372c;
}

#reply-deleteBtn {
    background-color: #f84a3b;
}

#reply-deleteBtn:hover {
    background-color: #cb372c;
}








/* ======================================================================================================= */