.main-article {
    text-align: center;
    margin-bottom: 26px;
}

.frame-sm {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}

.frame-slide-overlap .swiper-container {
    padding: 0 20px;
}

.marginBot100{
    margin-bottom: 100px !important;
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0 20px;
    z-index: 1;
}

.bnr-item-list {
    width: calc(256.25px * 12);
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
    transition: 0.3s ease-in-out;
}

.swiper-slide {
    flex-shrink: 0;
    height: 100%;
    position: relative;
}

.bnr-item-list a {
    display: block;
    color: rgb(51, 51, 51);
    cursor: pointer;
    width: 100%;
}

.image-container {
    overflow: hidden;
    height: 320px;
}

.product-info {
    padding-top: 4px;
    margin-left: 3px;
    text-align: left;
}

.product-info .distributer-name {
    font-size: 14px;
    color: rgb(153, 153, 153);
    line-height: 19px;
    letter-spacing: -0.5px;
}

.product-info .product-name {
    font-size: 16px;
    line-height: 1.45;
    font-weight: 400;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    letter-spacing: normal;
    word-break: break-word;
    overflow-wrap: break-word;
}

.product-info .content-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.content-row .sales-price {
    font-size: 16px;
    font-weight: 800;
    line-height: 1.5;
    white-space: nowrap;
}

.review-count {
    padding-top: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    display: flex;
    color: rgb(153, 153, 153);
}

.review-count .review-number {
    padding-left: 3px;
    font-weight: 400;
}

.time-sale-img-wrap {
    width: 320px;
}

.image-container img {
    max-height: 100%;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
}

.flex-between {
    justify-content: space-between !important;
}

.product-info .product-description {
    margin-bottom: 8px;
    text-align: start;
    font-size: 14px;
    font-weight: 400;
    color: rgb(153, 153, 153);
    line-height: 1.38;
    word-break: break-word;
}

.font20 {
    font-size: 20px !important;
}

.recipie-top-wrap {
    justify-content: center;
    display: flex;
    gap: 36px;
}

.recipie-top-img-container {
    height: 308px;
    overflow: hidden;
}

.recipie-top-img-container img {
    max-height: 100%;
    transition: 0.5s ease;
}

.image-container img:hover {
    scale: 1.05;
}

.recipie-top-img-container img:hover {
    scale: 1.05;
}

.recipe-top-title-wrap {
    width: 40%;
}

.text_center {
    text-align: center !important;
}

.recipe-top-title-wrap h3 {
    margin-top: 12px;
}
.recipe-top-title-wrap .recipie-top-content {
    padding-top: 23px;
    font-size: 16px;
    color: rgb(76, 76, 76);
    line-height: 26px;
    overflow: hidden;
    word-break: break-all;
    white-space: normal;
    -webkit-line-clamp: 7;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical
}

ul.recipie-top-others {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

ul.recipie-top-others li {
    margin-top: 30px;
    width: 48%;
}

.recipie-top-others li a {
    display: flex;
    gap: 8px;
}

.recipie-img-container {
    height: 72px;
    width: 72px;
}
.recipie-img-container img {
    height: 100%;
    width: 100%;
}

.recipie-content-wrap {
    height: 100%;
    overflow: hidden;
    flex: 1;
}

.recipe-title {
    text-align: left;
    font-weight: 700;
    padding-top: 4px;
    font-size: 16px;
    line-height: 23px;
    cursor: pointer;
    overflow: hidden;
    word-break: break-all;
    white-space: normal;
    -webkit-line-clamp: 1;
}

.recipie-content {
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    margin-top: 3px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.recipie-detail-btn {
    display: block;
    font-size: 13px;
    flex-shrink: 0;
    width: 104px;
    height: 36px;
    margin-top: 18px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 4px;
}