<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../../../static/css/global/global.css" />
        <link rel="stylesheet" href="../../../static/css/component/mobile/footer.css" />
    </head>
    <body>
        <footer id="footer" class="footer">
            <ul class="footer-links">
                <li><a href="javascript:void(0)" id="lnb_footer_login_area">로그인</a></li>
                <li><a href="javascript:void(0)">고객센터</a></li>
                <li><a href="javascript:void(0)">1대1 문의</a></li>
            </ul>
            <div class="footer-inner">
                <div class="footer-cs-info">
                    <p class="cs-guide">
                        고객센터 <strong class="text-primary">02-6405-8088</strong>
                    </p>
                    <p>평일 09:00 ~ 18:00 (점심 12:00 ~ 13:00)<br />주말, 공휴일 휴무</p>
                </div>
                <ul class="footer-menu-list">
                    <li><a href="/etc/footer/company">회사소개</a></li>
                    <!-- [Dev] 20211101 추가 -->
                    <li><a href="/service/notice">공지사항</a></li>
                    <li><a href="/etc/footer/uselaw">이용약관</a></li>
                    <li>
                        <a href="/etc/footer/privacy"><em>개인정보처리방침</em></a>
                    </li>
                </ul>
            </div>
            <p class="copyright">©랭킹닭컴 All rights reserved.</p>
        </footer>
    </body>
</html>
