<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Header</title>
        <link rel="stylesheet" href="../../../static/css/global/global.css" />
        <link rel="stylesheet" href="../../../static/css/component/mobile/header.css" />
    </head>
    <body>
        <header id="header" class="header">
            <div class="header-top">
                <div class="header-inner">
                    <h1 class="logo">
                        <a href="javascript:void(0)"><i class="head-logo"></i></a>
                    </h1>
                    <div class="header-search">
                        <div class="top-search">
                            <input
                                type="search"
                                class="input-search"
                                autocomplete="off"
                                placeholder="검색창!"
                            />
                            <button type="button" class="btn-top-search">
                                <img
                                    src="https://www.rankingdak.com/resources/mobile/images/icon/ico-m-search.svg"
                                />
                            </button>
                        </div>
                    </div>
                    <div class="my-menu">
                        <a href="javascript:void(0)" class="btn-util-productCart">
                            <img
                                src="../../../static/img/header/productCart.png"
                            />
                        </a>
                        <a href="javascript:void(0)" class="btn-util-productCart">
                            <img
                                src="../../../static/img/header/mypage_icon.png"
                            />
                        </a>
                    </div>
                </div>
            </div>
            <div class="gnb-wrap">
                <div class="inner">
                    <nav id="gnb" class="gnb">
                        <ul>
                            <li class="">
                                <a href="javascript:void(0)">
                                    <span>랭킹</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="javascript:void(0)">
                                    <span>이달의 특가</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="javascript:void(0)">
                                    <span>혜택정리</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="javascript:void(0)">
                                    <span>1팩 담기</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    </body>
</html>
