<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>판매내역</title>
    <link rel="stylesheet" href="../../../static/css/global/global.css">
    <link rel="stylesheet" href="../../../static/css/global/mypage.css">
    <link rel="stylesheet" href="../../../static/css/mypage/user/side-bar.css">
    <link rel="stylesheet" href="../../../static/css/mypage/user/top-bar.css">
    <link rel="stylesheet" href="../../../static/css/mypage/user/order-list.css">
    <link rel="stylesheet" href="../../../static/css/mypage/user/sales-list.css">
</head>
<body>
    <div class="wrap">
        <section id="contents" class="container">
            <div class="content-wrap">


                <!-- // top-bar.html -->


                <div class="frame-sm">


                        <!-- // side-bar.html -->
                        

                    <div class="frame-right">
                        <div class="frame-cnt-inner">
                            <form action="" name="myPageOrderForm">
                                
                                <div id="thumDtlPop"><!-- // 이미지 모달 -->
                                    <div class="layer-wrap" id="popup-sample01" style="display:none">
                                        <div class="layer-pop img-view-popup">
                                            <div class="layer-inner">
                                                <div class="layer-content">
                                                    <ul>
                                                        <li>이름 : <span>정지영</span></li>
                                                        <li>주소 : <span>서울시 00구 00로 49 현대아파트</span></li>
                                                        <li>휴대폰 번호 : <span>01055551234</span></li>
                                                    </ul>
                                                </div><!--// layer-content -->
                                                <button type="button" class="btn-x-md2 ui-close-pop">
                                                    <img class="close__modal" src="../../../static/img/mypage/close-button.webp" width="30">
                                                </button>
                                            </div><!--// layer-inner -->
                                        </div><!--// layer-pop  -->
                                    </div><!--// layer-pop-wrap #main-event -->
                                </div>

                                <div class="menu-title-area">
                                    <div class="title-menu">
                                        <h3 class="title-menu">판매내역</h3>
                                        <div class="right"><!-- // 검색창 -->
                                            <div class="input-group-wrap box-type">
                                                <div class="input-group w200">
                                                    <input type="text" id="item1-1" name="srchProductNm" class="input-text" placeholder="주문 상품명 검색">
                                                </div><!--// input-group -->
                                            </div>
                                        </div>
                                    </div>
                                    <img class="ico-btn-search" src="../../../static/img/mypage/search.png"></img>
                                </div>
                                <div class="search-box ui-toggle on">
                                    <div class="input-group-form text-right w-full">
                                        <div class="input-group-btn dis-inb">
                                            <a href="javascript:void(0)" class="btn-form btn-black"><span>조회하기</span></a>
                                        </div>
                                        <div class="input-group-btn dis-inb reset">
                                            <button type="button" id="btnInit" class="btn-form btn-link-txt5">
                                                <span>초기화</span>
                                            </button>
                                            <img class="ico-btn-refresh" src="../../../static/img/mypage/reset.png" width="15">
                                        </div>
                                    </div>
                                    <div class="search-detail ui-toggle-content">
                                        <fieldset>
                                            <ul class="radio-list">
                                                <li>
                                                    <div class="custom-radio">
                                                        <input type="radio" id="mypage-order-search-radio-2weeks" class="radio-btn-type2" name="mypage-order-search-radio" value="2WEEKS">
                                                        <label for="mypage-order-search-radio-2weeks">2주일</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="custom-radio">
                                                        <input type="radio" id="mypage-order-search-radio-1month" class="radio-btn-type2" name="mypage-order-search-radio" value="1MONTH">
                                                        <label for="mypage-order-search-radio-1month">1개월</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="custom-radio">
                                                        <input type="radio" id="mypage-order-search-radio-3months" class="radio-btn-type2" name="mypage-order-search-radio" value="3MONTHS">
                                                        <label for="mypage-order-search-radio-3months">3개월</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="custom-radio">
                                                        <input type="radio" id="mypage-order-search-radio-6months" class="radio-btn-type2" name="mypage-order-search-radio" value="6MONTHS">
                                                        <label for="mypage-order-search-radio-6months">6개월</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="custom-radio">
                                                        <input type="radio" id="mypage-order-search-radio-12months" class="radio-btn-type2" name="mypage-order-search-radio" value="12MONTHS">
                                                        <label for="mypage-order-search-radio-12months">12개월</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="custom-radio default select__all">
                                                        <input type="radio" id="mypage-order-search-radio-period" class="radio-btn-type2" name="mypage-order-search-radio" value="ALL">
                                                        <label for="mypage-order-search-radio-period">전체조회</label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>


                            <div class="no-data-type1" style="display: none;"><!-- 주문 내역이 없을 시 -->
                                <p class="message">기간 내에 주문내역이 없습니다.</p>
                            </div>


                            <ul class="cart-list">

                                <li id="delivery-product-2541529900N" class="delivery-product-2541529900NY"><!-- // 상품 리스트 -->
                                    <div class="prd-info-area cart-info-area">
                                        <div class="inner">
                                            <div class="column img">
                                                <label for="check-product-25415N">
                                                    <img src="https://file.rankingdak.com/image/RANK/PRODUCT/PRD001/20230222/IMG1677WIW053910362_100_100.jpg">
                                                </label>
                                            </div>
                                            <div class="column tit">
                                                <p class="tit" style="margin-top: 8px;">
                                                    <div class="user__profile__wrap">
                                                        <a class="user__name" href="javascript:void(0)">정지영</a>
                                                    </div>
                                                    <a href="javascript:void(0)" class="productNm" style="display: block;">맛있닭 저염 스팀 닭가슴살 100g</a>
                                                </p>
                                            </div>
                                            <div class="column price">
                                                <div class="price-div">
                                                    <span class="order__count">1</span>개 /
                                                    <span class="num cart-price-25415 brand-cd-1042 partner-cd-299 cart-price-25415" id="cart-price-20230418000014810723">2,090</span>원
                                                </div>
                                            </div>
                                            <div class="column btn">
                                                <button type="button" class="btn-x-sm deleteUserCart">
                                                    <i class="ico-x-black"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li id="delivery-product-2541529900N" class="delivery-product-2541529900NY"><!-- // 상품 리스트 -->
                                    <div class="prd-info-area cart-info-area">
                                        <div class="inner">
                                            <div class="column img">
                                                <label for="check-product-25415N">
                                                    <img src="https://file.rankingdak.com/image/RANK/PRODUCT/PRD001/20230222/IMG1677WIW053910362_100_100.jpg">
                                                </label>
                                            </div>
                                            <div class="column tit">
                                                <p class="tit" style="margin-top: 8px;">
                                                    <div class="user__profile__wrap">
                                                        <a class="user__name" href="javascript:void(0)">정지영</a>
                                                    </div>
                                                    <a href="javascript:void(0)" class="productNm" style="display: block;">맛있닭 저염 스팀 닭가슴살 100g</a>
                                                </p>
                                            </div>
                                            <div class="column price">
                                                <div class="price-div">
                                                    <span class="order__count">1</span>개 /
                                                    <span class="num cart-price-25415 brand-cd-1042 partner-cd-299 cart-price-25415" id="cart-price-20230418000014810723">2,090</span>원
                                                </div>
                                            </div>
                                            <div class="column btn">
                                                <button type="button" class="btn-x-sm deleteUserCart">
                                                    <i class="ico-x-black"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div><!--// frame-cnt-inner -->

                        <div class="page-bottom"><!-- // 페이징 -->
                            <div class="pagination mt20" style="margin-top: 30px;">
                                <a href="javascript:void(0)" class="btn-page prev"><span class="blind">&lt;</span></a>
                                <a href="javascript:void(0)" class="current"><span>1</span></a>
                                <a href="javascript:void(0)" class="btn-page next"><span class="blind">&gt;</span></a>
                            </div><!--// pagination -->
                        </div>

                    </div><!--// frame-right -->
                </div>
            </div>
        </section>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
<script src="../../../static/js/mypage/user/order-list.js"></script>
<script src="../../../static/js/mypage/user/sales-list.js"></script>
</html>