<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../static/css/global/global.css">
    <link rel="stylesheet" href="../../../static/css/mypage/user/side-bar.css">
</head>
<body>
    <div th:fragment="side-bar" class="frame-left">
        <div class="aside-menu-wrap">
            <nav class="aside-menu">
                <ul class="menu-list">
                    <li>
                        <a href="javascirpt:void(0)" class="menu">상품관리</a>
                        <ul class="depth2">
                            <li class=""><a th:href="@{/mypage/distributor/product}">상품목록</a></li>
                            <li class=""><a th:href="@{/mypage/distributor/register}">상품등록</a></li>
                            <li class=""><a th:href="@{/mypage/distributor/sale}">판매내역</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascirpt:void(0)" class="menu">문의관리</a>
                        <ul class="depth2">
                            <li>
                                <a th:href="@{/mypage/distributor/inquiry}">문의내역</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascirpt:void(0)" class="menu">회원정보관리</a>
                        <ul class="depth2">
                            <li>
                                <a th:href="@{/mypage/distributor/edit}">회원정보수정</a>
                            </li>
                            <li>
                                <a th:href="@{/mypage/distributor/unregister}">회원탈퇴</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>