<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../static/css/global/global.css">
    <link rel="stylesheet" href="../../../static/css/mypage/user/top-bar.css">
</head>
<body>
    <div class="frame-full head-mypage">
        <div class="user-info-box">
            <div class="inner">
                <div class="column user-info">
                    <label for="profile__label">
                        <input type="file" id="profile__label" style="display: none;">
                        <span class="img">
                            <!-- <i class="ico-cou-level01"></i> -->
                            <img class="user__profile__img" src="../../../static/img/mypage/user__profile.jpg">
                            <span class="img__editor__wrap">
                                <img class="img__editor" src="../../../static/img/mypage/img_editor.webp">
                            </span>
                        </span>
                    </label>
                    <div class="top-bar-txt">
                        <p class="greeting"><strong class="name">정지영</strong>님 반갑습니다.</p>
                        <ul class="sep-list user-info-list type3">
                            <li>유통회원</li>
                            <li id="groupPointRateText">1% 적립</li>
                            <li class="orange-entryItem">
                                <a href="javascript:void(0)">
                                    <span class="entry-tooltip">+3% 추가적립!</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div><!--// user-info -->
                <!--// order -->
                <dl class="column order">
                    <dt>상품목록</dt>
                    <dd><a href="javascript:void(0)"><strong class="num" id="orderCountText">123</strong>개</a></dd>
                </dl>
                <!--// order -->
                <dl class="column order">
                    <dt>판매내역</dt>
                    <dd><a href="javascript:void(0)"><strong class="num" id="orderCountText">1</strong>건</a></dd>
                </dl>
                <!--// coupon -->
                <dl class="column coupon">
                    <dt>취소내역</dt>
                    <dd><a href="javascript:void(0)"><strong class="num" id="couponCountText">199</strong>건</a></dd>
                </dl>
                <!--// point -->
                <dl class="column point">
                    <dt>문의답변</dt>
                    <dd class="text-primary" style="color: black !important;"><a href="javascript:void(0)"><strong class="num" id="totalUnusedPointText">555</strong>개</a></dd>
                </dl>
            </div><!--// inner -->
        </div><!--// user-info-box -->
    </div>
</body>
</html>