<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>유통마켓 상세</title>
    <link rel="icon" href="/img/main/fabicon.png" type="image/png" sizes="50x50"/>
    <link rel="stylesheet" href="/css/global/global.css"/>
    <link rel="stylesheet" href="/css/market/market-detail.css"/>
    <link rel="stylesheet" href="/css/component/header.css"/>
    <link rel="stylesheet" href="/css/component/footer.css"/>
</head>
<body>
<header class="header-stage" th:insert="~{component/header.html :: header}"></header>
<section class="container">
    <section>
        <article class="content item-top">
            <div class="fixed-img">
                <div class="img">
                    <img
                            class="represent-img"
                            alt=""
                    />
                </div>
            </div>
            <div class="refrig-banner">
                <a href="">
                    <img
                            src="https://www.rankingdak.com/resources/pc/images/img/pc_delivery_banner2.jpg"
                            alt=""
                    />
                </a>
            </div>
        </article>
        <article class="content item-main">
            <ul class="main-category-list">
                <li class="list-normal">
                    <a>
                        <span>상품설명</span>
                    </a>
                </li>
                <li class="list-normal">
                    <a>
                        <span>상품사진</span>
                    </a>
                </li>
                <li class="list-normal">
                    <a>
                        <span>판매자정보</span>
                    </a>
                </li>
                <li class="list-normal">
                    <a>
                        <span>리뷰댓글</span>
                    </a>
                </li>
            </ul>
            <section class="item-info-section section-wrap">
                <h3 class="section-title">상품설명</h3>
                <div class="tip_box">
                    <div class="context">
                        <p class="words"></p>
                    </div>
                </div>
            </section>
            <section class="section-wrap">reply-writer-info
                <h3 class="section-title">상품사진</h3>
                <div class="info-img-thumbnail">
                    <img
                            src=""
                    />
                </div>
                <div class="info-img-container"></div>
            </section>
            <section class="section-wrap">
                <h3 class="section-title">판매자정보</h3>
                <ul class="supplier-info-list">
                    <li class="info-category">판매자</li>
                    <li></li>
                </ul>
                <ul class="supplier-info-list">
                    <li class="info-category">원산지</li>
                    <li></li>
                </ul>
            </section>
            <section class="section-wrap">
                <h3 class="section-title">리뷰댓글</h3>
                <div class="review-count-wrap">
                    <span class="review-count"> 총 <span></span>개 </span>
                    <div class="review-orders">
                        <button class="orderDate fontW700">최신순</button>
                        <button class="orderLikeCount">추천순</button>
                    </div>
                </div>
                <!--  -->
                <div sec:authorize="isAuthenticated()" class="reply-writer-info"></div>
                <div sec:authorize="isAuthenticated()" class="write-content-wrap">
                    <form>
                        <textarea
                                class="write-textarea"
                                placeholder="댓글 남기기"
                        ></textarea
                        >
                        <button class="write-regist-btn" type="button">
                            <span class="regist">등록</span>
                        </button>
                    </form>
                </div>
                <div class="review-list-wrap"></div>
                <div>
                    <button class="more-review">더보기<span>+</span></button>
                </div>
            </section>
        </article>
    </section>
    <article class="item-info-wrap">
        <div class="item-info fixed">
            <h1 class="title-info">
                <p class="supplier-name"></p>
                <div class="title-info-wrap">
                    <div class="item-name-wrap">
                        <span class="item-name"></span>
                        <span class="item-name"></span>
                    </div>
                    <div class="item-personlize">
                        <button class="productCart-btn">
                            <img src="/img/welfare/cart.png" alt=""/>
                        </button>
                    </div>
                </div>
                <div class="rating-div">
                    <a class="num"> 댓글 수 <span class="reply-count"></span> 개 </a>
                </div>
            </h1>
            <div class="item-price-wrap">
                <span class="number"></span>
                <span>원</span>
            </div>
            <!--  -->
            <div class="detail-info-wrap">
                <dl class="detail-info">
                    <dt class="detail-info-category">배송</dt>
                    <dd>
                        <p>택배 배송</p>
                    </dd>
                </dl>
                <dl class="detail-info">
                    <dt class="detail-info-category">판매자</dt>
                    <dd>
                        <p></p>
                    </dd>
                </dl>
                <dl class="detail-info">
                    <dt class="detail-info-category">원산지</dt>
                    <dd>
                        <p>상품설명/상세정보 참조</p>
                    </dd>
                </dl>
                <dl class="detail-info">
                    <dt class="detail-info-category">특이사항</dt>
                    <dd>
                        <p>
                            없음
                        </p>
                    </dd>
                </dl>
            </div>
            <!--  -->
            <div class="order-option-wrap">
                <p>주문수량 선택</p>
                <div class="quantity">
                    <button class="minus-btn" type="button">-</button>
                    <input class="quantity-input" id="amount" type="text" value="1" />
                    <button class="plus-btn" type="button">+</button>
                </div>
            </div>
            <p class="order-price">
                <span class="total">주문금액</span>
                <span>
                    <span id="totalPrice"></span>
                    <em>원</em>
                </span>
            </p>
            <div class="btn-area">
                <button type="button" id="payment" class="subscribe-btn">
                    <span>주문하기</span>
                </button>
            </div>
        </div>
    </article>
</section>
<div id="cart-modal" class="modal">
    <div class="modal-content">
        <p class="modal-title">장바구니에 해당 상품을 담으시겠습니까?<span class="close">&times;</span></p>
        <div class="cart-product-info">
            <div>
                <p class="cart-info">상품명</p>
                <p class="cart-info">판매자</p>
                <p class="cart-info">가격</p>
                <p class="cart-info">수량</p>
                <p class="cart-info">총 가격</p>
            </div>
            <div>
                <p class="cart-name"></p>
                <p class="cart-distributor"></p>
                <p class="cart-price"></p>
                <p class="cart-order-count"></p>
                <p class="cart-total-price"></p>
            </div>
        </div>
        <div class="modal-btn-wrap">
            <button id="modal-yesBtn">장바구니 담기</button>
        </div>
    </div>
</div>
<footer class="footer-stage" th:insert="~{component/footer.html :: footer}"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/main/header.js"></script>
<script src="/js/common/ajax.js"></script>
<script th:inline="javascript">
    const $product = [[${product}]];
    console.log($product);
    const $userId = [[${userId}]];
    const $userRole = [[${userRole}]];
</script>
<script src="/js/market/detail.js"></script>
</html>
