<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>유통마켓</title>
    <link rel="icon" href="/img/main/fabicon.png" type="image/png" sizes="50x50"/>
    <link rel="stylesheet" href="/css/global/global.css"/>
    <link rel="stylesheet" href="/css/market/market-list.css"/>
    <link rel="stylesheet" href="/css/component/header.css"/>
    <link rel="stylesheet" href="/css/component/footer.css"/>
</head>
<body>
<header class="header-stage" th:insert="~{component/header.html :: header}"></header>
<main class="wrap-main frame-sm ">
    <div class="content-wrap marginTop120ottom80">
        <section class="side-menu-wrap">
            <div class="filter-menu-wrap">
                <span class="filter-menu">필터</span>
                <button id="reset-filter">
                    <svg
                            width="12"
                            height="12"
                            viewBox="0 0 16 16"
                            fill="none"
                    >
                        <path
                                d="M13.78 3.96303C12.504 2.16973 10.4086 1 8.04 1C4.15192 1 1 4.15192 1 8.04C1 11.9281 4.15192 15.08 8.04 15.08C11.9281 15.08 15.08 11.9281 15.08 8.04"
                                stroke="#ddd"
                                stroke-width="1.6"
                                stroke-linecap="square"
                                stroke-linejoin="round"
                        ></path>
                        <path
                                d="M14.4933 1L14.4933 4.52H10.9733"
                                stroke="#ddd"
                                stroke-width="1.6"
                                stroke-linecap="square"
                                stroke-linejoin="round"
                        ></path>
                    </svg>
                    <span>초기화</span>
                </button>
            </div>
            <div class="filter-menu-wrap">
                <button class="nav-control btnH52">
                    <span class="filter-menu">지역별</span>
                    <svg
                            width="18"
                            height="18"
                            viewBox="0 0 18 18"
                            fill="none"
                            stroke="#999"
                            style="transform: rotate(180deg)"
                    >
                        <path d="M5 11L9 7L13 11" stroke="#999" stroke-width="1.2"></path>
                    </svg>
                </button>
                <nav class="filter-nav region_select">
                    <li class="filter-nav-list" >
                        <a href="javascript:void(0)" class="region" data-region="서울">
                            <button data-checked="false">
                                <svg
                                        width="18"
                                        height="18"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                            class="check_path"
                                            d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z"
                                            fill="#fff"
                                    ></path>
                                    <path
                                            d="M7 12.6667L10.3846 16L18 8.5"
                                            stroke="#fff"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                    ></path>
                                </svg>
                            </button>
                            <span class="list-name" >서울특별시</span>
                        </a>
                    </li>
                    <li class="filter-nav-list" >
                        <a href="javascript:void(0)" class="region" data-region="경기">
                            <button data-checked="false">
                                <svg
                                        width="18"
                                        height="18"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                            class="check_path"
                                            d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z"
                                            fill="#fff"
                                    ></path>
                                    <path
                                            d="M7 12.6667L10.3846 16L18 8.5"
                                            stroke="#fff"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                    ></path>
                                </svg>
                            </button>
                            <span class="list-name" >경기도</span>
                        </a>
                    </li>
                    <li class="filter-nav-list" >
                        <a href="javascript:void(0)" class="region" data-region="강원">
                            <button data-checked="false">
                                <svg
                                        width="18"
                                        height="18"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                            class="check_path"
                                            d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z"
                                            fill="#fff"
                                    ></path>
                                    <path
                                            d="M7 12.6667L10.3846 16L18 8.5"
                                            stroke="#fff"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                    ></path>
                                </svg>
                            </button>
                            <span class="list-name" >강원도</span>
                        </a>
                    </li>
                    <li class="filter-nav-list" >
                        <a href="javascript:void(0)" class="region" data-region="충북">
                            <button data-checked="false">
                                <svg
                                        width="18"
                                        height="18"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                            class="check_path"
                                            d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z"
                                            fill="#fff"
                                    ></path>
                                    <path
                                            d="M7 12.6667L10.3846 16L18 8.5"
                                            stroke="#fff"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                    ></path>
                                </svg>
                            </button>
                            <span class="list-name" >충청북도</span>
                        </a>
                    </li>
                    <li class="filter-nav-list" >
                        <a href="javascript:void(0)" class="region" data-region="충남">
                            <button data-checked="false">
                                <svg
                                        width="18"
                                        height="18"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                            class="check_path"
                                            d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z"
                                            fill="#fff"
                                    ></path>
                                    <path
                                            d="M7 12.6667L10.3846 16L18 8.5"
                                            stroke="#fff"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                    ></path>
                                </svg>
                            </button>
                            <span class="list-name" >충청남도</span>
                        </a>
                    </li>
                    <li class="filter-nav-list" >
                        <a href="javascript:void(0)" class="region" data-region="경북">
                            <button data-checked="false">
                                <svg
                                        width="18"
                                        height="18"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                            class="check_path"
                                            d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z"
                                            fill="#fff"
                                    ></path>
                                    <path
                                            d="M7 12.6667L10.3846 16L18 8.5"
                                            stroke="#fff"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                    ></path>
                                </svg>
                            </button>
                            <span class="list-name" >경상북도</span>
                        </a>
                    </li>
                    <li class="filter-nav-list" >
                        <a href="javascript:void(0)" class="region" data-region="경남">
                            <button data-checked="false">
                                <svg
                                        width="18"
                                        height="18"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                            class="check_path"
                                            d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z"
                                            fill="#fff"
                                    ></path>
                                    <path
                                            d="M7 12.6667L10.3846 16L18 8.5"
                                            stroke="#fff"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                    ></path>
                                </svg>
                            </button>
                            <span class="list-name" >경상남도</span>
                        </a>
                    </li>
                    <li class="filter-nav-list" >
                        <a href="javascript:void(0)" class="region" data-region="전북">
                            <button data-checked="false">
                                <svg
                                        width="18"
                                        height="18"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                            class="check_path"
                                            d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z"
                                            fill="#fff"
                                    ></path>
                                    <path
                                            d="M7 12.6667L10.3846 16L18 8.5"
                                            stroke="#fff"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                    ></path>
                                </svg>
                            </button>
                            <span class="list-name" >전라북도</span>
                        </a>
                    </li>
                    <li class="filter-nav-list" >
                        <a href="javascript:void(0)" class="region" data-region="전남">
                            <button data-checked="false">
                                <svg
                                        width="18"
                                        height="18"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                            class="check_path"
                                            d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z"
                                            fill="#fff"
                                    ></path>
                                    <path
                                            d="M7 12.6667L10.3846 16L18 8.5"
                                            stroke="#fff"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                    ></path>
                                </svg>
                            </button>
                            <span class="list-name" >전라남도</span>
                        </a>
                    </li>
                    <li class="filter-nav-list" >
                        <a href="javascript:void(0)" class="region" data-region="제주">
                            <button data-checked="false">
                                <svg
                                        width="18"
                                        height="18"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                            class="check_path"
                                            d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z"
                                            fill="#fff"
                                    ></path>
                                    <path
                                            d="M7 12.6667L10.3846 16L18 8.5"
                                            stroke="#fff"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                    ></path>
                                </svg>
                            </button>
                            <span class="list-name" >제주도</span>
                        </a>
                    </li>
                </nav>
            </div>
            <div class="filter-menu-wrap">
                <button class="nav-control btnH52">
                    <span class="filter-menu">가격별</span>
                    <svg
                            width="18"
                            height="18"
                            viewBox="0 0 18 18"
                            fill="none"
                            stroke="#999"
                            style="transform: rotate(180deg)"
                    >
                        <path d="M5 11L9 7L13 11" stroke="#999" stroke-width="1.2"></path>
                    </svg>
                </button>
                <nav class="filter-nav">
                    <li class="filter-nav-list" >
                        <a href="javascript:void(0)" class="price" data-price="1000">
                            <button data-checked="false">
                                <svg
                                        width="18"
                                        height="18"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                            class="check_path"
                                            d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z"
                                            fill="#fff"
                                    ></path>
                                    <path
                                            d="M7 12.6667L10.3846 16L18 8.5"
                                            stroke="#fff"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                    ></path>
                                </svg>
                            </button>
                            <span class="list-name" >1000원 이하</span>
                        </a>
                    </li>
                    <li class="filter-nav-list" >
                        <a href="javascript:void(0)" class="price" data-price="5000">
                            <button data-checked="false">
                                <svg
                                        width="18"
                                        height="18"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                            class="check_path"
                                            d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z"
                                            fill="#fff"
                                    ></path>
                                    <path
                                            d="M7 12.6667L10.3846 16L18 8.5"
                                            stroke="#fff"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                    ></path>
                                </svg>
                            </button>
                            <span class="list-name" >5000원 이하</span>
                        </a>
                    </li>
                    <li class="filter-nav-list" >
                        <a href="javascript:void(0)" class="price" data-price="10000">
                            <button data-checked="false">
                                <svg
                                        width="18"
                                        height="18"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                            class="check_path"
                                            d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z"
                                            fill="#fff"
                                    ></path>
                                    <path
                                            d="M7 12.6667L10.3846 16L18 8.5"
                                            stroke="#fff"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                    ></path>
                                </svg>
                            </button>
                            <span class="list-name" >10000원 이하</span>
                        </a>
                    </li>
                    <li class="filter-nav-list" >
                        <a href="javascript:void(0)" class="price" data-price="30000">
                            <button data-checked="false">
                                <svg
                                        width="18"
                                        height="18"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                            class="check_path"
                                            d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z"
                                            fill="#fff"
                                    ></path>
                                    <path
                                            d="M7 12.6667L10.3846 16L18 8.5"
                                            stroke="#fff"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                    ></path>
                                </svg>
                            </button>
                            <span class="list-name" >30000원 이하</span>
                        </a>
                    </li>
                    <li class="filter-nav-list" >
                        <a href="javascript:void(0)" class="price" data-price="50000">
                            <button data-checked="false">
                                <svg
                                        width="18"
                                        height="18"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                            class="check_path"
                                            d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z"
                                            fill="#fff"
                                    ></path>
                                    <path
                                            d="M7 12.6667L10.3846 16L18 8.5"
                                            stroke="#fff"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                    ></path>
                                </svg>
                            </button>
                            <span class="list-name">50000원 이하</span>
                        </a>
                    </li>
                    <li class="filter-nav-list" >
                        <a href="javascript:void(0)" class="price" data-price="100000">
                            <button data-checked="false">
                                <svg
                                        width="18"
                                        height="18"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                            class="check_path"
                                            d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z"
                                            fill="#fff"
                                    ></path>
                                    <path
                                            d="M7 12.6667L10.3846 16L18 8.5"
                                            stroke="#fff"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                    ></path>
                                </svg>
                            </button>
                            <span class="list-name">100000원 이하</span>
                        </a>
                    </li>
                </nav>
            </div>
            <div class="filter-menu-wrap">
                <button class="nav-control btnH52">
                    <span class="filter-menu">가격별</span>
                    <svg
                            width="18"
                            height="18"
                            viewBox="0 0 18 18"
                            fill="none"
                            stroke="#999"
                            style="transform: rotate(180deg)"
                    >
                        <path d="M5 11L9 7L13 11" stroke="#999" stroke-width="1.2"></path>
                    </svg>
                </button>
                <nav class="filter-nav">
                    <li class="filter-nav-list" >
                        <a href="javascript:void(0)" class="price" data-price="1000">
                            <button data-checked="false">
                                <svg
                                        width="18"
                                        height="18"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                            class="check_path"
                                            d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z"
                                            fill="#fff"
                                    ></path>
                                    <path
                                            d="M7 12.6667L10.3846 16L18 8.5"
                                            stroke="#fff"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                    ></path>
                                </svg>
                            </button>
                            <span class="list-name" >1000원 이하</span>
                        </a>
                    </li>
                    <li class="filter-nav-list" >
                        <a href="javascript:void(0)" class="price" data-price="5000">
                            <button data-checked="false">
                                <svg
                                        width="18"
                                        height="18"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                            class="check_path"
                                            d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z"
                                            fill="#fff"
                                    ></path>
                                    <path
                                            d="M7 12.6667L10.3846 16L18 8.5"
                                            stroke="#fff"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                    ></path>
                                </svg>
                            </button>
                            <span class="list-name" >5000원 이하</span>
                        </a>
                    </li>
                    <li class="filter-nav-list" >
                        <a href="javascript:void(0)" class="price" data-price="10000">
                            <button data-checked="false">
                                <svg
                                        width="18"
                                        height="18"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                            class="check_path"
                                            d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z"
                                            fill="#fff"
                                    ></path>
                                    <path
                                            d="M7 12.6667L10.3846 16L18 8.5"
                                            stroke="#fff"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                    ></path>
                                </svg>
                            </button>
                            <span class="list-name" >10000원 이하</span>
                        </a>
                    </li>
                    <li class="filter-nav-list" >
                        <a href="javascript:void(0)" class="price" data-price="30000">
                            <button data-checked="false">
                                <svg
                                        width="18"
                                        height="18"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                            class="check_path"
                                            d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z"
                                            fill="#fff"
                                    ></path>
                                    <path
                                            d="M7 12.6667L10.3846 16L18 8.5"
                                            stroke="#fff"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                    ></path>
                                </svg>
                            </button>
                            <span class="list-name" >30000원 이하</span>
                        </a>
                    </li>
                    <li class="filter-nav-list" >
                        <a href="javascript:void(0)" class="price" data-price="50000">
                            <button data-checked="false">
                                <svg
                                        width="18"
                                        height="18"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                            class="check_path"
                                            d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z"
                                            fill="#fff"
                                    ></path>
                                    <path
                                            d="M7 12.6667L10.3846 16L18 8.5"
                                            stroke="#fff"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                    ></path>
                                </svg>
                            </button>
                            <span class="list-name">50000원 이하</span>
                        </a>
                    </li>
                    <li class="filter-nav-list" >
                        <a href="javascript:void(0)" class="price" data-price="100000">
                            <button data-checked="false">
                                <svg
                                        width="18"
                                        height="18"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                            class="check_path"
                                            d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z"
                                            fill="#fff"
                                    ></path>
                                    <path
                                            d="M7 12.6667L10.3846 16L18 8.5"
                                            stroke="#fff"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                    ></path>
                                </svg>
                            </button>
                            <span class="list-name">100000원 이하</span>
                        </a>
                    </li>
                </nav>
            </div>
        </section>
        <section class="content">
            <div class="items-order-wrap">
                <div class="items-count">총 <span id="item-count">0</span>건</div>
                <ul class="item-order-list">
                    <li class="item-order">
                        <a class="order-selected" data-order="DATE_DESC" href="javascript:void(0)"
                        >신상품순</a
                        >
                    </li>
                    <li class="item-order">
                        <a href="javascript:void(0)" data-order="ORDER_COUNT_DESC"
                        >판매량순</a
                        >
                    </li>
                    <li class="item-order">
                        <a href="javascript:void(0)" data-order="PRICE_ASC"
                        >낮은 가격순</a
                        >
                    </li>
                    <li class="item-order">
                        <a href="javascript:void(0)" data-order="PRICE_DESC"
                        >높은 가격순</a
                        >
                    </li>
                </ul>
            </div>
            <div class="show-item-wrap"></div>
            <div class="paging-div"></div>
        </section>
    </div>
</main>
<footer class="footer-stage" th:insert="~{component/footer.html :: footer}"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/main/header.js"></script>
<script src="/js/common/ajax.js"></script>
<script src="/js/market/search.js"></script>
<script src="/js/market/market-list.js"></script>
</html>
