<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>결제 페이지</title>
    <link rel="icon" href="/img/main/favicon-32x32.png" type="image/png"/>
    <link rel="stylesheet" href="/css/global/global.css"/>
    <link rel="stylesheet" href="/css/welfare/payment.css"/>
</head>
<body style="zoom: 80%">
<header></header>
<section class="payment-container">
    <div class="payment-wrap">
        <div class="page-title-area">
            <h2 class="page-title">상품/결제</h2>
        </div>
        <div class="payment-area">
            <form id="payment" name="payment" action="">
                <div class="order-info" id="orderUserInfo">
                    <div class="list-head">
                        <h3 class="title-list">주문자 정보</h3>
                    </div>
                </div>
                <!-- 구독자 정보 -->
                <div class="order-address">
                    <ul class="info-txt">
                        <li class="info__after" id="purchaserName">오태양</li>
                        <li class="info__after" id="purchaserPhone">01071228966</li>
                        <li id="purchaserEmail">jung_7122@naver.com</li>
                    </ul>
                </div>
                <div class="order-address">
                    <ul class="info-txt">
                        <li class="subscribe-date">
                            <span id="purchaserRole">일반회원</span>
                        </li>
                    </ul>
                </div>
                <!-- 배송지 정보 -->
                <div class="list-head-sub">
                    <h3 class="title-list">배송지 정보</h3>
                    <div class="custom-checkbox">
                        <input type="checkbox" name="" id="orderCheck" class="checkbox"/>
                        <label for="orderCheck"> 주문자 정보와 동일 </label>
                    </div>
                </div>
                <div class="lineless-table type2">
                    <table>
                        <caption>
                            정보 입력
                        </caption>
                        <colgroup>
                            <col style="width: 100px"/>
                            <col/>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th scope="row">받는분</th>
                            <td>
                                <input
                                        type="text"
                                        name="deliveryName"
                                        id="memberName"
                                        title=""
                                        class="input-text w-full removeEmoji"
                                />
                            </td>
                        </tr>
                        <tr class="row-th-top">
                            <th scope="row">주소</th>
                            <td>
                                <div class="input-group-wrap box-type">
                                    <div class="input-group">
                                        <div class="input-group-cell w160">
                                            <input
                                                    type="text"
                                                    id="postcode"
                                                    name="zipcode"
                                                    class="input-text"
                                                    placeholder="우편번호"
                                                    readonly
                                            />
                                        </div>
                                        <div class="input-group-cell">
                                            <input
                                                    type="text"
                                                    id="address"
                                                    name="firstAddress"
                                                    class="input-text"
                                                    placeholder="기본주소"
                                                    readonly
                                            />
                                        </div>
                                        <span
                                                class="input-group-btn"
                                                onclick="sample6_execDaumPostcode()"
                                        >
                                            <a
                                                    href="javascript:void(0)"
                                                    class="btn-ex-white"
                                            >
                                                <span>우편번호 찾기</span>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                                <input
                                        type="text"
                                        id="detailAddress"
                                        name="addressDetail"
                                        class="input-text w-full removeEmoji"
                                        placeholder="상세주소"
                                />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">휴대폰 번호</th>
                            <td>
                                <input
                                        type="text"
                                        name="deliveryPhoneNumber"
                                        title=""
                                        id="userPhoneNumber"
                                        class="input-text w-full"
                                        maxlength="11"
                                        placeholder="휴대폰 번호를 입력해 주세요."
                                />
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="order-info-area">
                    <div class="order-item-box">
                        <div class="userOrderList">
                            <div class="delivery-state normal">
                                <h4 class="tit">상품 리스트</h4>
                                <div class="right-dlv-info">
                                    <img
                                            src="/img/welfare/delivery.png"
                                            alt=""
                                    />
                                    <p class="txt">
                                        <span class="dlvPrice">정기 배송</span>
                                    </p>
                                </div>
                            </div>
                            <ul class="productCart-list">
                                <!-- 화면에 뿌려지는 곳 -->
                            </ul>
                            <div class="total-price-area">
                                <span class="title-list">
                                    총상품 가격 :
                                    <input type="number" id="goBoot" class="input-text total-price"
                                           onkeyup="chkNumber(this)" name="" style="border: none" value="" readonly>
                                    원
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-info">
                    <div class="payment-btn-wrap">
                        <div class="btn-area">
                            <button type="button" class="save-btn" id="goPayment">
                                <span>결제</span>
                            </button>
                            <button type="button" onclick="history.back()" class="subscribe-btn">
                                <span>취소</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<input type="hidden" id="sample6_postcode" placeholder="우편번호"/>
<input type="hidden" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"/><br/>
<input type="hidden" id="sample6_address" placeholder="주소"/><br/>
<input type="hidden" id="sample6_detailAddress" placeholder="상세주소"/>
<input type="hidden" id="sample6_extraAddress" placeholder="참고항목"/>
<footer></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.bootpay.co.kr/js/bootpay-3.3.1.min.js" type="application/javascript"></script>
<script src="https://js.bootpay.co.kr/bootpay-4.2.8.min.js" type="application/javascript"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<script th:inline="javascript">
    let userDetail = [[${userDetail}]];
    let carts = [[${productCartDTOS}]];
    let orderInfoDTO = [[${orderInfoDTO}]];
    console.log(userDetail);
    console.log(carts);
    $('#memberName').val();
</script>
<script src="/js/market/payment-product.js"></script>
<script>

    // order info 정보
    const $zipcode = $('#postcode');
    const $firstAddress = $('#address');
    const $addressDetail = $('#detailAddress');
    const $deliveryName = $('#memberName');
    const $deliveryPhoneNumber = $('#userPhoneNumber');

    $(document).ready(function () {

        let $total = $("#goBoot").val();
        let list = [];
        let cartIds = [];
        let count = 0;

        carts.forEach((cart) => list.push(cart.productName));
        carts.forEach((cart) => count += cart.cartOrderAmount);
        carts.forEach((cart) => cartIds.push(cart.id));
        console.log("수량==========" + count);
        console.log("================================");
        console.log(list);
        console.log("총가격 ===========" + $total);


        const APIKEY = "64619d883049c8001d9686b3";
        /*부트페이 결제 API*/
        $('#goPayment').on('click', function () {

            /*=====================   선언부   =============================*/

            let addressDTO = {
                zipcode: $zipcode.val(),
                firstAddress: $firstAddress.val(),
                addressDetail: $addressDetail.val()
            };

            console.log(addressDTO)

            orderInfoDTO = {
                id: userDetail.id,
                deliveryName: $deliveryName.val(),
                deliveryPhoneNumber: $deliveryPhoneNumber.val(),
                cartIds: cartIds,
                addressDTO: addressDTO
            }

            /*=====================   선언부   =============================*/
            console.log("=======DTO 출력하는 곳============")
            console.log(orderInfoDTO);

            BootPay.request({
                price: 100, //실제 결제되는 가격

                // 관리자로그인 -> 결제설치 -> 인증키 및 보안 -> WEB Application ID
                application_id: APIKEY,
                name: '(주)HappyBox', //결제창에서 보여질 이름
                pg: '',
                method: '휴대폰', //결제수단, 입력하지 않으면 결제수단 선택부터 화면이 시작합니다.
                show_agree_window: 1, // 부트페이 정보 동의 창 보이기 여부
                user: {
                    id: userDetail.id,
                    username: userDetail.userRole,
                },
                items: [
                    {
                        item_name: list, //상품명
                        qty: count, //수량
                        unique: '123', //해당 상품을 구분짓는 primary key
                        price: $total, //상품 단가
                    }
                ],
                order_id: '고유order_id_1234', //고유 주문번호로, 생성하신 값을 보내주셔야 합니다.
            }).error(function (data) {
                //결제 진행시 에러가 발생하면 수행됩니다.
                console.log(data);
            }).cancel(function (data) {
                //결제가 취소되면 수행됩니다.
                const container = document.querySelector(".modal");
                const close = document.querySelector(".pay-popup-check");

                //모달창 열기
                container.style.display = "block";

                //모달창 닫기
                close.addEventListener("click", function () {
                    container.style.display = "none";
                });
                console.log(data);

            }).close(function (data) {
                // 결제창이 닫힐때 수행됩니다. (성공,실패,취소에 상관없이 모두 수행됨)
                console.log(data);
            }).done(function (data) {
                //결제가 정상적으로 완료되면 수행됩니다
                //비즈니스 로직을 수행하기 전에 결제 유효성 검증을 하시길 추천합니다.
                $.ajax({
                    url: "/order/product", // 컨트롤러 주소
                    type: "POST",
                    data: JSON.stringify(orderInfoDTO), // 결제정보 객체 paymetnVO
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        location.href = "/product/list";
                    },
                    error: function (error) {
                        console.log("결제가 취소 되었습니다.");
                    }
                });
            });
        });
    });

</script>
</html>
