/* recipe-board-detail.html */

#whole-container {
    position: relative;
    color: #1c1c1c;
    width: 1100px;
    margin: 0 auto;
}

.page-title-area {
    padding: 70px 39px 0px;
    width: 940px !important;
    margin: 0 auto;
}

.detail-container {
    position: relative;
    width: 940px;
    margin: 0 auto;
    padding: 56px 39px 100px;
}

.detail-container:after {
    display: block;
    clear: both;
    content: "";
}

.slider__sec {
    position: relative;
    float: left;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
}

.slider {
    overflow: hidden;
    width: 400px;
    height: 400px;
}

.swiper-btn {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #e1e1e1;
    border-radius: 100%;
    top: calc(256px / 2);
    margin: 0;
    transform: translateY(-50%);
    position: absolute;
    z-index: 10;
}

.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
}

.swiper-button-prev {
    left: 0;
    right: auto;
    top: 50%;
}

.swiper-button-next {
    right: 0;
    left: auto;
    top: 50%;
}

.swiper-button-prev svg {
    width: 15px;
    height: 15px;
    margin-top: 4px;
    pointer-events: none;
    transform: rotate(180deg);
    z-index: 1;
}

.swiper-button-next svg {
    width: 15px;
    height: 15px;
    pointer-events: none;
    margin-top: 4px;
    z-index: 1;
}

.swiper-button-next svg polygon,
.swiper-button-prev svg polygon {
    pointer-events: none;
    z-index: 1;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before, .slick-track:after {
    content: "";
    display: table;
}

.slick-track:after {
    clear: both;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}

.slick-current {
    display: block;
}

.slide {
    opacity: 1;
    transition: opacity 500ms linear 0s;
}

figure {
    position: relative;
    text-align: center;
}

.slider figure {
    overflow: hidden;
    width: 400px;
    height: 400px;
}

.slick-slide img {
    display: block;
    width: 100%;
    height: 100%;
}

.slick-counter {
    position: absolute;
    left: 25px;
    bottom: 25px;
    background: rgba(255, 255, 255, 0.8);
    width: 80px;
    border-radius: 5px;
    color: #3d3d3d;
    z-index: 1;
    line-height: 35px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.refrig-bnr {
    margin-top: 15px;
    width: 400px;
}

.info-area {
    float: left;
    width: 500px;
    margin-left: 40px;
}

.info-area__btn {
    position: absolute;
    right: 35px;
    top: 90px;
}

.btn-heart {
    display: inline-block;
    margin-right: 32px;
    margin-left: 5px;
    width: 33px;
    height: 33px;
    font-size: 0;
    background: url('	https://www.greating.co.kr/front_mo/images/btn_heart-off-89773fc26a0d16b9188c85866969bb8e.png') no-repeat center center !important;
    background-size: 70% !important;
    vertical-align: middle;
}

.on {
    filter: invert(18%) sepia(80%) saturate(3478%) hue-rotate(356deg) brightness(92%) contrast(134%);
}

.write-button-icon-box {
    display: flex;
    align-items: inherit;
    justify-content: inherit;
  }
  
  .write-button-icon {
    user-select: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: inherit;
  }

  .write-button-icon:hover{
    width: 25px;
    height: 25px;
  }

  .delete-button-icon {
    user-select: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: inherit;
  }

  .delete-button-icon:hover {
    width: 25px;
    height: 25px;
  }
  
.writer-button-wrap {
    display: flex;
    justify-content: space-between;
}

.update-btn {
    /* margin-right: 20px; */
    display: inline-block;
    /* margin-right: 32px; */
    width: 35px;
    height: 31px;
    font-size: 0;
    background-size: 70%;
    vertical-align: middle;
}

.delete-btn {
    /* margin-right: 6px; */
    display: inline-block;
    /* margin-right: 32px; */
    width: 35px;
    height: 31px;
    font-size: 0;
    background-size: 70%;
    vertical-align: middle;
}

.writer-name {
    margin-bottom: 10px;
    font-size: 18px;
    color: #888;
}

.info-area__name {
    padding: 0 80px 15px 0;
    font-size: 26px;
    line-height: 32px;
    word-break: keep-all;
}

.strong {
    font-weight: 600;
    color: #1c1c1c;
    display: block;
}

.info-area__box * {
    font-size: 15px;
    color: #3D3D3D;
}

.info-area__box-list {
    border-top: 1px solid #ccc;
    overflow: hidden;
    height: 397px;
    position: relative;
}

.info-area__box-list::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px; /* blur 처리할 영역의 높이 지정 */
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); /* 배경 그라데이션 추가 */
    cursor: pointer;
  }

.info-area__box-tit {
    float: left;
    padding-top: 18px;
    width: 120px;
    vertical-align: top;
}

.info-area__box-cont {
    float: right;
    position: relative;
    padding: 12px 0;
    width: 100%;
    line-height: 28px;
    vertical-align: top;
    letter-spacing: -0.19px;
}

.rating-point {
    margin-top: 5px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 23px;
  }
  
  .rating-point img {
    width: 23px;
    height: 23px;
    align-items: center;
  }

.info-area__box-button {
    display: block;
    position: relative;
}

.detail-content {
    margin-bottom: 15px;
    font-size: 17.5px;
    white-space:pre-line;
}

.bottom-area {
    display: flex;
    color: #333;
    position: relative;
}

.like-icon {
    width: 78px;
}

.like-btn-wrap {
    display: inline-block;
    width: 35px;
    height: 31px;
    font-size: 0;
    background-size: 70%;
    vertical-align: middle;
    text-align: center;
    margin-top: 7px;
}

.like-btn {
    display: block;
    width: 100%;
}

.like-btn img {
    width: 25px;
    height: 25px;
}

.like-count {
    font-size: 18px;
    font-weight: 700;
    margin-left: 6px;
    line-height: 100%;
}

.comment-icon {
    margin-right: auto;
}

.commnet-btn {
    display: flex;
    align-items: center;
    color: #333;
}

.comment-count {
    font-size: 18px;
    font-weight: 700;
    margin-left: 6px;
    line-height: 100%;
}

.reply-wrap {
    padding: 56px 39px 0px;
    border-top: 1px solid rgb(238, 238, 238);
}

.reply-wrap:first-child {
    border-top: none;
}

.reply-title {
    font-size: 26px;
    color: rgb(51, 51, 51);
    text-align: left;
    font-weight: 600;
    line-height: 41px;
    padding-bottom: 26px;
    letter-spacing: -0.5px;
}

.review-count-wrap {
    display: flex;
    justify-content: flex-end;
    padding: 0 4px;
    margin-bottom: 20px;
}

.review-orders button {
    display: inline-block;
    font-size: 18px;
}

.review-orders button:first-child {
    margin-right: 4px;
}

.fontW700 {
    font-weight: 700 !important;
}

.reply-write-wrap {
    box-sizing: border-box;

}

.reply-write-wrap *{
    box-sizing: border-box;

}

.reply-writer-info {
    margin-bottom: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.write-content-wrap {
    border-radius: 4px;
    border: 1px solid #e1e2e3;
    background-color: #fff;
    height: 146px;
    position: relative;
    overflow: hidden;
    margin-top: 17px;
}

.reply-write-wrap * {
    box-sizing: border-box;
}

.write-textarea {
    width: 100%;
    height: 107px;
    padding: 16px 20px 0;
    border: 0;
    resize: none;
    outline: none;
    font-size: 16px;
}

.write-textarea::-webkit-scrollbar {
    display: none;
}

.write-regist-btn {
    width: 70px;
    height: 32px;
    padding: 0;
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: #FF5938 !important;
    color: #fff;
    border-radius: 6px;
}

.write-update-btn {
    width: 70px;
    height: 32px;
    padding: 0;
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: #FF5938 !important;
    color: #fff;
    border-radius: 6px;
}

.write-cancel-btn {
    width: 70px;
    height: 32px;
    padding: 0;
    position: absolute;
    bottom: 15px;
    right: 88px;
    background-color: #f4f4f4 !important;
    color: #333;
    border-radius: 6px;
}

.active {
    color: #fff;
    background-color: #FF5938 !important;
    border: none;
}

.regist {
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    color: inherit;
}

.review-list-wrap {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 17px 72px 17px;
    border-bottom: 1px solid rgb(244, 244, 244);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.review-list {
    display: flex;
    flex: 1;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    padding-bottom: 21px;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.review-list:last-child {
    border-bottom: none !important;
}

.review-wrap {
    flex: 1;
}

.review-item-name {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: rgb(153, 153, 153);
    overflow: hidden;
    word-break: break-all;
    white-space: normal;
}

.review-content {
    padding-top: 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgb(51, 51, 51);
}

.review-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 19px;
}

.review-date {
    font-size: 14px;
    color: rgb(153, 153, 153);
}

.review-btn-wrap {
    display: flex;
    gap: 8px;
}

.review-rec-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 88px;
    height: 32px;
    padding: 0px 13px 0px 11px;
    border: 1px solid #9a9a9a;
    border-radius: 20px;
    font-size: 11px;
    line-height: 20px;
    color: #2e2e2e;
}

.review-rec-btn:hover {
    background-color: #eee;
}

.review-rec-btn .rec-count {
    margin-left: 6px;
    color: #fe3b25;
    font-weight: 700;
}

.review-list .user-info-wrap {
    flex: 0 0 20%;
}

.user-info-wrap .user-info {
    display: flex;
    align-items: center;
    margin: -1px 0px 7px;
}

.review-list .user-info-wrap {
    flex: 0 0 20%;
}

.user-info-wrap .user-info {
    display: flex;
    align-items: center;
    margin: -1px 0px 7px;
}

.user-type {
    display: inline-block;
    border: 1px solid rgb(95, 0, 128);
    border-radius: 3px;
    padding: 3px 4px 3px 5px;
    margin-right: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 10px;
    text-align: center;
    word-break: keep-all;
    background-color: rgb(255, 255, 255);
    color: rgb(95, 0, 128);
}

.user-id {
    color: #333;
    font-size: 16px;
}

.more-review {
    width: 100%;
    background-color: rgb(250, 250, 250);
    color: #2e2e2e;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
}

.more-review:hover {
    background-color: #eee;
}

/* 모달창 기본 스타일 */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* 모달창 내용 스타일 */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 315px;
}

.modal-content .modal-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 닫기 버튼 스타일 */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-btn-wrap {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.replyBtn-wrap {
    margin-top: 20px !important;
}

.modal-btn {
    padding: 10px 20px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
}

#modal-yesBtn {
    background-color: #f84a3b;
}

#modal-yesBtn:hover {
    background-color: #cb372c;
}

#reply-deleteBtn {
    background-color: #f84a3b;
}

#reply-deleteBtn:hover {
    background-color: #cb372c;
}