/* join.html */

.terms-section {
  background-color: #f7f7f7;
  padding: 100px 0;
}

.frame-full {
  position: relative;
  width: 100%;
}

.terms-section .frame-sm {
  width: 720px;
  background-color: #ffffff;
  padding: 60px 0;
  border-radius: 20px;
}

.frame-sm {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
}

.terms-section .frame-sm .form-group {
  width: 520px;
  margin: 0 auto;
}

.terms-section .frame-sm .form-head h3 {
  font-size: 26px;
  color: #333333;
  font-weight: 700;
  padding-bottom: 4px;
}

.terms-section .frame-sm .form-head p {
  font-size: 13px;
  color: #999999;
  font-weight: 400;
}

.terms-section .terms-toggle-box {
  border-top: none;
  border-bottom: 1px solid #ccc;
  margin-top: 0;
  padding: 24px 0 12px 0;
}

.terms-toggle-box {
  border-radius: 2px;
}

.terms-section .terms-toggle-box .box-head {
  padding-bottom: 0;
  border: none;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.custom-checkbox input[type='checkbox'] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  vertical-align: top;
}

.custom-checkbox input[type='checkbox'] + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  vertical-align: top;
}

.custom-checkbox .checkbox + label {
  padding-left: 26px;
  min-height: 18px;
}

.terms-section .custom-checkbox .checkbox + label:before {
  width: 16px;
  height: 12px;
  background: url('https://www.rankingdak.com/resources/pc/images/icon/ico-terms-off-1.png');
  background-repeat: no-repeat;
  border: none;
  background-size: 16px 12px;
  top: 2px;
}

.terms-section .custom-checkbox .checkbox:checked + label:before {
  width: 16px;
  height: 12px;
  background: url('https://www.rankingdak.com/resources/pc/images/icon/ico-terms-on-1.png');
  background-repeat: no-repeat;
  border: none;
  background-size: 16px 12px;
  top: 2px;
}

.custom-checkbox .checkbox + label:before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  text-align: center;
  box-sizing: border-box;
}

.custom-checkbox > .notice-text {
  padding: 3px 0 0 26px;
  font-size: 12px;
  color: #999;
}

.terms-toggle-box .terms-inner-list {
  padding-top: 18px;
}

.inner-flex .left-item1 {
  float: left;
}

.terms-inner-list > li .custom-checkbox input[type='checkbox'] + label {
  font-size: 13px;
  color: #666;
}

.text-guide-sm2 {
  font-size: 12px;
  color: #999;
  font-weight: normal;
}

.terms-toggle-box .terms-inner-list .inner-flex .btn-box-link1 {
  float: right;
  margin-top: -1px;
}

.terms-section .btn-box-link1 {
  border: none;
}

.btn-box-link1 {
  display: inline-block;
  color: #999;
}

.arrow-0deg {
  transform: rotate(0deg);/* arrow 시작 방향 */
  filter: invert(38%) sepia(11%) saturate(18%) hue-rotate(13deg) brightness(98%);
}

.arrow-180deg {
  transform: rotate(180deg);/* arrow 상세보기 방향 */
  filter: invert(38%) sepia(11%) saturate(18%) hue-rotate(13deg) brightness(98%);
}

.inner-flex:after {
  display: block;
  content: '';
  clear: both;
}

.terms-inner-list .terms-inner-box {
  background: #f8f8f8;
  padding: 12px;
  margin-top: 10px;
  max-height: 125px;
  overflow-y: auto;
  color: #333;
  font-size: 13px;
  line-height: 18px;
}

.ui-toggle-slide .ui-slide-content,
.ui-toggle-slide .ui-slide-subcontent {
  display: none;
}

.terms-inner-list > li + li {
  margin-top: 18px;
}

.terms-section .terms-toggle-box ~ .bl-list-type2 {
  margin-top: 12px;
  padding-bottom: 0;
}

.bl-text-type2,
.bl-list-type2 > li {
  color: #999;
  font-size: 12px;
  padding-left: 15px;
  word-break: break-word;
  text-align: left;
}

.bl-text-type2:before,
.bl-list-type2 > li:before {
  display: inline-block;
  content: '※';
  vertical-align: middle;
  margin: -3px 3px 0 -15px;
}
.bl-text-type2,
.bl-list-type2 > li {
  color: #999;
  font-size: 12px;
  padding-left: 15px;
  word-break: break-word;
  text-align: left;
}

.bl-list-type2 > li + li {
  margin-top: 5px;
}

.terms-section .terms-btn-wrap {
  padding-top: 40px;
}

.text-center {
  text-align: center !important;
}

.terms-section .terms-btn-wrap button {
  width: 520px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 16px 0;
  font-size: 15px;
  font-weight: 400;
}

.btn-dim,
button[disabled] {
  color: #fff;
  background: #ccc;
  border: 1px solid #ccc;
  cursor: default;
}

.btn-primary {
  background: #ff6001;
  color: #fff;
  border: 1px solid #ff6001;
  cursor: pointer;
}

.frame-wrap,
.clear:after,
[class*='frame-']:after {
  display: block;
  clear: both;
  content: '';
}

.join-container {
  min-height: 700px;
  background: #f7f7f7;
  padding: 100px 0;
}

.join-container2 .join-area {
  border-radius: 20px;
}

.join-area {
  width: 720px;
  margin: 0 auto;
  background: #fff;
  padding: 60px 100px 90px;
}

.join-container2 .join-area .join-title {
  font-size: 26px;
  color: #333333;
  font-weight: 700;
  text-align: left;
}

.join-title {
  margin-bottom: 40px;
}

.form-group-area {
  padding: 0;
}

.join-container2 .join-area .form-group {
  padding-left: 0;
}

.join-area .form-group {
  position: relative;
  min-height: 50px;
}

.form-group + .form-group {
  margin-top: 20px;
}

.join-container2 .join-area .form-group .form-head {
  position: relative;
  top: initial;
  left: initial;
  padding-bottom: 8px;
}

.join-container2 .form-group .form-head > .form-label {
  font-weight: 500;
}

.form-group .form-head > .form-label {
  display: inline-block;
}

.form-group .form-tit,
.form-group .form-label {
  font-size: 14px;
  color: #333;
  text-align: left;
}

.form-group .form-label .es2 {
  margin-left: 6px;
  margin-top: 6px;
  vertical-align: super;
}

.es2 {
  width: 4px;
  height: 4px;
  background: #ff6001;
  display: inline-block;
  border-radius: 50%;
}

.join-area .form-group-area legend + .form-group .form-head ~ .input-group {
  margin-top: 0;
}

.join-container2 .input-group.type-lg .input-text {
  border-radius: 6px;
}

.input-group.type-lg .input-text,
.input-text.type-lg {
  height: 50px;
  padding: 3px 15px;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 13px;
}

.input-group > .input-text {
  position: relative;
  display: table-cell;
  float: left;
  width: 100%;
  z-index: 2;
}

.input-text {
  height: 40px;
  padding: 5px 15px;
  background: #fff;
  color: #333;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 13px;
  border-radius: 0;
}

.input-group.type-lg > .input-text + .input-group-form:last-child,
.input-group.type-lg > .input-text + .input-group-btn:last-child {
  padding: 0 0 0 6px;
}

.input-group.type-lg > .input-group-form,
.input-group.type-lg > .input-group-btn {
  display: table-cell;
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  border: 0;
  padding: 0 3px;
}

.input-group.type-lg .select-box,
.input-group.type-lg .btn-form,
.input-group.type-lg .select,
.input-group.type-lg .btn-form {
  height: 50px;
}

.w135 {
  width: 135px !important;
}

.select-box {
  display: inline-block;
  min-width: 120px;
  position: relative;
  height: 40px;
  vertical-align: top;
  z-index: 2;
  text-align: left;
  max-width: 100%;
}

.join-container2 .select-box .select-value {
  border-radius: 6px;
}

.select-box .select-value {
  display: block;
  position: relative;
  height: 100%;
  padding: 0 36px 0 15px;
  border: 1px solid #ccc;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  background: #fff;
}

.select-box .select-value > span {
  position: relative;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  display: block;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  word-break: break-all;
  color: #999;
  margin-left: 14px;
}

.select-box.on .select-value:after {
    top: 23px;
    -webkit-transform: rotate(45deg) translateY(-100%);
}

.input-group.type-lg .select-box .select-list {
    top: 49px;
}

.select-box .select-list {
    display: none;
    overflow-y: auto;
    position: absolute;
    top: calc(100% - 1px);
    width: 100%;
    max-height: 300px;
    padding: 0;
    border: 1px solid #ddd;
    background: #fff;
    z-index: 1;
}

.select-box .select-list li + li {
    border-top: 1px solid #ddd;
}

.select-box .select-list li:first-child {
    margin-top: 0;
}

.select-box .select-list a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 17px 10px;
    background: #fff;
    box-sizing: border-box;
    font-size: 14px;
}

.select-box.on {
    z-index: 4;
}

.select-box.on .select-list {
    display: block;
    border: 1px solid #333;
    border-top: 1px solid #ddd;
}

.join-area .form-group-area .input-group.type-lg .btn-form.btn-default-ex {
  color: #666;
}

.join-container2 .input-group.type-lg .input-group-btn .btn-form {
  border-radius: 6px;
}

.input-group.type-lg .input-group-btn .btn-form {
  height: 50px;
  padding: 0 10px;
  min-width: auto;
  font-size: 13px;
}

.btn-default-ex {
  background: #fff;
  color: #333;
  border: 1px solid #666;
}

.btn-form {
  display: inline-block;
  text-align: center;
}

.input-group.type-lg .btn-form > span {
  line-height: 3.8;
}

.btn-form > span {
  display: inline-block;
  height: 100%;
  line-height: 2.8;
}

.wp100,
.w-full {
  width: 100% !important;
}

.input-group {
  height: 40px;
  position: relative;
  display: table;
  border-collapse: collapse;
}

.form-group .form-head ~ .form-box,
.form-group .form-head ~ .textarea-box,
.form-group .form-head ~ .input-group-wrap,
.form-group .form-head ~ .input-group,
.form-group .form-label ~ .input-group,
.form-group .input-group ~ .input-group {
  margin-top: 6px;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.input-group ~ .valid,
.input-group ~ .text-guide-sm,
.input-group ~ .text-guide-sm2 {
  margin-top: 6px;
  font-size: 13px;
}

.input-group ~ .valid,
.input-group ~ .text-guide-sm,
.input-group ~ .text-guide-sm2 {
  margin-top: 6px;
  font-size: 13px;
}

.error {
  color: #ff490f;
}

.join-area .form-group-area + .btn-bottom-area {
  margin-top: 24px;
}

.join-container .btn-bottom-area {
  border-radius: 6px;
  font-weight: 600;
}

.btn-bottom-area {
  position: relative;
  text-align: center;
}

.join-container2 .join-area .btn-bottom-area .btn-basic-lg2:only-child {
  width: 520px;
  border-right: 5px;
  border-radius: 6px;
}

.login-area .btn-bottom-area .btn-basic-lg2,
.join-area .btn-bottom-area .btn-basic-lg2 {
  height: 50px;
  font-weight: 400;
}

.btn-bottom-area > [class*='btn-']:only-child {
  margin: 0;
}

.btn-basic-lg2 {
  min-width: 180px;
  height: 48px;
  padding: 10px 25px 11px;
}

[class*='btn-basic-'],
[class*='btn-option'],
[class*='btn-rud-'] {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
}

.login-area .btn-bottom-area .btn-basic-lg2 span,
.join-area .btn-bottom-area .btn-basic-lg2 span {
  line-height: 2;
}

.btn-basic-lg2 > span {
  font-size: 15px;
}

[class*='btn-basic-'] > span,
[class*='btn-option'] > span,
[class*='btn-rud-'] > span {
  display: inline-block;
  vertical-align: top;
}

.join-area .form-group .form-horiz-list {
  padding-top: 10px;
}

.form-horiz-list {
  overflow: hidden;
}

.join-area .form-group .form-horiz-list > li {
  margin-right: 30px;
}

.form-horiz-list > li {
  float: left;
  margin-right: 15px;
  padding: 5px 0px;
  vertical-align: top;
}

.custom-radio {
  position: relative;
  display: inline-block;
}

.custom-radio input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.custom-radio .radio + label {
  display: inline-block;
  color: #333;
  position: relative;
  padding-left: 28px;
  height: 20px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.4;
  vertical-align: top;
}

.custom-radio .radio + label:before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 100%;
  box-sizing: border-box;
}

.custom-radio .radio:checked + label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background: #FF6001;
  border-radius: 100%;
}

.bl-list-type2 {
  padding-top: 10px;
}

/* 휴대폰 인증 모달창 */
.layer-wrap, .layer-wrap2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10001;
}

.layer-wrap:before, .layer-wrap2:before{
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.layer-wrap .layer-pop.login-certi-pop,
.layer-wrap2 .layer-pop.login-certi-pop {
  width: 375px;
  min-height: 246px;
}

.layer-wrap .layer-pop,
.layer-wrap2 .layer-pop {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  background-color: #fff;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -webkit-backface-visibility: hidden;
}

.layer-pop.login-certi-pop .layer-inner {
  height: 100%;
}

.layer-pop .layer-inner {
  position: relative;
}

.layer-pop.login-certi-pop .layer-inner .layer-head {
  padding: 30px 30px 35px;
}

.layer-pop.login-certi-pop .layer-pop-title {
  text-align: center;
  font-size: 16px;
}

.layer-head .layer-pop-title {
  font-weight: 500;
  line-height: 20px;
}

.layer-pop .layer-inner .layer-content {
  padding: 0 30px;
}

.layer-pop.login-certi-pop .layer-content .message {
  text-align: center;
  font-size: 13px;
  color: #666;
  margin-bottom: 15px;
}

.input-group > .input-group-txt:first-child, .input-group > .input-group-form:first-child {
  padding-left: 0 !important;
}

.w90 {
  width: 90px !important;
}

.input-group .select-box, .input-group .btn-form {
  height: 40px;
}

.layer-pop.login-certi-pop .layer-content .input-group .select-box {
  min-width: 90px;
}

.input-group > .input-group-txt {
  display: table-cell;
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  padding: 0 5px;
}

.input-group > .input-group-form:first-child + .input-group-form, .input-group > .input-group-form:first-child + .input-group-txt {
  padding: 0 5px 0 0;
}

.input-group .input-text {
  height: 100%;
  padding: 3px 15px;
}

.layer-pop.login-certi-pop .layer-content .btn-area {
  margin-top: 8px;
  text-align: center;
}

.btn-navy {
  color: #fff;
  background: #3a4c67;
  border: 1px solid #3a4c67;
}

.btn-basic-md {
  height: 44px;
  padding: 8px 20px;
}

.btn-basic-md > span {
  font-size: 15px;
  line-height: 1.8;
}

[class*="btn-basic-"] > span, [class*="btn-option"] > span, [class*="btn-rud-"] > span {
  display: inline-block;
  vertical-align: top;
}

.btn-x-sm2 {
  padding: 5px;
  height: 26px;
}

.layer-pop .layer-inner .ui-close-pop {
  position: absolute;
  top: 15px;
  right: 25px;
}

.layer-pop.login-certi-pop .layer-inner .ui-close-pop {
  top: 25px;
}

[class^="ico-x-"] {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
}

.ico-x-black {
  color: #333;
}

.btn-x-sm2 [class^="ico-x-"] {
  width: 16px;
  height: 16px;
}

[class^="ico-x-"]:before, [class^="ico-x-"]:after {
  position: absolute;
  top: 50%;
  left: -3px;
  display: block;
  content: '';
  width: 130%;
  height: 1px;
  /* background: #666; */
  box-shadow: inset 0 0 0 32px;
}

[class^="ico-x-"]:before {
  transform: rotate(45deg);
}
[class^="ico-x-"]:after {
  bottom: 0;
  transform: rotate(-45deg);
}

button .blind {
  position: relative;
  font-size: 0;
  color: transparent;
}

.input-group > .input-group-form, .input-group > .input-group-btn {
  display: table-cell;
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  border: 0;
  padding: 0 5px;
}

.input-group-wrap.box-type3.type-dim {
  border: 1px solid #ccc;
}

.input-group-wrap.box-type3 .input-group .input-text {
  border: 0;
}

.input-group-wrap .input-group > .input-text + .input-group-btn:last-child {
  padding: 0;
  height: 100%;
}

.input-group-wrap.box-type3 .input-group .input-group-btn > .btn-form {
  border-radius: 0;
  padding: 0 25px;
  position: relative;
  height: calc(100% + 2px);
}

.input-group-wrap.box-type3.type-dim .btn-navy {
  background: #ccc;
  border: 1px solid #ccc;
  color: #fff;
}

button span {
  position: relative;
}

.layer-pop.login-certi-pop .bottom-txt-area {
  background: #F8F8F8;
  padding: 25px 30px 40px;
  margin-top: 30px;
}

.bottom-txt-area .tit {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 10px;
}

.dot-list-type1 > li {
  position: relative;
  color: #666;
  font-size: 14px;
  padding-left: 10px;
  word-break: break-word;
}

.bottom-txt-area .dot-list-type1 > li {
  font-size: 13px;
}

.dot-list-type1 > li:before {
  display: inline-block;
  content: '';
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #666;
  vertical-align: top;
  margin: 5px 7px 0 -10px;
}

.input-group.type-lg > .input-group-cell {
    display: table-cell;
    padding: 0 3px;
}